{% extends 'base.html' %}{% load url from future %}{% load glynt_helpers crispy_forms_tags company_tags %}

{% block page_title %}{{ page_title|default:"Untitled Builder Step" }}{% endblock %}

{% block head %}
    {{ wizard.form.media }}
{% endblock %}

{% block css %}
    <link href="{{ STATIC_URL }}css/theme/transaction.css" rel="stylesheet" charset="utf-8"/>
{% endblock %}


{% block prebody %}
    <div class="container" ng-app="App" ng-controller="TransactBuilderCtrl">
        <div class="row">
            <div class="col col-lg-5 col-offset-2">
                {% if page_title %}<h2>{{ page_title }}</h2>{% endif %}
                {% if page_description %}{{ page_description }}{% endif %}
            </div>
            <div class="col col-lg-3">
                <div class="progress progress-striped intake-progress">
                    <div class="bar" style="width: {{ wizard.steps.index|as_percentage_of:wizard.steps.count }};"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-wrap">
        <div class="container">
            <div class="row">
                <div class="col col-lg-8 col-offset-2">

                    <form id="builder-form" data-validate="parsley" action="." method="POST" class="form-horizontal">{% csrf_token %}
                        {{ wizard.management_form }}

                        {% if wizard.form.forms %}
                            {{ wizard.form.management_form }}
                            {% for form in wizard.form.forms %}
                                {% crispy form form.helper %}
                            {% endfor %}
                        {% else %}
                            {% if wizard.form.helper %}
                                {% crispy wizard.form %}
                            {% else %}
                                {{ wizard.form }}
                            {% endif %}
                        {% endif %}

                        <button type="submit" class="btn btn-success btn-large pull-right">Next</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    <script src="{{ STATIC_URL }}js/jquery.dateentry/jquery.dateentry.min.js"></script>
    <script src="{{ STATIC_URL }}transact/js/jquery.plugin.region_clone.js"></script>
    <script>
    $(document).ready(function(){
        var form = $( 'form#builder-form' );
        $('fieldset[data-region-clone]').region_clone();

        /**
        * Date Elements
        **/
        $.each($('[data-date-picker]'), function (i, item) {
            var defaultDate = $(item).attr('data-default-date') || null;
            if (defaultDate !== null) {
                defaultDate = (defaultDate.match( /(today|now)/ ) == -1) ? new Date(defaultDate) : new Date() ;
            }

            $(item).dateEntry({'defaultDate': defaultDate});
        })

        /**
        * Handle the Add cloned region event
        **/
        $(document).on("region_clone_add", function( event ){

            $.each(event.cloned_region.find('input'), function(i, item) {
                form.parsley( 'addItem', item );
            })
            
        });

        /**
        * Handle the Remove cloned region event
        **/
        $(document).on("region_clone_remove", function( event ){

            $.each(event.cloned_region.find('input'), function(i, item) {
                form.parsley( 'removeItem', item );
            })

        });
    });
    </script>
{% endblock %}