{% extends 'base.html' %}{% load crispy_forms_tags company_tags transaction_tags %}

{% block page_title %}{% transpose_company_data page_title %}{% endblock %}

{% block head %}
    {{ wizard.form.media }}
{% endblock %}

{% block css %}
    <link href="{{ STATIC_URL }}css/theme/transaction.css" rel="stylesheet" charset="utf-8"/>
{% endblock %}


{% block prebody %}

<div class="jumbotron-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-offset-2">
                {% if wizard.steps.count > 1 %}
                    <div class="row">
                        <div class="col-lg-6">
                            {% for s in wizard.steps.all %}
                                 <a href="{% url 'transact:builder' project_uuid=project.uuid tx_range=tx_range step=s %}" class="btn btn-info">{{ s }}</a>
                            {% endfor %}
                        </div>
                        <div class="col-lg-6">
                            <div class="progress progress-striped intake-progress">
                                <div class="bar" style="width: {{ wizard.steps.index|as_percentage_of:wizard.steps.count }};"></div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if page_title %}<h2 class="alt">{% transpose_company_data page_title %}</h2>{% endif %}
                {% if page_description %}<p class="softer">{{ page_description }}</a>{% endif %}
            </div>
        </div>
    </div>
</div>

<div class="form-wrap">
    <div class="container">
        <div class="row">
            <div class="col col-lg-8 col-offset-2">

                <form id="builder-form" data-validate="parsley" action="." method="POST" class="form-horizontal">{% csrf_token %}
                    {{ wizard.management_form }}

                    {% if wizard.form.forms %}
                        {{ wizard.form.management_form }}
                        {% for form in wizard.form.forms %}
                            {% crispy form form.helper %}
                        {% endfor %}
                    {% else %}
                        {% if wizard.form.helper %}
                            {% crispy wizard.form wizard.form.helper %}
                        {% else %}
                            {% crispy wizard.form %}
                        {% endif %}
                    {% endif %}
                    <br />
                    <button type="submit" class="btn btn-success btn-large">Next Step</button>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    <script src="{{ STATIC_URL }}transact/js/jquery.plugin.form_json_data.js"></script>
    <script src="{{ STATIC_URL }}transact/js/jquery.plugin.region_clone.js"></script>
    <script src="{{ STATIC_URL }}transact/js/jquery.plugin.show_when.js"></script>

    <script src="{{ STATIC_URL }}js/jquery.dateentry/jquery.dateentry.min.js"></script>

    <script>
    $(document).ready(function(){
        var form = $( 'form#builder-form' );

        {% if update_url %}
            $('input[name={{ wizard.steps.current }}-form_json_data]').form_json_data({
                'update_url': '{{ update_url }}'
            });
        {% endif %}

        $('fieldset[data-region-clone]').region_clone({
            'current_step': {{ wizard.steps.current }}
        });
        $('[data-show-when]').show_when();

        /**
        * Date Elements
        **/
        $.each($('[data-date-picker]'), function (i, item) {
            var defaultDate = $(item).attr('data-default-date') || null;
            if (defaultDate !== null) {
                defaultDate = (defaultDate.match( /(today|now)/ ) == -1) ? new Date(defaultDate) : new Date() ;
            }

            $(item).dateEntry({'defaultDate': defaultDate});
        })


        /**
        * Handle the Add cloned region event
        **/
        $(document).on("ADD_CLONED_REGION_form_json_data", function (event) {

            $.each(event.cloned_region.find('input'), function(i, item) {
                form.parsley( 'addItem', item );
            })
            
        });

        /**
        * Handle the Remove cloned region event
        **/
        $(document).on("REMOVE_CLONED_REGION_form_json_data", function (event) {

            $.each(event.cloned_region.find('input'), function(i, item) {
                form.parsley( 'removeItem', item );
            })

        });
    });
    </script>
{% endblock %}