<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/> 
<title>{{ title|safe }}</title>
<style type="text/css" media="print">
/*django foible here ENSURE that "@page {" NOTE the white space*/
@page {  
 margin-left: 1in;  
 margin-right: 1in;  
 margin-top: 1in;  
 margin-bottom: 1in;  
 font-size: 12pt;
} 
</style>
</head>

<body>
<!-- Content -->
{{ body|safe }}
<!-- Signature Page -->
{{ signature|safe }}
<!-- footer content -->
<p>Document created by LawPal.com.</p>
</body>
</html>