{% load templatetag_handlebars%}
{% if fieldset.name %}<h2>{{ fieldset.name }}</h2>{% endif %}
{% if fieldset.description %}
    <div class="description">{{ fieldset.description|safe }}</div>
{% endif %}
{% for line in fieldset %}
    <div class="form-row{% if line.fields|length_is:'1' and line.errors %} errors{% endif %}{% for field in line %}{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% endfor %}">
        {% if line.fields|length_is:'1' %}{{ line.errors }}{% endif %}
        {% for field in line %}
            <div class="aligned field-box{% if field.field.name %} field-{{ field.field.name }}{% if not field.is_readonly and field.errors %} errors{% endif %}"{% endif %}>
                {% if not line.fields|length_is:'1' and not field.is_readonly %}{{ field.errors }}{% endif %}
                {% if field.is_checkbox %}
                    {{ field.field }}{{ field.label_tag }}
                {% else %}
                    {{ field.label_tag }}
                    {% if field.is_readonly %}
                        <p>{{ field.contents }}</p>
                    {% else %}
                        {{ field.field }}
                    {% endif %}
                {% endif %}
                {% if field.field.help_text %}
                    <p class="help">{{ field.field.help_text|safe }}</p>
                {% endif %}
            </div>
        {% endfor %}
        <div id="document" class="aligned field-box field-document_preview"></div>
    </div>
{% endfor %}

<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.18.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/md5.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/sugar-1.3.5.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/sammyjs/sammy.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/sammyjs/plugins/sammy.json.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/contactObserver.js"></script>
{% handlebars_js %}
<script type="text/javascript" src="{{ STATIC_URL }}handlebars-helpers.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}smoothe/js/rangy-core-1.2.3.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}smoothe/js/hallo-min.js"></script>

{% include 'smoothe/handlebars-templates.html' %}

<script type="application/json" id="document-default_data">{{ original.body|safe }}</script>
<script type="text/x-handlebars-template" id="document-hb">
{{ original.body|safe }}
</script>

<script id="document-preview">
!function ($) {

  "use strict"; // jshint ;_;

  {% include 'smoothe/document.admin.js' %}

}(window.jQuery);
</script>

<style>
  #id_body{
    min-height:480px;
  }
</style>
<link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet">
<link rel="stylesheet" href="{{ STATIC_URL }}smoothe/css/smoothe.css" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/hallo.css" charset="utf-8" />