<div class="row">
    <div class="span6">

        <div class="alert engagement-status">
            <span>Request status: <strong>{{ engagement.status }}</strong></span>
        </div>

        <div class="engagement-types">
            <p>Work required
                {% for t,name in object.engagement_types %}
                    <span class="label">{{ name }}</span>
                {% endfor %}
            </p>
        <hr />
        </div>
        {{ engagement.engagement_statement }}
    </div>

<span class="startup-profile-popup" data-username="{{object.startup.slug}}">&nbsp;</span>

    <div class="span4 side-info-container">
        <div class="well">
            {% if user.profile.is_founder %}
            <span class="profile-popup" data-template="mini" data-username="{{object.lawyer.user.username}}">&nbsp;</span>
            <h3>{{ object.lawyer.full_name }}</h3>
                <dl>
                    <dt>Lawyer Profile</dt>
                    <dd><a href="{{ object.lawyer.get_absolute_url }}">Visit profile</a></dd>
                    <dt>Summary</dt>
                    <dd>
                        {{ object.lawyer.summary|default:'Nothing yet' }}
                    </dd>
                </dl>
            {% else %}
                <span class="profile-popup" data-template="mini" data-username="{{object.founder.user.username}}">&nbsp;</span>
            {% endif %}
        </div>
    </div>
</div>
