<div class="row">
    <div class="span6">

        <div class="alert engagement-status">
            <span>Request status: <strong>{{ engagement.status }}</strong></span>
        </div>

        <div class="engagement-types">
            <p>Work required
                {% for t,name in object.engagement_types %}
                    <span class="label">{{ name }}</span>
                {% endfor %}
            </p>
        <hr />
        </div>
        {{ engagement.engagement_statement }}
    </div>

    <div class="span4 side-info-container">
        <div class="well">
            {% if user.profile.is_founder %}
            <span class="profile-popup" data-username="{{ object.lawyer.user.username }}">&nbsp;</span>
            {% else %}
            <span class="profile-popup" data-username="{{ object.founder.user.username }}">&nbsp;</span>
            <span class="startup-profile-popup" data-username="{{ object.startup.slug }}">&nbsp;</span>
            {% endif %}
        </div>
    </div>
</div>
