*.pyc
*.sqlite3
*.swp
*.swo
*.db
local_settings.py
*.db
*.sqlite
tags

.AppleDouble
:2e_*
._*
.DS_Store
/reports/*
/bdd/vendor/*
/bdd/results/*
/media/*
/static/*
/log/*.log
/MANIFEST
/build
/dist
/dateutil
/django
/djangoappengine
/djangotoolbox
/pyactiveresource
/shopify
/socialregistration
