Django
django-simple-menu

#google-api-python-client # coming soon

#psycopg2 # required for production postgres db
python-memcached

# model charts
pygraphviz

Werkzeug
django-extensions
south

Markdown
pyyaml

markup

celery
#django-rq # potential but not sure

django-templated-email

# Imaging
pillow

xhtml2pdf

django-storages

# getsentry.com
raven
newrelic

-e git+https://github.com/django-debug-toolbar/django-debug-toolbar.git#egg=django-debug-toolbar

-e git+https://github.com/jezdez/django_compressor.git#egg=django_compressor
-e git+https://github.com/toastdriven/django-tastypie.git#egg=django-tastypie
-e git+https://github.com/rosscdh/pybars.git#egg=pybars

#-e git+https://github.com/chrisglass/xhtml2pdf.git#egg=xhtml2pdf # not planning on using xhtml2pdf(pisa) too unstable
#-e git+https://github.com/rosscdh/django-xhtml2pdf.git#egg=django-xhtml2pdf # not planning on using xhtml2pdf(pisa) too unstable

-e git+https://github.com/rosscdh/django-templatetag-handlebars.git#egg=django-templatetag-handlebars
-e git+https://github.com/klen/django_markdown.git#egg=django_markdown

# social sign in
-e git+https://github.com/omab/django-social-auth.git#egg=django-social-auth

-e git+https://github.com/alex/django-taggit.git#egg=django-taggit

# Note the @branch
-e git+https://github.com/rosscdh/django-userena.git@lp#egg=django-userena

-e git+https://github.com/bradjasper/django-jsonfield.git#egg=django-jsonfield
-e git+https://github.com/rosscdh/django-countries.git#egg=django-countries
-e git+https://github.com/rosscdh/django-bootstrap.git#egg=bootstrap
-e git+https://github.com/brack3t/django-braces.git#egg=django-braces
-e git+https://github.com/rosscdh/python-signpad2image.git#egg=python-signpad2image
-e git+https://github.com/lincolnloop/python-qrcode.git#egg=python-qrcode

# Note the @branch
-e git+https://github.com/rosscdh/django-user-streams.git@extended_templates#egg=django-user-streams

django_markup

# Javascript Markdown
# hg clone https://code.google.com/p/pagedown/

# Handlebars helpers
# https://github.com/danharper/Handlebars-Helpers.git
# https://github.com/ivaynberg/select2.git
# https://github.com/timrwood/moment.git

# 3rd party Services
-e git+https://github.com/jkeyes/python-docraptor.git#egg=python-docraptor
-e git+https://github.com/rosscdh/HelloSignApi.git#egg=HelloSignApi

# HTML validation
pytidylib

# Testing
-e git+https://github.com/kmmbvnr/django-jenkins.git#egg=django-jenkins
HTTPretty
behave
django-nose
mocktest
factory_boy