# Drivers
python-memcached
psycopg2 # database drivers

# Django
Django==1.5.5 # frozen at 1.5.5 as 1.6 has substantial changes
django-cities-light

# easydict lookups with dot notation
bunch

# utils for git
mimeparse

# user switcher
django-impersonate

# Deployment
fabric
gitpython
raven
newrelic

django-filepicker
-e git+https://github.com/dcramer/django-uuidfield.git#egg=django-uuidfield
shortuuid
django-extensions
django-braces
django-templated-email

# Api
# tastypie is being depreciated for rest framework
-e git+https://github.com/rosscdh/django-tastypie.git@fix-username-assumption#egg=django-tastypie
djangorestframework
-e git+https://github.com/alex/django-filter.git#egg=django-filter
django-taggit


django-crispy-forms
django-pagination
django-endless-pagination
django-localflavor
django-countries
django-rulez
django-email-obfuscator
south


-e git+https://github.com/jezdez/django_compressor.git#egg=django_compressor

# Stream & Comments
pusher
-e git+https://github.com/rosscdh/django-fluent-comments.git@js-controls#egg=django-fluent-comments
django-threadedcomments
django-notifications-hq # this is for the activity notifications
django-activity-stream

# JSON Field
#django-jsonfield # This is the correct one, the bradjasper version does not save correctly (converts to string), but we probably need to patch it so that the loaddata works
# patched version to work with the pyelasticsearch requriement of the latest simplejson (which no does not support the correct json implementation)
# long an short; simplejson bad, json good
-e git+https://github.com/rosscdh/django-jsonfield.git@lawpal#egg=django-jsonfield

# Auth and Users
-e git+https://github.com/rosscdh/django-social-auth.git@rc_fixes#egg=django-social-auth  # Note the @branch
-e git+https://github.com/rosscdh/django-userena.git@lp#egg=django-userena  # Note the @branch


# Search
-e git+https://github.com/toastdriven/django-haystack.git@bf1b48261a06d3e8f0a0008264d0c5f0465e773b#egg=django_haystack-dev
pyelasticsearch

# Markup
-e git+https://github.com/agiliq/Django-parsley.git#egg=django-parsley
django_markup
markup
Markdown
pyyaml

# text editing and markup/down
-e git+https://github.com/rosscdh/pybars.git#egg=pybars
-e git+https://github.com/rosscdh/django-templatetag-handlebars.git#egg=django-templatetag-handlebars
-e git+https://github.com/klen/django_markdown.git#egg=django_markdown
# Javascript Markdown
# hg clone https://code.google.com/p/pagedown/

# Handlebars helpers
# https://github.com/danharper/Handlebars-Helpers.git
# https://github.com/ivaynberg/select2.git
# https://github.com/timrwood/moment.git

# Imaging
pillow<=1.9 # https://github.com/python-imaging/Pillow/issues/173
-e git+https://github.com/rosscdh/clean-image-crop-uploader.git@rc_fixes#egg=clean-image-crop-uploader

# Documents
crocodoc


# Workers
django-celery
boto # required for AWS-SQS


# Dev
Werkzeug
-e git+https://github.com/django-debug-toolbar/django-debug-toolbar.git#egg=django-debug-toolbar
-e git+https://github.com/playfire/django-debug-toolbar-user-panel.git#egg=django-debug-toolbar-user-panel
-e git+https://github.com/orf/django-debug-toolbar-template-timings.git#egg=django-debug-toolbar-template-timings
django-clear-cache

# Testing
BeautifulSoup
HTTPretty
# for javascript testing
django-casper
mocktest
mock
-e git+https://github.com/vandersonmota/model_mommy.git#egg=model_mommy
-e git+git://github.com/neubloc/django-colortools#egg=django-colortools
pyquery
# in mem storage for files helps speed up tests
django-inmemorystorage

# Abridge integration
-e git+https://github.com/rosscdh/django-abridge.git#egg=django-abridge

# Misc
django-autoslug
python-dateutil
hurry.filesize
requests
termcolor
