{% load crispy_forms_tags glynt_helpers %}

{% if modal_mode %}

<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="myModalLabel">Contact Us</h3>
</div>

<div class="modal-body">
  <form id="contact-us-form-modal" data-validate="parsley" action="{% url 'public:contact_us' %}" method="POST" class="form-horizontal">{% csrf_token %}
    <div class="control-group">
      {{ form.name|as_crispy_field }}
    </div>
    <div class="control-group">
      {{ form.email|as_crispy_field }}
    </div>
    <div class="control-group">
      {{ form.message|as_crispy_field }}
    </div>
  </form>
</div>

<div class="modal-footer">
  <button id="submitMessage" type="submit" class="btn btn-primary">Send Message</button>
</div>

{% endif %}