{% load i18n %}{% load url from future %}
<!-- starts footer -->
<div id="footer" class="no-decoration">
    <div class="container">
        <div class="row copyright">
            <div class="col col-lg-8">
                <ul class="list-inline">
                    <li><a href="{% url 'lawyer:list' %}">Our Lawyers</a></li>
                    <li><a href="{% url 'public:about' %}">About Us</a></li>
                    <li><a href="http://blog.lawpal.com/" target="_BLANK">LawPal Blog</a></li>
                    <li><a href="{% url 'public:terms' %}">Terms and Conditions</a></li>
                    <li><a href="{% url 'public:privacy' %}">Privacy Policy</a></li>
                    <li><a href="{% url 'public:disclaimer' %}">Disclaimer</a></li>
                    <li><a href="{% url 'public:contact_us' %}" data-toggle="modal" class="contact-us">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="col col-lg-4">
                <ul class="list-inline pull-right">
                    <li><a href="//facebook.com/lawpalhq"><i class="icon-facebook"></i></a></li>
                    <li><a href="//twitter.com/lawpalhq"><i class="icon-twitter"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>{% now "Y" %} &middot; {{ PROJECT_NAME }} Inc</p>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal" id="signin-modal">
    <div class="modal-dialog">
        <div>
            <div>
                <div class="startup">
                    <h3>LawPal for Startups</h3>
                    <h4>For now we are only offering legal services to startups in California.</h4>
                    <div></div>
                    <a href="{% url "public:auth_user_class_redirect" user_class_name="customer" login_type="google-oauth2" %}" class="btn btn-primary"><img src="{{ STATIC_URL }}img/google-32.png">Sign in with Google</a>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.modal -->
