{% load i18n menu %}{% load url from future %}
<!-- starts footer -->
<div id="footer">
  <div class="container">
	<div class="row copyright">
		<div class="span5">
			<h3>Social</h3>
			<a href="http://facebook.com/lawpalhq" class="social fb">
				<i class="i_facebook"></i>
			</a>
			<a href="http://twitter.com/lawpalhq" class="social tw">
				<i class="i_twitter"></i>
			</a>
			<!-- <a href="#" class="social yt">
				<i class="i_youtube"></i>
			</a> -->

		</div>
		<div class="span2 offset5 copy">
			<p>{% now "Y" %} - {{ PROJECT_NAME }} Inc</p>
		</div>
	</div>
  </div>
</div>