{% load i18n menu cache %}{% load url from future %}
<a href="#" class="scrolltop">
    <span>up</span>
</a>
 <!-- begins navbar -->
<div class="navbar navbar-fixed-top {% block nav_class %}{% endblock %}">
   <div class="navbar-inner">
     <div class="container">
        {% generate_menu %}
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <a class="brand" data-section="body" href="/">
           <img src="{{ STATIC_URL }}img/logo-nav-white.png" alt="LawPal"> 
           <!-- <span class="">Beta</span> -->
       </a>
        <div class="nav-collapse">
            <ul class="nav pull-right">
             {% if request.user.is_authenticated %}
                <li><a href="{% url 'lawyer:list' %}">{% trans 'Marketplace' %}</a></li>
                <li class="divider-vertical"></li>
                 <li><a id="Intercom" href="mailto:xw4ux8lx@incoming.intercom.io">Support</a></li>
                 <li class="dropdown">
                   <a href="#" class="dropdown-toggle" data-toggle="dropdown"> {{request.user.first_name}} {{request.user.last_name}}<b class="caret"></b></a>
                   <ul class="dropdown-menu">
                        <li><a id="user-profile-form" class="" href="{% if user.profile.is_lawyer %}{% url 'lawyer:setup_profile' %}{% else %}{% url 'startup:setup_profile' %}{% endif %}">{% trans 'Edit Profile' %}</a></li>
                        {% if user.profile.is_lawyer %}<li><a id="user-profile-form" class="" href="{% url 'lawyer:profile' slug=request.user.username %}">{% trans 'View Profile' %}</a></li>{% endif %}
                        {% if PROJECT_ENVIRONMENT != 'prod' %}<li><a id="user-profile" class="" href="{% url 'userena_profile_detail' username=request.user.username %}">{% trans 'Account' %}</a></li>{% endif %}
                        <li><a id="user-profile-form" class="" href="{% if user.profile.is_lawyer %}{% url 'lawyer:invite' %}{% else %}{% url 'startup:invite' %}{% endif %}">{% trans 'Invite Colleagues' %}</a></li>
                        <li><a id="user-logout" class="" href="{% url 'logout' %}">{% trans 'Logout' %}</a></li>
                   </ul>
                 </li>
             {% else %}
                 <li><a href="/">{% trans 'Login' %}</a></li>
             {% endif %}
            </ul>                 
        </div>
     </div>
   </div>
 </div>
 <!-- ends navbar -->