{% extends 'document/base.html' %}
{% load i18n markup sign_tags templatetag_handlebars glynt_helpers %}
{% load url from future %}

{% block owner_info %}
<div class="row-fluid offset3">
    {% if clientcreateddocument %}
    <h2 id="document-title">{{ clientcreateddocument.name }}</h2>
    {% else %}
    <h2 id="document-title">Create - {{ document_template.name }}</h2>
    {% endif %}
</div>
{% endblock %}

{% block prebody %}
<div id="progress" class=""></div>
{% endblock %}

{% block document %}
<div class="row-fluid offset1">
  <div id="document" class="span10">{% show_loading modal='False' %}</div>
  <div id="element_help_text"></div>
</div>
<div class="row-fluid offset1">
  <form id="document-form" action="{{ submit_url }}" method="POST" class="form-horizontal">
    <div class="form-actions">
        {% if clientcreateddocument %}
        <button id="document-edit" type="submit" class="submit btn btn-primary">{% trans "Update" %}</button>
        {% else %}
        <button id="document-create" type="submit" class="submit btn">{% trans "Create Document" %}</button>
        {% endif %}
    </div>
  </form>
</div>
{% endblock %}


{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}smoothe/css/smoothe.css" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}smoothe/css/hallo.css" charset="utf-8" />
{% endblock %}

{% block js %}
<script type="application/json" id="document-document_data">{{ clientcreateddocument.data_as_json|default:''|safe }}</script>
<script type="text/x-handlebars-template" id="document-hb">
{{ document_body.html|default:document_template.body|safe }}
</script>

<script type="text/javascript" src="{{ STATIC_URL }}smoothe/js/rangy-core-1.2.3.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}smoothe/js/hallo-min.js"></script>

{% include 'smoothe/handlebars-templates.html' %}

<script type="text/javascript">
{% include 'smoothe/document.js' %}
</script>
<script type="text/javascript">
$(document).ready(function(){
  /**
  * Handle the percentage complete increment and decrement
  */
  var handle_increment = function(element) {
      window.app.context.progress.increment_percent_complete(element)
  }
  $.Queue('percentCompleteIncrement').subscribe(handle_increment);

  var handle_decrement = function(element) {
      window.app.context.progress.decrement_percent_complete(element)
  }
  $.Queue('percentCompleteDecrement').subscribe(handle_decrement);
});
</script>
{% endblock %}