{% extends 'smoothe/document.html' %}
{% load i18n markup sign_tags templatetag_handlebars glynt_helpers %}
{% load url from future %}

{% block document %}
<div class="row-fluid">
  <div class="span6">
    <h3>{% trans 'Document Details' %}</h3>
    <form id="create-doc" class="form-inline" action="{% url 'doc:create_template' %}" method="post">{% csrf_token %}
      {{ form }}
      <div class="form-actions">
          <button id="create-doc-submit" type="submit" class="submit btn btn-primary">{% trans "Create" %}</button>
      </div>
    </form>
  </div>
  <div id="sidebar" class="span3">&nbsp;</div>
  <div id="element_help_text"></div>
  <div class="span6 pull-right">
    <h3>{% trans 'Preview' %}</h3>
    <div id="document">{% show_loading modal='False' %}</div>
  </div>
</div>
{% endblock %}

{% block css %}
{{ block.super }}
<style>
  #id_body{
    min-width:512px;
    min-height:480px;
  }
</style>
{% endblock %}

{% block js %}
<script type="application/json" id="document-default_data">{{ default_data|default:''|safe }}</script>
<script type="text/x-handlebars-template" id="document-hb">
{{ userdoc.body|default:object.body|safe }}
</script>

<script type="text/javascript" src="{{ STATIC_URL }}smoothe/js/rangy-core-1.2.3.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}smoothe/js/hallo-min.js"></script>

{% include 'smoothe/handlebars-templates.html' %}

<script type="text/javascript">
{% include 'smoothe/document.admin.js' %}
</script>
{% endblock %}