{% extends 'document/base.html' %}
{% load i18n markup sign_tags templatetag_handlebars glynt_helpers %}
{% load url from future %}

{% block owner_info %}
<div class="">
  <h2 id="document-title" class="editable">{{ userdoc.name }}</h2>
</div>
{% endblock %}


{% block document %}
<div class="row">
  <ul id="progress"></ul>
  <div id="document" class="span6">{% show_loading modal='False' %}</div>
  <div id="element_help_text" class="span2"></div>
</div>
{% endblock %}


{% block css %}
<style>
#element_help_text {
  
}
.doc_var, .doc_choice {
background-color: #fef58e;
padding: 2px;
-webkit-touch-callout: text;
-webkit-user-select: text;
-khtml-user-select: text;
-moz-user-select: text;
-ms-user-select: text;
user-select: text;
min-width: 30px;
border-bottom: 2px dotted #f492be;
outline: none;
display: inline-block;
*display: inline;/* for IE7*/
*zoom:1;/* for IE7*/
min-width: 60px;
font-size: 15px;
color: 000;
transition: background-color 0.2s;
transition: background-color 0.2s;
-moz-transition: background-color 0.2s; /* Firefox 4 */
-webkit-transition: background-color 0.2s; /* Safari and Chrome */
-o-transition: background-color 0.2s; /* Opera */
text-align:center;
}

.doc_select{
background-color:#CEEAF8;
border:0px;
margin:15px 0px;
}

.doc_select .doc_select_option{
border-left:solid #08C 2px;
padding-left:2px;
margin:10px 0px;
}

.selecta{
  position:absolute;
}
</style>
<link rel="stylesheet" href="{{ STATIC_URL }}css/hallo.css" charset="utf-8" />
{% endblock %}

{% block js %}
<script type="application/json" id="document-default_data">{{ default_data|default:''|safe }}</script>
<script type="text/x-handlebars-template" id="document-hb">
{{ userdoc.body|default:object.body|safe }}
</script>


<script type="text/x-handlebars-template" id="doc_var-partial">{% verbatim %}
<span class="{{type}} edit" data-has_initial="{{has_initial}}" data-doc_var="{{variable_name}}">{{value}}</span>
{% endverbatim %}</script>


<script type="text/x-handlebars-template" id="doc_select-partial">{% verbatim %}
<div id="doc_select-{{id}}" data-doc_var="{{variable_name}}" class="doc_select">
  {{#each select_options}}
  <div id="content-{{../id}}-{{index}}" class="doc_select_option">{{text}}</div>
  {{/each}}
</div>
{% endverbatim %}</script>


<script type="text/x-handlebars-template" id="doc_select-selecta-partial">{% verbatim %}
<div id="{{id}}" class="selecta {{#if_eq selected compare="true"}}selected{{/if_eq}}" data-target="{{target}}">{{handle}}</div>
{% endverbatim %}</script>


<script type="text/x-handlebars-template" id="doc_choice-partial">{% verbatim %}
<span id="{{id}}" class="doc_choice edit" data-doc_var="{{name}}">{{value}}</span>
{% endverbatim %}</script>


<script type="text/x-handlebars-template" id="toggle-partial">{% verbatim %}
<div id="toggle-{{toggle_for}}" data-toggle_for="{{toggle_for}}" class="toggle row">
  {{#if label}}<div class="label">{{label}}</div>{{/if}}
  <div class="toggle_state btn btn-inverse">{{text}}</div>
</div>
{% endverbatim %}</script>


<script type="text/x-handlebars-template" id="doc_note-partial">{% verbatim %}
<span id="{{id}}" data-note_id="{{id}}" class="note"><i class="note icon-info-sign icon-white icon-align-left"></i>{{content}}</span>
{% endverbatim %}</script>

<script src="{{ STATIC_URL }}js/rangy-core-1.2.3.js"></script>
<script src="{{ STATIC_URL }}js/hallo-min.js"></script>

<script type="text/javascript">
{% include 'smoothe/document.js' %}
</script>
{% endblock %}