{% load i18n markup templatetag_handlebars glynt_helpers %}

<script type="text/x-handlebars-template" id="doc_var-partial">{% verbatim %}
<span id="{{id}}" class="{{type}} edit" data-has_initial="{{has_initial}}" data-doc_var="{{variable_name}}">{{value}}</span>
{% endverbatim %}</script>


<script type="text/x-handlebars-template" id="doc_select-partial">{% verbatim %}
<div id="{{id}}" data-doc_var="{{variable_name}}" class="doc_select">
  {{#each select_options}}
  <div id="content-{{../id}}-{{index}}" class="doc_select_option">{{text}}</div>
  {{/each}}
  {{extended_html}}
</div>
{% endverbatim %}</script>


<script type="text/x-handlebars-template" id="doc_select-selecta-partial">{% verbatim %}
<div id="{{id}}" class="selecta btn {{#if_eq selected compare="true"}}selected{{/if_eq}}" data-target="{{target}}"><i class="icon-eye-close"></i><!--{{handle}}--></div>
{% endverbatim %}</script>


<script type="text/x-handlebars-template" id="doc_choice-partial">{% verbatim %}
<span id="{{id}}" class="doc_choice edit" data-doc_var="{{name}}">{{value}}</span>
{% endverbatim %}</script>


<script type="text/x-handlebars-template" id="toggle-partial">{% verbatim %}
<div id="toggle-{{toggle_for}}" data-toggle_for="{{toggle_for}}" class="toggle row">
  <button class="toggle_state btn btn-inverse">{{text}}</button>
</div>
{% endverbatim %}</script>


<script type="text/x-handlebars-template" id="incrementor-partial">{% verbatim %}
<div id="incrementor-{{incrementor_for}}" data-incrementor_for="{{incrementor_for}}" class="incrementor row">
  <button class="incrementor btn btn-inverse">{{text}}</button>
</div>
{% endverbatim %}</script>


<script type="text/x-handlebars-template" id="doc_note-partial">{% verbatim %}
<span id="{{id}}" data-note_id="{{id}}" class="note"><i class="note icon-info-sign icon-white icon-align-left"></i>{{content}}</span>
{% endverbatim %}</script>