{% load i18n todo_tags glynt_helpers %}
<h4 class="softer"><i class="glyphicon glyphicon-file" style="font-size:15px"></i> {{ object.filename }}</h4>
<!-- if we have a lawyer involved in this project -->
{% if has_lawyer %}
    <!-- if there is a feedback request in action -->
    {% for f in feedback_requests %}        
        {% if f.assigned_by == user %}
            <div class="alert alert-block alert-info text-center">
                <div class="row">
                    <div class="col-9">
                        <p>You have requested feedback from {{ f.primary_assigned_to.get_full_name|default:f.primary_assigned_to.username }} on this attachment.</p>
                    </div>
                 </div>
             </div>
        {% else %}
            <div class="alert alert-block alert-alert text-center">
                <div class="row">
                    <div class="col-9">
                        <!-- <div class="profile-card" data-template="mini" data-username="{{ f.assigned_by.username }}" data-img_class="img-circle"></div> -->
                        <p>{{ f.assigned_by.get_full_name|default:f.assigned_by.username }} has requested your feedback on this attachment. Please review the document below, add comments if required and click 'Feedback Complete'</p>
                    </div>
                 </div>
             </div>
        {% endif %}

            {% if f.status == FEEDBACK_STATUS.open %}
                <button class="btn btn-success pull-right" data-href="/api/v1/feedback_request/{{ f.pk }}" data-toggle="modal" data-target="#modal-feedback-form" data-is_ajax="false" data-pk="{{ f.pk }}" data-attachment="{{ object.pk }}" data-assigned_by="{{ user.pk }}" data-assigned_to="{{ opposite_user.pk }}" data-status="{% if f.assigned_by == user %}{{ FEEDBACK_STATUS.cancelled }}{% else %}{{ FEEDBACK_STATUS.closed }}{% endif %}">{% if f.assigned_by == user %}Cancel Request{% else %}Feedback Complete{% endif %}</button>
            {% endif %}

    {% empty %}
        <!-- if no feedback request present -->
        <!-- and is_customer or is_lawyer -->
        <button class="btn btn-primary pull-right" data-href="/api/v1/feedback_request" data-toggle="modal" data-target="#modal-feedback-form" data-attachment="{{ object.pk }}" data-assigned_by="{{ user.pk }}" data-assigned_to="{{ opposite_user.pk }}" data-status="{{ FEEDBACK_STATUS.open }}">Request Feedback</button>
    {% endfor %}
{% endif %}

{% if not feedback_requests %}
<div class="row">
    <div class="btn-group pull-right">
        {% if object.uploaded_by == user or is_lawyer %}<button class="btn btn-delete-attachment btn-link pull-right" data-pk="{{ object.pk }}">Delete</button>{% endif %}
        <button class="btn btn-fullscreen btn-link pull-right">Full Screen</button>
    </div>
</div>
{% endif %}
<br />
<iframe id="crocdoc-viewer-iframe" src="{{ view_url }}" width="100%" height="550px" frameborder="none" style="margin-top:5px;"></iframe>

<script type="text/javascript">
$(document).ready(function () {
    var docViewer = $('#crocdoc-viewer-iframe');
    var win = null;
    
    /**
     * Attach onclick behaviour to "Full Screen" button
     * @param  {Event} event Javascript event object, most likely click event
     */
    $(document).on( 'click', '.btn-fullscreen', function (event) {
        event.preventDefault();
        win = win || null;

        if( !win || win.closed===true ) {
            // Open window
            win = openFullScreen( docViewer.attr('src') );
        }
        else if( win && $(".btn-fullscreen").attr("data-toggle")==="true") {
            // Close window
            closeFullScreen( win );
        }
    });

    $(document).on( 'click', '.btn-delete-attachment', function (event) {
        event.preventDefault();

        var elem = $(this);
        var pk = elem.data('pk');

        elem.fadeOut('slow');

        var url = '/api/v1/attachment/{pk}'.assign({'pk': pk});
        var data = {
            'deleted_by': {'pk': '{{ user.pk }}'}
        };

        $.ajax({
            type: 'DELETE',
            url: url,
            data: JSON.stringify(data),
            dataType: 'application/json',
            contentType: 'application/json',
            beforeSend: function (jqXHR, settings) {
                // Pull the token out of the DOM.
                jqXHR.setRequestHeader('X-CSRFToken', $('input[name=csrfmiddlewaretoken]:first').val());
            },
            complete: function () {
                loadAttachments();
            }
        });

    });

    /**
     * Open crocodoc fullscreen
     * @param  {String} url Url to open
     * @return {Object}     Javascript Window object
     */
    function openFullScreen( url ) {
        if ( url ) {
            newWindow = window.open(url, 'crocdoc-fullscreen', 'width={width}, height={height}, left=0, top=0, scrollbars=yes, fullscreen=yes'.assign({'width': window.width, 'height':  window.height}));
            // Fade out preview
            docViewer.fadeTo( "slow", 0.25);
            // Set text of Full screen button
            $(".btn-fullscreen").html("Close Full Screen").attr("data-toggle","true");
            // Attach onClose event listener
            onWindowClose( newWindow, function(){
                closeFullScreen( newWindow, url );
            });

            // Even if window has been opened before try to bing it to the front, this will not work in some browsers
            try { newWindow.focus(); } catch(e) {}

            return newWindow;
        }
    }
    /**
     * Close full screen window, to make preview area opaque again
     * @param  {Object} win Javascript window object
     * @param  {String} url URL of the crocodoc
     */
    function closeFullScreen( win, url ) {
        try { win.close(); } catch(e) {}

        if( url ) {
            $(".btn-fullscreen").html("Full Screen").attr("data-toggle","false");
            // Fade out preview
            docViewer.fadeTo( 2000, 1);
            docViewer.attr('src', url);
        }
    }

    /**
     * Checks to see if the browser window opened previously is closed
     *     A pollingtechnique is done to aviod cross browser and cross domain issues
     * @param   {Object}    win Window object
     * @param   {Function}  fn  Function to call when the window is closed
     */
    function onWindowClose( win, fn ) {
        var checker =  setInterval( function(){
            if( win.closed === true )
            {
                clearInterval(checker);
                fn();
            }
        }, 2000);
    }
});
</script>