{% extends 'base.html' %}{% load paginator glynt_helpers %}

{% block page_title %}What's the current status?{% endblock %}
{% block nav_checklist %}<li class="active"><a href="{% url 'dashboard:checklist' %}">Checklist</a></li>{% endblock %}

{% block body %}
<div class="container item-view">
    <div class="page-header">
        <button type="button" class="btn btn-success btn-large pull-right">Resolve issue</button>
        <span class="text-muted">Misc</span>
        <h2>What's the current status?</h2>
        <ul class="nav nav-tabs header-nav">
            <li><a href="/dashboard/"><h3>Overview</h3></a></li>
            <li class="active"><a href="/dashboard/bcd76cce0c7c4f1783b0ed7d7eff9c32/checklist/"><h3>Checklist</h3></a></li>
        </ul>
    </div>

    <div class="row">
        <div class="col col-lg-12">
            <div class="row">
                <div class="col col-lg-8">
                    <div class="row post">
                        <div class="col col-lg-2 post-avatar">
                            <a href=""><img src="https://si0.twimg.com/profile_images/3695837467/19d70ecfaf043c373c4476cac70a24da.jpeg" class="img-circle" width="128"></a>
                        </div>
                        <div class="col col-lg-10 post-content">
                            <span class="post-meta text-muted"><a href="">Alex Halliday</a> opened this issue 2 days ago</span>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                            <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                            <p>Typi non habent claritatem insitam.</p>
                            <ul class="list-inline post-actions">
                                <li><a href="">Edit</a></li>
                                <li class="seperator">&middot;</li>
                                <li><a href="">Reply</a></li>
                                <li class="seperator">&middot;</li>
                                <li><a href="">Delete</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="row post">
                        <div class="col col-lg-2 post-avatar">
                            <a href=""><img src="http://celebpictu.com/images/sally-sparrow-02.jpg" class="img-circle" width="128"></a>
                        </div>
                        <div class="col col-lg-10 post-content">
                            <span class="post-meta text-muted"><a href="">Sally Sparrow</a> commented on this issue 2 days ago</span>
                            <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
                            <ul class="list-inline post-actions">
                                <li><a href="">Edit</a></li>
                                <li class="seperator">&middot;</li>
                                <li><a href="">Reply</a></li>
                                <li class="seperator">&middot;</li>
                                <li><a href="">Delete</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="row post">
                        <div class="col col-lg-2 post-avatar">
                            <a href=""><img src="https://si0.twimg.com/profile_images/3695837467/19d70ecfaf043c373c4476cac70a24da.jpeg" class="img-circle" width="128"></a>
                        </div>
                        <div class="col col-lg-10 post-content">
                            <span class="post-meta text-muted"><a href="">Alex Halliday</a> commented on this issue 2 days ago</span>
                            <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima.</p>
                            <ul class="list-inline post-actions">
                                <li><a href="">Edit</a></li>
                                <li class="seperator">&middot;</li>
                                <li><a href="">Reply</a></li>
                                <li class="seperator">&middot;</li>
                                <li><a href="">Delete</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="row post">
                        <div class="col col-lg-2 post-avatar">
                            <a href=""><img src="http://celebpictu.com/images/sally-sparrow-02.jpg" class="img-circle" width="128"></a>
                        </div>
                        <div class="col col-lg-10 post-content">
                            <span class="post-meta text-muted"><a href="">Sally Sparrow</a> commented on this issue 2 days ago</span>
                            <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                            <ul class="list-inline post-actions">
                                <li><a href="">Edit</a></li>
                                <li class="seperator">&middot;</li>
                                <li><a href="">Reply</a></li>
                                <li class="seperator">&middot;</li>
                                <li><a href="">Delete</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="row post">
                        <div class="col col-lg-2 post-avatar">
                            <a href=""><img src="https://si0.twimg.com/profile_images/3695837467/19d70ecfaf043c373c4476cac70a24da.jpeg" class="img-circle" width="128"></a>
                        </div>
                        <div class="col col-lg-10 post-reply">
                            <form>
                                <textarea rows="3" placeholder="Leave a comment"></textarea>
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-success">Resolve</button>
                                    <button type="submit" class="btn btn-default">Comment</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col col-lg-4">
                    <div class="well">
                        <h3>Recent Activity</h3>
                        <table class="table stories">
                            <tbody>
                                <tr class="story">
                                    <td class="story-actor">
                                        <a href="#"><img src="https://si0.twimg.com/profile_images/3695837467/19d70ecfaf043c373c4476cac70a24da.jpeg" class="img-circle" width="28"></a>
                                    </td>
                                    <td class="story-info">
                                        <p><a href="">Alex Halliday</a> opened the item.</p>
                                        <span class="text-muted">2 hours ago</span>
                                    </td>
                                </tr>
                                <tr class="story">
                                    <td class="story-actor">
                                        <a href="#"><img src="http://celebpictu.com/images/sally-sparrow-02.jpg" class="img-circle" width="28"></a>
                                    </td>
                                    <td class="story-info">
                                        <p><a href="">Sally Sparrow</a> commented on the item.</p>
                                        <span class="text-muted">2 hours ago</span>
                                    </td>
                                </tr>
                                <tr class="story">
                                    <td class="story-actor">
                                        <a href="#"><img src="https://si0.twimg.com/profile_images/3695837467/19d70ecfaf043c373c4476cac70a24da.jpeg" class="img-circle" width="28"></a>
                                    </td>
                                    <td class="story-info">
                                        <p><a href="">Alex Halliday</a> commented on the item.</p>
                                        <span class="text-muted">2 hours ago</span>
                                    </td>
                                </tr>
                                <tr class="story">
                                    <td class="story-actor">
                                        <a href="#"><img src="http://celebpictu.com/images/sally-sparrow-02.jpg" class="img-circle" width="28"></a>
                                    </td>
                                    <td class="story-info">
                                        <p><a href="">Sally Sparrow</a> commented on the item.</p>
                                        <span class="text-muted">2 hours ago</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}