{% extends 'base.html' %}{% load i18n todo_tags glynt_helpers crispy_forms_tags comments templatetag_handlebars jsonify %}

{% block page_title %}What's the current status?{% endblock %}
{% block nav_checklist %}<li class="active"><a href="{% url 'dashboard:checklist' %}">Checklist</a></li>{% endblock %}

{% block prebody %}

<div class="container" style="padding:15px 0px 0px 0px;"> 
    <h3>{{ object.name }}<!-- <span class="pull-right" style="opacity:0.6">{{ object.display_status }}</span> -->
        <div class="pull-right clearfix">
            <div class="btn-group">
              <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                IN PROGRESS <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#" class="text-muted">New</a></li>
                <li><a href="#"><strong>In Progress</strong></a></li>
                <li><a href="#">Complete</a></li>
              </ul>
            </div>
            <div class="btn-group">
                {% if back_and_forth.prev %}<button class="btn btn-prev"><i class="icon-chevron-left"></i></button>{% endif %}
                <button class="btn btn-home"><i class="icon-home"></i></button> 
                {% if back_and_forth.next %}<button class="btn btn-next"><i class="icon-chevron-right"></i></button> {% endif %}
                <button class="btn btn-delete"><i class="icon-trash"></i></button>
            </div>
        </div>
    </h3>
</div>

    <hr>

<div class="container"> 
    <div class="row">
        <div class="col col-lg-12">
            <div class="row">
                <div class="col col-lg-4 sidebar">
                    <div>
                        <h3 class="brand">
                            Attachments 
                            <!--<a href="#" class="btn btn-default btn-small pull-right"><i class="icon-arrow-up"></i> Attach a file</a>-->
                        </h3>
                            {% crispy attachment_form %}
                            {{ attachment_form.media }}
                        <br />
                        <div id="attachments" class="list-group">
                            <a id="no-attachments" href="#" class="list-group-item disabled">
                                <span class="softer">No attachments yet</span>
                            </a>
<!--                             <a href="#" class="list-group-item active feedback">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                                <h4 class="list-group-item-heading">Convertible loan note draft2.doc <span class="badge important">1</span></h4>
                                <p class="list-group-item-text">Added 5 days ago by Joan Rivers</p>
                            </a> -->
                        </div>
                    </div>
                   
                 <hr />
                
                    <h3 class="brand"><span>Discuss</span></h3>
                    {% render_comment_form for object %}
                    {#% render_comment_list for object %#}

                    <h3 class="brand"><span>Updates</span></h3>
                     <div class="row">
                        <div id="updates-stream" class="col col-lg-12">
                            {% todo_stream todo=object %}
                        </div>
                    </div>
                    
                </div>

                <div class="col col-lg-8" style="">
                    <div id="crocdoc-viewer-empty" class="hide">
                        <h2>No attachment present</h2>
                        <p>Please <a trigger-upload href="">upload a document</a>, to continue</p>
                    </div>
                    <div id="crocdoc-viewer-container" class="hide">
<!--                         <div class="alert alert-block alert-success text-center">
                          <p>Ross Crawford has requested your feedback on this document. </p>
                        </div> -->
                        <!--  IF ATTORNEY
                        <button class="btn btn-primary pull-right">Request Feedback</button>-->
                        <button class="btn btn-success pull-right">Feedback Complete</button> 
                        <div class="btn-group pull-right">
                        <!-- Is part of the crocdoc functionality <button class="btn btn-link pull-right">Download</button> -->
                        <button class="btn btn-delete btn-link pull-right">Delete</button>
                        <button class="btn btn-fullscreen btn-link pull-right">Full Screen</button>
                        </div>
                        <br />
                        <br />
                        <iframe id="crocdoc-viewer-iframe" src="" width="100%" height="550px" frameborder="none" style="margin-top:5px;"></iframe> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/ajax-comments.js"></script>
<script type="text/javascript" src="//d3dy5gmtp8yhk7.cloudfront.net/2.1/pusher.min.js"></script>
<script type="text/javascript">

var viewer_container = $('#crocdoc-viewer-container');
var view_container_empty = $('#crocdoc-viewer-empty');

var COMMENT_CONTROLS = (window.COMMENT_CONTROLS !== undefined) ? window.COMMENT_CONTROLS : {
    'is_reversed': true,
    'scroll_to_comment': true,
    'alerts': false,
};

$(document).ready(function(){

    var todo_list_tpl = Handlebars.compile($('script#tpl-todo_list').html());

    function add_stream_item(context) {

console.log(context)
        var data = $.extend(true, {}, context, {
            'timestamp': 'just then',
        });
console.log(data)
        var html = todo_list_tpl(data);

        $('#updates-stream').find('[data-stream_list]:first').prepend(html);
    };

    // Enable pusher logging - don't include this in production
    Pusher.log = function(message) {
      if (window.console && window.console.log) {
        window.console.log(message);
      }
    };

    var pusher = new Pusher('{{ PUSHER_KEY }}');
    var channel = pusher.subscribe('{{ object.pusher_id }}');
    channel.bind_all(function(event_name, data) {

        if ( typeof data == 'object' && data.label ) {
            GlyntJsMessages.clear = true;
            GlyntJsMessages.add_message(data.label);
            GlyntJsMessages.add_message('<a href="javascript:document.location.reload();">Click to refresh</a>');
            GlyntJsMessages.show();
console.log(data)
            add_stream_item(data);
        }

    });

    $('a[trigger-upload]').on('click', function (event) {
        event.preventDefault();
        $('div.fpfilewidget button.btn-primary:first').trigger('click');        
    });

    $('.btn-home').on('click', function (event) {
        event.preventDefault();
        document.location = "{% url 'dashboard:checklist' uuid=project.uuid %}";
    });
    $('.btn-next').on('click', function (event) {
        event.preventDefault();
        {% if back_and_forth.next.slug %}
        document.location = "{% url 'todo:item' project_uuid=project.uuid slug=back_and_forth.next.slug %}";
        {% endif %}
    });
    $('.btn-prev').on('click', function (event) {
        event.preventDefault();
        {% if back_and_forth.prev.slug %}
        document.location = "{% url 'todo:item' project_uuid=project.uuid slug=back_and_forth.prev.slug %}";
        {% endif %}
    });
    $('.btn-delete').on('click', function (event) {
        event.preventDefault();

        var elem = $(this);
        elem.fadeOut('slow');

        var target_elem = $('a.attachment-item.active:first');
        var attachment_id = target_elem.data('attachment_id');

        if (attachment_id) {
            var url = 'http://local.weareml.com:8000/api/v1/todo/attachment/{attachment_id}'.assign({'attachment_id': attachment_id});
            $.ajax({
                type: 'DELETE',
                url: url,
                dataType: 'application/json',
                contentType: 'application/json',
                beforeSend: function(jqXHR, settings) {
                    // Pull the token out of the DOM.
                    jqXHR.setRequestHeader('X-CSRFToken', $('input[name=csrfmiddlewaretoken]:first').val());
                },
                complete: function() {
                    target_elem.remove();
                    console.log($('a.attachment-item:first').length)
                    if ($('a.attachment-item:first').length > 0) {
                        $('a.attachment-item:first').trigger('click');
                    } else {
                        console.log('no items hide main show message')
                        viewer_container.hide();
                        view_container_empty.removeClass('hide').show();
                    }
                }
            });
        }
    });

    /**
    * Variables used to re populate droppable area
    **/
    window.drop_pad = $('div.fpfilewidget').find('div:first');
    window.original_drop_pad_text = window.drop_pad.html()

    /**
    * Load attachments from url
    */
    var document_iframe = $('iframe#crocdoc-viewer-iframe');
    var hb_attachments_source = $("script#tpl-attachment").html();
    window.hb_attachments_list = Handlebars.compile(hb_attachments_source);
    loadAttachments();

    $(document).on( 'click', 'a.attachment-item', function(event) {

        viewer_container.fadeOut('slow');
        var elem = $(event.currentTarget);
        var attachment_id = elem.data('attachment_id');

        var url = '/todo/attachment/{pk}/crocdoc/session/'.assign({'pk': attachment_id});

        setActiveAttachment(elem);

        $.getJSON(url, function (data) {
            document_iframe.attr('src', data.view_url);
            $('.btn-delete').show();
            $('#crocdoc-viewer-container').removeClass('hide')
            viewer_container.fadeIn('slow');
        });
    });
});


function setActiveAttachment(elem) {
    $.each($('a.attachment-item'), function (i, elem) {
        var elem = $(elem);
        elem.removeClass('active');
        elem.removeClass('feedback');
    });
    elem.addClass('active');
}

function loadAttachments() {
    var attachments_elem = $('div#attachments');

    $.each($('[data-api-url]'), function (i, elem) {
        elem = $(elem);
        var url = '{api_url}?todo={todo}'.assign({'api_url': elem.data('apiUrl'), 'todo': '{{ object.pk }}'});

        $.getJSON(url, function (data) {
                if (data.meta.total_count >= 1) {
                    attachments_elem.html('');
                    $.each(data.objects, function (i, context) {
                        addAttachment(attachments_elem, context);
                    });

                    $('a.attachment-item:first').trigger('click');

                } else {
                    viewer_container.hide();
                    view_container_empty.removeClass('hide').show();
                }
        });
    });
}

function addAttachment(elem, context) {
    var html = window.hb_attachments_list(context);
    elem.prepend(html);
    view_container_empty.hide();
}

/**
* Method used to handle the InkFilePicker upload complete event
* https://developers.inkfilepicker.com/docs/web/#widgets-pick
**/
HandleAttachment = function HandleAttachment(event) {
    var elem = $(event.srcElement);
    var form = elem.closest('form');
    var url = elem.data('apiUrl');
    var fpfile = event.fpfile || {};
    var data = {};

    // append our fpfile info to the data object
    data.data = {'fpfile': fpfile};

    $.each(form.serializeArray(), function (i, e) {
        data[e.name] = e.value;
    });
    delete data.csrfmiddlewaretoken;

    if ( url && fpfile.url ) {
        $.ajax({
            type: 'POST',
            url: url,
            data: JSON.stringify(data),
            dataType: 'application/json',
            contentType: "application/json",
            beforeSend: function(jqXHR, settings) {
                // Pull the token out of the DOM.
                jqXHR.setRequestHeader('X-CSRFToken', $('input[name=csrfmiddlewaretoken]').val());
            },
            success: function(data, textStatus, jqXHR){
                console.log(data)
            },
            error: function(data, textStatus, jqXHR){
            },
            complete: function() {
                loadAttachments();
                elem.val('')
                window.drop_pad.html(window.original_drop_pad_text);
            }
        });
    }
}

</script>


{% tplhandlebars "tpl-attachment" %}
<a href="javascript:;" data-attachment_id="{{ id }}" class="attachment-item list-group-item">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <h4 class="list-group-item-heading">{{ data.fpfile.filename }}</h4>
    <p class="list-group-item-text"><span rel="tooltip" title="{{ date_created }}" data-humanize-date="{{ date_created_unix }}">{{ date_created }}</span></p>
</a>
{% endtplhandlebars %}


{% tplhandlebars "tpl-todo_list" %}
<li>
    {{ name }} {{ verb }} "<b>{{ target }}</b>
    <br/><span class="text-muted pull-right">{{ timestamp }}</span>
    {{#if content }}<blockquote><b>{{ content }}</b></blockquote>{{/if}}
</li>
{% endtplhandlebars %}

{% endblock %}



{% block css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fluent_comments/css/ajaxcomments.css" />
<style>

.temp-col-avatar img {
    width:20px;
}
.temp-col-avatar {
    width:25px;
    float:left;
    padding-left:6px;
}
.temp-col-content {
    width:340px;
    float:left;
    padding-left:6px;
}
.alert {
    margin-bottom:10px;
}
.dropdown-menu > li > a {
    font-size:16px;
}
.sidebar {
    padding:15px 25px 150px 20px;
    margin-top:-21px;
    border-right:1px solid #eee;
}
.activity li {
    margin-bottom:10px;
}
.drop-pane {
    width:170px;
    text-align: center;
    color:#666!important;
    padding:6px 0px!important;
    border-radius: 2px;
    opacity:0.8;
}
</style>
{% endblock %}