{% extends 'base.html' %}{% load paginator glynt_helpers threadedcomments_tags %}

{% block page_title %}What's the current status?{% endblock %}
{% block nav_checklist %}<li class="active"><a href="{% url 'dashboard:checklist' %}">Checklist</a></li>{% endblock %}

{% block prebody %}

<div class="container" style="padding:15px 0px 0px 0px;"> 
    <h3>{{ object.name }}<!-- <span class="pull-right" style="opacity:0.6">{{ object.display_status }}</span> -->
        <div class="pull-right clearfix">
            <div class="btn-group">
              <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                IN PROGRESS <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#" class="text-muted">New</a></li>
                <li><a href="#"><strong>In Progress</strong></a></li>
                <li><a href="#">Complete</a></li>
              </ul>
            </div>
            <div class="btn-group">
                {% if back_and_forth.prev %}<button class="btn btn-prev"><i class="icon-chevron-left"></i></button>{% endif %}
                <button class="btn btn-home"><i class="icon-home"></i></button> 
                {% if back_and_forth.next %}<button class="btn btn-next"><i class="icon-chevron-right"></i></button> {% endif %}
                <button class="btn btn-delete"><i class="icon-trash"></i></button>
            </div>
        </div>
    </h3>
</div>

    <hr>

<div class="container"> 
    <div class="row">
        <div class="col col-lg-12">
            <div class="row">
                <div class="col col-lg-4 sidebar">
                    <div>
                        <h3 class="brand">
                            Attachments 
                            <!--<a href="#" class="btn btn-default btn-small pull-right"><i class="icon-arrow-up"></i> Attach a file</a>-->
                        </h3>
                            {{ attachment_form }}
                            {{ attachment_form.media }}
                        <br />
                        <div class="list-group">
                            {% for a in object.attachments.all %}
                                <a href="#" class="list-group-item">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                    <h4 class="list-group-item-heading">Convertible loan note draft1.doc</h4>
                                    <p class="list-group-item-text">Added 5 days ago by Joan Rivers</p>
                                </a>
                            {% empty %}
                                <a href="#" class="list-group-item disabled">
                                    <span class="softer">No attachments yet</span>
                                </a>
                            {% endfor %}
<!--                             <a href="#" class="list-group-item active feedback">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                                <h4 class="list-group-item-heading">Convertible loan note draft2.doc <span class="badge important">1</span></h4>
                                <p class="list-group-item-text">Added 5 days ago by Joan Rivers</p>
                            </a> -->
                        </div>
                    </div>
                   
                 <hr />
                
                    <h3 class="brand"><span>Discuss</span></h3>
                    {% render_comment_form for object %}
                    {% render_comment_list for object %}

                    <h3 class="brand"><span>Updates</span></h3>
                     <div class="row">
                        <div class="col col-lg-12">
                            <ul class="list-unstyled softer activity">
                                <li>
                                    <a href="">Sally Sparrow</a> marked <a href="#">Note purchase agreement.doc</a> as feedback complete<span class="text-muted"> yesterday</span>
                                </li>
                                <li>
                                    <a href="">Sally Sparrow</a> commented on <a href="#">Note purchase agreement draft 1.doc</a><span class="text-muted"> yesterday</span>
                                 </li>
                                <li>
                                   <span class="post-meta"><a href="">Alex Halliday</a> requested feedback on <a href="#">Note purchase agreement draft 1.doc</a><span class="text-muted"> yesterday</span>
                            </ul>
                        </div>
                    </div>
                    
                </div>

                <div class="col col-lg-8" style="">
                    <div style="">
                        <div class="alert alert-block alert-success text-center">
                          <p>Ross Crawford has requested your feedback on this document. </p>
                        </div>
                             
 
                    <!--  IF ATTORNEY
                        <button class="btn btn-primary pull-right">Request Feedback</button>-->
                     <button class="btn btn-success pull-right">Feedback Complete</button> 
                        <div class="btn-group pull-right">
                         <button class="btn btn-link pull-right">Download</button>
                         <button class="btn btn-link pull-right">Delete</button>
                         <button class="btn btn-link pull-right">Full Screen</button>
                        </div>
                        <br />
                        <br />
                         <iframe src="https://crocodoc.com/view/IIs-mnN3MkteqLeQJ3px3XXFff7dn4IRWPWhZ5kswywl_11xfQgxKCo2jER5fIjc2toXX1FPaDcjjN9zGkUCJ3gIIjZGBXH3NT6_NCiILVsN_FBzuG65u8NU1VQs7uvTdOy_hMKOh6thj1r140z8oSEsI1HV1t-d90iYz-MkyKJ5NF0AUx_VJidszb_9imMcgRMjiMb7pQD9TbWGSwY7iVbW" width="100%" height="550px" frameborder="none" style="margin-top:5px;"></iframe> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
$('.btn-home').on('click', function (event) {
    event.preventDefault();
    document.location = "{% url 'dashboard:checklist' uuid=project.uuid %}";
});
$('.btn-next').on('click', function (event) {
    event.preventDefault();
    document.location = "{% url 'todo:item' project_uuid=project.uuid slug=back_and_forth.next.slug %}";
});
$('.btn-prev').on('click', function (event) {
    event.preventDefault();
    document.location = "{% url 'todo:item' project_uuid=project.uuid slug=back_and_forth.prev.slug %}";
});
$('.btn-delete').on('click', function (event) {
    event.preventDefault();
    console.log('delete event')
});

</script>
{% endblock %}

{% block css %}
<style>

.temp-col-avatar img {
    width:20px;
}
.temp-col-avatar {
    width:25px;
    float:left;
    padding-left:6px;
}
.temp-col-content {
    width:340px;
    float:left;
    padding-left:6px;
}
.alert {
    margin-bottom:10px;
}
.dropdown-menu > li > a {
    font-size:16px;
}
.sidebar {
    padding:15px 25px 150px 20px;
    margin-top:-21px;
border-right:1px solid #eee;}
.activity li {
    margin-bottom:10px;
}
label[for=id_attachment]{
    display:none;
}
.drop-pane {
    width:170px;
    text-align: center;
    color:#666!important;
    padding:6px 0px!important;
    border-radius: 2px;
    opacity:0.8;
}
/*
.feedback-requested{
    background-color:#f7fc7b;
    font-weight:bold;
}
.btn-upload {
margin:0 auto;
}
h3 {
    font-size:28px;
    margin-bottom:20px;
}
h3 span {
    border-bottom: 3px solid #c4f0f7;
}
ul.activity li {
    margin-bottom:10px;
}*/
</style>
{% endblock %}