{% extends 'base.html' %}{% load i18n glynt_helpers todo_tags jsonify project_tags %}

{% block page_title %}Checklist &mdash; {% project_name project %}{% endblock %}

{% block header %}
    <!-- Page Header -->
    <div class="page-header">
        <div class="container">
            <!-- Header -->
            <h1>Checklist</h1>
        </div>
    </div>
{% endblock %}

{% block body %}
    {% csrf_token %}
    <!-- start: AngularJS: checklist controller //-->
    <!-- var pusher = new Pusher('{{ PUSHER_KEY }}');
        var channel = pusher.subscribe('{{ project.pusher_id }}');//-->
    <div class="container checklist-view" ng-controller="checklistCtrl" ng-init="initalise( { 'project': { 'uuid': '{{ project.uuid }}' }, 'pusher': { 'key':'{{ PUSHER_KEY }}', 'channel':'{{ project.pusher_id }}' } } )">
        <div class="row">
            <div class="col col-lg-3">
                <div class="sidebar" data-spy="affix" data-offset-top="80">
                    <div class="subnav">
                        <ul id="checklist-categories" class="nav nav-pills nav-stacked">
                            <li ng-repeat="category in model.categories" ng-class="{'active':$first}">
                                <a href="#{[{category.slug}]}"><span ng-bind-html-unsafe="category.label"></span><span class="num_assigned_to_user badge assigned pull-right" xng-bind="assignedPerCategory(category)" ng-bind="category.numAssigned"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col col-lg-9">

                <alert ng-repeat="alert in model.alerts" type="alert.type" close="closeAlert($index)">
                    <span ng-bind="alert.message"></span>
                </alert>
                
                <div id="list-items">
                    <section ng-repeat="category in model.categories">
                        <div id="{[{category.slug}]}" class="checklist-header clearfix">
                            <h3 class="pull-left" ng-bind-html-unsafe="category.label"></h3>
                            {% if is_lawyer %}
                            <!-- Add new checklist item //-->
                            <button type="button" class="btn btn-link pull-right create-item" title="Create new item" data-tooltip="Create new checklist item" ng-click="createItem( category )">
                                    <i class="glyphicon glyphicon-plus-sign"></i>
                            </button>
                            {% endif %}
                        </div>

                        <table class="table table-striped checklist">
                            <tbody>
                                <!-- start: AngularJS: checklist item controller //-->
                                <tr ng-repeat="item in model.checklist | filter: { 'category': category.label } | filter: { is_deleted: model.showDeletedItems } | orderBy: item.sort_position_by_cat" class="item state-{[{getItemStatus(item)}]}" ng-class="{'assigned-to-user':getAssignedStatus()}" ng-controller="checklistItemCtrl">
                                    <!-- Checklist item status //-->
                                    <td class="item-status">
                                        <i class="icon-state-{[{getItemStatus(item)}]}"></i>
                                    </td>
                                    <!-- Checklist item name //-->
                                    <td class="item-info" checklist-item-link ng-click="viewItem( item )"></td>
                                    {% if is_lawyer %}
                                    <!-- Checklist item actions //-->
                                    <td class="item-meta" checklist-item-actions></td>
                                    {% endif %}
                                </tr>
                                <!-- end: AngularJS: checklist item controller //-->
                            </tbody>
                        </table>
                        <!-- Table //-->
                    </section>
                </div>
        </div>
    </div>
    <!-- end: AngularJS: checklist controller //-->
{% endblock %}

{% block js %}
    <!--<script src="{{ STATIC_URL }}js/jquery.hotkeys-0.8.js"></script>-->
    <script src="{{ STATIC_URL }}todo/jquery.plugin.filter_status.js"></script>
    <script src="{{ STATIC_URL }}todo/jquery.plugin.edit_label.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}todo/angularjs.checklistCtrl.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}todo/angularjs.checklistItemCtrl.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}todo/angularjs.checklistItemDirective.js"></script>
    <script type="text/javascript" src="//d3dy5gmtp8yhk7.cloudfront.net/2.1/pusher.min.js"></script>

    <script>
    /**
    * LawPal Data object used by AngularJS
    */
    var LawPal = {
        /**
        * Primary list of the checklist items
        */
        "checklist_data": function () {
            return {{ checklist_json|safe }};
        },
        /**
        * Feedback requests are requests that are associated
        * with an item that applies to the currentuser
        */
        "feedback_requests": function () {
            return {{ feedback_requests|jsonify }}
        },
        "is_lawyer": {{ is_lawyer|jsonify }},
        "is_customer": {{ is_customer|jsonify }},
        "checklist_categories": function() {
            return [{% for c in checklist.categories %}{% if forloop.counter != 1 %},{% endif %}{ "label": "{{c}}", "slug": "{{ c|slugify }}" } {% endfor %}];
        },
        "getEndpoint": function() {
            var urls = {
                "checklist" : 
                    {
                        "item" : {
                            "view": "{% url 'todo:item' project_uuid=':project_uuid' slug=':slug' %}",
                            "create": "{% url 'todo:create' project_uuid=':project_uuid' %}?category=:categoryLabel",
                            "form": "{% url 'todo:edit' project_uuid=':project_uuid' slug=':slug' %}"
                        } 
                    }
            };

            return function( path ) {
                var url = urls;
                if( angular.isArray(path) )
                {
                    for(var i=0;i<path.length;i++) {
                        url = url[ path[i] ];
                    }
                    if( angular.isString(url) )
                        return url;
                    else
                        return null;
                }
            }
        }
    };

    </script>
{% endblock %}

{% block modals %}
    {% include 'todo/modals/edit_checklist_item.html' %}
{% endblock %}