{% extends 'base.html' %}
{% load url from future %}{% load i18n todo_tags glynt_helpers crispy_forms_tags comments templatetag_handlebars jsonify project_tags %}

{% block page_title %}{{ object.name }} &mdash; {% project_name project %}{% endblock %}

{% block header %}
    <!-- Page Header -->
    <div class="page-header">
        <div class="container">
            <!-- Breadcrumbs -->
            <ol class="breadcrumb">
                <li><a href="{% url 'dashboard:checklist' uuid=project.uuid %}">{% trans 'Checklist' %}</a></li>
                <li><a href="{% url 'dashboard:checklist' uuid=project.uuid %}#{{ object.category | slugify }}">{{ object.category }}</a></li>
            </ol>

            <!-- Header -->
            <h1 href="{% url 'todo:edit' project_uuid=project.uuid slug=object.slug %}" data-toggle="modal" data-target="#modal-checklist-item" data-is_ajax="true" class="link pull-left">{{ object.name }}</h1>

            <div class="pull-right">
                {% todo_primary_interface todo=object %}
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col col-lg-12">
            <div class="row">
                <div class="col col-lg-4 sidebar">
                    <div>
                        <h3 class="brand">Attachments</h3>
                        {% crispy attachment_form %}
                        {{ attachment_form.media }}
                        <br />
                        <div id="attachments" class="list-group"></div>
                    </div>

                    <hr />

                    <h3 class="brand"><span>Discussion</span></h3>
                    {% render_comment_form for object %}

                    <h3 class="brand"><span>Updates</span></h3>
                     <div class="row">
                        <div id="updates-stream" class="col col-lg-12">
                            {% todo_stream todo=object %}
                        </div>
                    </div>
                </div>

                <div class="col col-lg-8" style="">
                    <div id="crocdoc-viewer-empty" class="hide text-center">
                        <br />
                        <h1 class="text-muted"><i class="icon-file-text"></i></h1>
                        <h3 class="softer">No attachments yet</h3>
                    </div>
                    <div id="crocdoc-viewer-container" class="hide">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/ajax-comments.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.getPath.js"></script>
<script type="text/javascript" src="//d3dy5gmtp8yhk7.cloudfront.net/2.1/pusher.min.js"></script>
<script type="text/javascript">

var viewer_container = $('#crocdoc-viewer-container');
var view_container_empty = $('#crocdoc-viewer-empty');

var COMMENT_CONTROLS = (window.COMMENT_CONTROLS !== undefined) ? window.COMMENT_CONTROLS : {
    'is_reversed': true,
    'scroll_to_comment': true,
    'alerts': false,
};

$(document).ready(function () {

    var todo_list_tpl = Handlebars.compile($('script#tpl-todo_list').html());

    function update_todo_status(data) {
        $('#todo_display_status').html(data.instance_dispay_status)
    }

    function add_stream_item(context) {

        var data = $.extend(true, {
            'timestamp': 'just then',
        }, context);

        var html = todo_list_tpl(data);

        $('#updates-stream').find('[data-stream_list]:first').prepend(html);
        $('#updates-stream').find('[data-stream_list] li:first').effect("highlight", {}, 3500);
    };

    /**
    * Puser.com integration
    */
    // Enable pusher logging - don't include this in production
    {% if DEBUG %}Pusher.log = function (message) {
      if (window.console && window.console.log) {
        window.console.log(message);
      }
    };{% endif %}

    var pusher = new Pusher('{{ PUSHER_KEY }}');
    var channel = pusher.subscribe('{{ object.pusher_id }}');
    channel.bind_all(function (event_name, data) {
        if ( typeof data == 'object' && data.label ) {
            /**
            GlyntJsMessages.clear = true;
            GlyntJsMessages.add_message(data.label);
            GlyntJsMessages.add_message('<a href="javascript:document.location.reload();">Click to refresh</a>');
            GlyntJsMessages.show();
            **/
            if (data.event == 'todo.status_change') {
                update_todo_status(data);
            } else {
                add_stream_item(data);
            }
        }

    });

    $(document).on( 'click', 'a[trigger-upload]', function (event) {
        event.preventDefault();
        $('div.fpfilewidget button.btn-primary:first').trigger('click');
    });


    $(document).on( 'click', '.btn-home', function (event) {
        event.preventDefault();
        document.location = "{% url 'dashboard:checklist' uuid=project.uuid %}";
    });

    $(document).on( 'click', '.btn-next', function (event) {
        event.preventDefault();
        {% if back_and_forth.next.slug %}
        document.location = "{% url 'todo:item' project_uuid=project.uuid slug=back_and_forth.next.slug %}";
        {% endif %}
    });

    $(document).on( 'click', '.btn-prev', function (event) {
        event.preventDefault();
        {% if back_and_forth.prev.slug %}
        document.location = "{% url 'todo:item' project_uuid=project.uuid slug=back_and_forth.prev.slug %}";
        {% endif %}
    });

    {% if user.profile.is_lawyer %}

        $(document).on( 'click', '.btn-close-item', function (event) {
            event.preventDefault();

            var elem = $(this);
            elem.fadeOut('slow');

            var url = '/api/v1/todo/{pk}'.assign({'pk': '{{ object.pk }}'});

            $.ajax({
                type: 'PATCH',
                url: url,
                data: JSON.stringify({'status': {{ TODO_STATUS.closed }} }),
                dataType: 'application/json',
                contentType: 'application/json',
                beforeSend: function (jqXHR, settings) {
                    // Pull the token out of the DOM.
                    jqXHR.setRequestHeader('X-CSRFToken', $('input[name=csrfmiddlewaretoken]:first').val());
                },
                complete: function () {
                    // redirect back to main list when closed
                    document.location = '{% url "dashboard:checklist" uuid=project.uuid %}';
                }
            });
        });

        $(document).on( 'click', '.btn-reopen-item', function (event) {
            event.preventDefault();

            var elem = $(this);
            elem.fadeOut('slow');

            var url = '/api/v1/todo/{pk}'.assign({'pk': '{{ object.pk }}'});

            $.ajax({
                type: 'PATCH',
                url: url,
                data: JSON.stringify({'status': {{ TODO_STATUS.open }} }),
                dataType: 'application/json',
                contentType: 'application/json',
                beforeSend: function (jqXHR, settings) {
                    // Pull the token out of the DOM.
                    jqXHR.setRequestHeader('X-CSRFToken', $('input[name=csrfmiddlewaretoken]:first').val());
                },
                complete: function () {
                    document.location.reload();
                }
            });
        });

        $(document).on( 'click', '.btn-delete', function (event) {
            event.preventDefault();

            var elem = $(this);
            elem.fadeOut('slow');

            var url = '/api/v1/todo/{pk}'.assign({'pk': '{{ object.pk }}'});

            $.ajax({
                type: 'PUT',
                url: url,
                data: JSON.stringify({'is_deleted': true}),
                dataType: 'application/json',
                contentType: 'application/json',
                beforeSend: function (jqXHR, settings) {
                    // Pull the token out of the DOM.
                    jqXHR.setRequestHeader('X-CSRFToken', $('input[name=csrfmiddlewaretoken]:first').val());
                },
                success: function () {
                    if ($('#item-nav-controls .btn-next:first').length > 0) {
                        $('#item-nav-controls .btn-next:first').trigger('click');
                    } else {
                        console.log('home')
                        $('#item-nav-controls .btn-home:first').trigger('click');
                    }
                },
                complete: function () {
                    console.log('deleted')
                }
            });
        });
    {% endif %}

    /**
    * Variables used to re populate droppable area
    **/
    window.drop_pad = $('div.fpfilewidget').find('div:first');
    window.original_drop_pad_text = window.drop_pad.html()

    /**
    * Load attachments from url
    */
    var document_iframe = $('iframe#crocdoc-viewer-iframe');
    var hb_attachments_source = $("script#tpl-attachment").html();
    window.hb_attachments_list = Handlebars.compile(hb_attachments_source);
    loadAttachments();

    $(document).on( 'click', 'a.attachment-item', function (event) {

        viewer_container.fadeOut('slow');
        var elem = $(event.currentTarget);
        var attachment_id = elem.data('attachment_id');

        setActiveAttachment(elem);

        $.ajax({
            type: 'GET',
            url: "{% url 'todo:attachment' pk=0 %}".replace('0', '{pk}').assign({'pk': attachment_id}),
            beforeSend: function (jqXHR, settings) {
                // Pull the token out of the DOM.
                jqXHR.setRequestHeader('X-CSRFToken', $('input[name=csrfmiddlewaretoken]').val());
            },
            success: function (data, textStatus, jqXHR){
                viewer_container.html(data);
            },
            complete: function () {
                view_container_empty.addClass('hide').hide();
                viewer_container.removeClass('hide').fadeIn();
            }
        });
    });

});


function setActiveAttachment(elem) {
    $.each($('a.attachment-item'), function (i, elem) {
        var elem = $(elem);
        elem.removeClass('active');
        elem.removeClass('feedback');
    });
    elem.addClass('active');
}

function loadAttachments() {
    var attachments_elem = $('div#attachments');

    $.each($('[data-api-url]'), function (i, elem) {
        elem = $(elem);
        var url = '{api_url}?todo={todo}'.assign({'api_url': elem.data('apiUrl'), 'todo': '{{ object.pk }}'});

        $.getJSON(url, function (data) {
                if (data.meta.total_count >= 1) {
                    attachments_elem.html('');
                    $.each(data.objects, function (i, context) {
                        addAttachment(attachments_elem, context);
                    });
                    // Load the most recent item first
                    $('a.attachment-item:last').trigger('click');

                } else {
                    viewer_container.hide();
                    view_container_empty.removeClass('hide').show();
                }
        });
    });
}

function addAttachment(elem, context) {
    var html = window.hb_attachments_list(context);
    elem.prepend(html);
    view_container_empty.hide();
}

/**
* Method used to handle the InkFilePicker upload complete event
* https://developers.inkfilepicker.com/docs/web/#widgets-pick
**/
HandleAttachment = function HandleAttachment(event) {
    var elem = $(event.srcElement);
    var form = elem.closest('form');
    var url = elem.data('apiUrl');
    var fpfile = event.fpfile || {};
    var data = {};

    // append our fpfile info to the data object
    data.uploaded_by = {'pk': '{{ user.pk }}'};
    data.data = {
        'fpfile': fpfile,
    };

    $.each(form.serializeArray(), function (i, e) {
        data[e.name] = e.value;
    });
    delete data.csrfmiddlewaretoken;

    if ( url && fpfile.url ) {
        $.ajax({
            type: 'POST',
            url: url,
            data: JSON.stringify(data),
            dataType: 'application/json',
            contentType: "application/json",
            beforeSend: function (jqXHR, settings) {
                // Pull the token out of the DOM.
                jqXHR.setRequestHeader('X-CSRFToken', $('input[name=csrfmiddlewaretoken]').val());
            },
            success: function (data, textStatus, jqXHR){
                console.log(data)
            },
            error: function (data, textStatus, jqXHR){
            },
            complete: function () {
                loadAttachments();
                elem.val('')
                window.drop_pad.html(window.original_drop_pad_text);
            }
        });
    }
}

</script>


{% tplhandlebars "tpl-attachment" %}
<!-- give the <a> a class of pending-feedback if the current user has needs to give feedback -->
<a href="javascript:;" data-attachment_id="{{ id }}" class="attachment-item list-group-item">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <h5 class="list-group-item-heading"></i> {{ data.fpfile.filename }}</h5>
    <!--
    Extra exclamation sign (if the user needs to give feedback)
    <h5 class="list-group-item-heading"><i class="glyphicon glyphicon-exclamation-sign"></i> {{ data.fpfile.filename }}</h5>
    -->
    <p class="list-group-item-text"><span rel="tooltip" title="{{ date_created }}" data-humanize-date="{{ date_created_unix }}"><!-- {{ date_created }} --></span></p>
</a>
{% endtplhandlebars %}


{% tplhandlebars "tpl-todo_list" %}
<li>
    {{ verb }} <b>{{ target }}</b>
    <br/><span class="text-muted pull-right">{{ timestamp }}</span>
    {{#if content }}<blockquote><b>{{ content }}</b></blockquote>{{/if}}
</li>
{% endtplhandlebars %}

{% endblock %}



{% block css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fluent_comments/css/ajaxcomments.css" />
<style>
.link {
    cursor: pointer;
    cursor: hand;
}
.temp-col-avatar img {
    width:20px;
}
.temp-col-avatar {
    width:25px;
    float:left;
    padding-left:6px;
}
.temp-col-content {
    width:340px;
    float:left;
    padding-left:6px;
}
.alert {
    margin-bottom:10px;
}
.dropdown-menu > li > a {
    font-size:16px;
}
.sidebar {
    padding:15px 25px 150px 20px;
    margin-top:-21px;
    border-right:1px solid #eee;
}
textarea#id_comment {
    height:60px;
    margin-bottom:10px;
}
.activity li {
    margin-bottom:4px;
    font-size:12px;
    color:#989898;
}
.activity li blockquote{
    background-color:#f6f3f3;
    border-radius: 20px;
    border-left:0px;
    margin-bottom:0px;
    font-size:13px;
    padding:9px 10px 9px 15px;

}
.activity li.comment {
    margin:15px 0px;
    color:#777;
    font-size:12px;
}
.activity li span {
    font-size:10px;
    white-space: nowrap;
    padding-right:5px;
}
#comment-added-message, #comment-waiting {
    color:#ccc;
}
#div_id_attachment .col-lg-7 {
    width:100%;
}
#div_id_attachment .col-lg-7 .drop-pane {
    width:170px;
    text-align: center;
    color:#666!important;
    padding:6px 0px!important;
    border-radius: 2px;
    opacity:0.8;
}
a.list-group-item h5.list-group-item-heading  {
    line-height:1.3em;
}
</style>
{% endblock %}

{% block modals %}
    {% include 'todo/modals/edit_checklist_item.html' %}
    {% include 'todo/modals/feedback_form.html' %}
{% endblock %}