{% extends 'dashboard/base.html' %}

{% block page_title %}Checklist{% endblock %}
{% block nav_checklist %}<li class="active"><a href="{% url 'dashboard:checklist' %}">Checklist</a></li>{% endblock %}

{% block body %}
    <div class="container">
        <div class="page-header" style="margin-bottom: 20px;">
            <a class="btn btn-large btn-success pull-right" href="#">New Item</a>
            <h1>Browse Checklist</h1>
        </div>
        <div class="row">
            <div class="span3">
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="#">All Items</a></li>
                    <li><a href="#">Incorporation</a></li>
                    <li><a href="#">Note Financing</a></li>
                    <li><a href="#">Series Seed</a></li>
                </ul>
            </div>
            <div class="span9">
                <div class="options clearfix">
                    <div class="btn-group pull-left">
                        <button class="btn">12 Open</button>
                        <button class="btn">34 Closed</button>
                    </div>

                    <div class="btn-group pull-right">
                        <button class="btn dropdown-toggle" data-toggle="dropdown">Sort: <strong>Newest</strong> <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a>Oldest</a></li>
                            <li><a>Newest</a></li>
                            <li><a>Most commented</a></li>
                            <li><a>Least commented</a></li>
                            <li><a>Recently updated</a></li>
                            <li><a>Least recently updated</a></li>
                        </ul>
                    </div>
                </div>

                <table class="table table-striped">
                    <thead>
                        <th style="width: 48px;"></th>
                        <th></th>
                        <th style="width: 100px;"></th>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img src="http://placehold.it/48" class="img-rounded"></td>
                            <td>
                                <div>
                                    <a href="{% url 'dashboard:item' id='519b56fdde5b2ad608002fa0' %}">What's the current state?</a>
                                    <span class="label label-warning">Note Financing</span>
                                </div>
                                <small class="muted">Opened by <a href="#">Joe Bloggs</a> <span>&middot;</span> 5 hours ago<small>
                            </td>
                            <td style="text-align: center; vertical-align: middle;"><span class="label label-success">RESOLVED</span></td>
                        </tr>
                        <tr>
                            <td><img src="http://placehold.it/48" class="img-rounded"></td>
                            <td>
                                <div>
                                    <a href="{% url 'dashboard:item' id='519b56fdde5b2ad608002fa0' %}">What's the current state?</a>
                                    <span class="label label-warning">Note Financing</span>
                                </div>
                                <small class="muted">Opened by <a href="#">Joe Bloggs</a> <span>&middot;</span> 5 hours ago<small>
                            </td>
                            <td style="text-align: center; vertical-align: middle;"><span class="label label-success">RESOLVED</span></td>
                        </tr>
                        <tr>
                            <td><img src="http://placehold.it/48" class="img-rounded"></td>
                            <td>
                                <div>
                                    <a href="{% url 'dashboard:item' id='519b56fdde5b2ad608002fa0' %}">What's the current state?</a>
                                    <span class="label label-warning">Note Financing</span>
                                </div>
                                <small class="muted">Opened by <a href="#">Joe Bloggs</a> <span>&middot;</span> 5 hours ago<small>
                            </td>
                            <td style="text-align: center; vertical-align: middle;"><span class="label label-success">RESOLVED</span></td>
                        </tr>
                        <tr>
                            <td><img src="http://placehold.it/48" class="img-rounded"></td>
                            <td>
                                <div>
                                    <a href="{% url 'dashboard:item' id='519b56fdde5b2ad608002fa0' %}">What's the current state?</a>
                                    <span class="label label-warning">Note Financing</span>
                                </div>
                                <small class="muted">Opened by <a href="#">Joe Bloggs</a> <span>&middot;</span> 5 hours ago<small>
                            </td>
                            <td style="text-align: center; vertical-align: middle;"><span class="label label-success">RESOLVED</span></td>
                        </tr>
                        <tr>
                            <td><img src="http://placehold.it/48" class="img-rounded"></td>
                            <td>
                                <div>
                                    <a href="{% url 'dashboard:item' id='519b56fdde5b2ad608002fa0' %}">What's the current state?</a>
                                    <span class="label label-warning">Note Financing</span>
                                </div>
                                <small class="muted">Opened by <a href="#">Joe Bloggs</a> <span>&middot;</span> 5 hours ago<small>
                            </td>
                            <td style="text-align: center; vertical-align: middle;"><span class="label label-success">RESOLVED</span></td>
                        </tr>
                        <tr>
                            <td><img src="http://placehold.it/48" class="img-rounded"></td>
                            <td>
                                <div>
                                    <a href="{% url 'dashboard:item' id='519b56fdde5b2ad608002fa0' %}">What's the current state?</a>
                                    <span class="label label-warning">Note Financing</span>
                                </div>
                                <small class="muted">Opened by <a href="#">Joe Bloggs</a> <span>&middot;</span> 5 hours ago<small>
                            </td>
                            <td style="text-align: center; vertical-align: middle;"><span class="label label-success">RESOLVED</span></td>
                        </tr>
                        <tr>
                            <td><img src="http://placehold.it/48" class="img-rounded"></td>
                            <td>
                                <div>
                                    <a href="{% url 'dashboard:item' id='519b56fdde5b2ad608002fa0' %}">What's the current state?</a>
                                    <span class="label label-warning">Note Financing</span>
                                </div>
                                <small class="muted">Opened by <a href="#">Joe Bloggs</a> <span>&middot;</span> 5 hours ago<small>
                            </td>
                            <td style="text-align: center; vertical-align: middle;"><span class="label label-success">RESOLVED</span></td>
                        </tr>
                        <tr>
                            <td><img src="http://placehold.it/48" class="img-rounded"></td>
                            <td>
                                <div>
                                    <a href="{% url 'dashboard:item' id='519b56fdde5b2ad608002fa0' %}">What's the current state?</a>
                                    <span class="label label-warning">Note Financing</span>
                                </div>
                                <small class="muted">Opened by <a href="#">Joe Bloggs</a> <span>&middot;</span> 5 hours ago<small>
                            </td>
                            <td style="text-align: center; vertical-align: middle;"><span class="label label-success">RESOLVED</span></td>
                        </tr>
                        <tr>
                            <td><img src="http://placehold.it/48" class="img-rounded"></td>
                            <td>
                                <div>
                                    <a href="{% url 'dashboard:item' id='519b56fdde5b2ad608002fa0' %}">What's the current state?</a>
                                    <span class="label label-warning">Note Financing</span>
                                </div>
                                <small class="muted">Opened by <a href="#">Joe Bloggs</a> <span>&middot;</span> 5 hours ago<small>
                            </td>
                            <td style="text-align: center; vertical-align: middle;"><span class="label label-success">RESOLVED</span></td>
                        </tr>
                        <tr>
                            <td><img src="http://placehold.it/48" class="img-rounded"></td>
                            <td>
                                <div>
                                    <a href="{% url 'dashboard:item' id='519b56fdde5b2ad608002fa0' %}">What's the current state?</a>
                                    <span class="label label-warning">Note Financing</span>
                                </div>
                                <small class="muted">Opened by <a href="#">Joe Bloggs</a> <span>&middot;</span> 5 hours ago<small>
                            </td>
                            <td style="text-align: center; vertical-align: middle;"><span class="label label-success">RESOLVED</span></td>
                        </tr>
                    </tbody>
                </table>
                <div class="pagination pagination-centered">
                    <ul>
                        <li><a href="#">Prev</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}