{% extends 'base.html' %}{% load url from future %}{% load glynt_helpers %}

{% block page_title %}Dashboard{% endblock %}
{% block nav_checklist %}<li class="active"><a href="{% url 'dashboard:overview' %}">Dashboard</a></li>{% endblock %}

{% block body %}
<div class="container dashboard-view">
    <div class="page-header">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Startup #1: Series Seed <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li class="nav-header">Active Projects</li>
                <li><a href="#">Startup #1: Series Seed</a></li>
                <li><a href="#">Startup #2: Setup &amp; Incorporation</a></li>
            </ul>
        </div>
        <h2>Dashboard</h2>
    </div>
    <div class="row">
        <div class="col col-lg-6">
            <div class="overview">
                <div class="current-progress">
                    <h3>Current Progress</h3>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" style="width: 35%"></div>
                        <div class="progress-bar progress-bar-info" style="width: 10%"></div>
                        <div class="progress-bar progress-bar-warning" style="width: 20%"></div>
                        <div class="progress-bar progress-bar-danger" style="width: 10%"></div>
                    </div>
                    <span class="label label-success">Resolved</span>
                    <span class="label label-info">Needs Signing</span>
                    <span class="label label-warning">Pending</span>
                    <span class="label label-important">Open</span>
                </div>
                <hr>
                <div class="row item-counts">
                    <div class="col-lg-4 item-count"><span>13</span> unread</div>
                    <div class="col-lg-4 item-count"><span>12</span> pending</div>
                    <div class="col-lg-4 item-count"><span>2</span> closed</div>
                </div>
            </div>
        </div>
        <div class="col col-lg-6">
            <div class="recent-activity">
                <h3>Recent Activity</h3>
                <table class="table table-striped stories">
                    <tbody>
                        <tr class="story">
                            <td class="story-type"><span class="label label-success">RESOLVED</span></td>
                            <td class="story-actor">
                                <a href="#"><img src="https://si0.twimg.com/profile_images/3695837467/19d70ecfaf043c373c4476cac70a24da.jpeg" class="img-circle" width="28"></a>
                            </td>
                            <td class="story-info"><a href="">Joe Bloggs</a> resolved the item: <a href="">Item #1</a> &middot; 2 hours ago</td>
                        </tr>
                        <tr class="story">
                            <td class="story-type"><span class="label label-info">SIGNED</span></td>
                            <td class="story-actor">
                                <a href="#"><img src="https://si0.twimg.com/profile_images/3695837467/19d70ecfaf043c373c4476cac70a24da.jpeg" class="img-circle" width="28"></a>
                            </td>
                            <td class="story-info"><a href="">Joe Bloggs</a> signed the item: <a href="">Item #2</a> &middot; 2 hours ago</td>
                        </tr>
                        <tr class="story">
                            <td class="story-type"><span class="label label-success">RESOLVED</span></td>
                            <td class="story-actor">
                                <a href="#"><img src="https://si0.twimg.com/profile_images/3695837467/19d70ecfaf043c373c4476cac70a24da.jpeg" class="img-circle" width="28"></a>
                            </td>
                            <td class="story-info"><a href="">Joe Bloggs</a> resolved the item: <a href="">Item #3</a> &middot; 2 hours ago</td>
                        </tr>
                        <tr class="story">
                            <td class="story-type"><span class="label">OPENED</span></td>
                            <td class="story-actor">
                                <a href="#"><img src="https://si0.twimg.com/profile_images/3695837467/19d70ecfaf043c373c4476cac70a24da.jpeg" class="img-circle" width="28"></a>
                            </td>
                            <td class="story-info"><a href="">Joe Bloggs</a> opened the item: <a href="">Item #4</a> &middot; 2 hours ago</td>
                        </tr>
                        <tr class="story">
                            <td class="story-type"><span class="label">OPENED</span></td>
                            <td class="story-actor">
                                <a href="#"><img src="https://si0.twimg.com/profile_images/3695837467/19d70ecfaf043c373c4476cac70a24da.jpeg" class="img-circle" width="28"></a>
                            </td>
                            <td class="story-info"><a href="">Joe Bloggs</a> opened the item: <a href="">Item #5</a> &middot; 2 hours ago</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}