{% extends 'base.html' %}{% load url from future %}{% load glynt_helpers crispy_forms_tags project_tags %}

{% block page_title %}Dashboard{% endblock %}
{% block nav_checklist %}<li class="active"><a href="{% url 'dashboard:overview' %}">Dashboard</a></li>{% endblock %}

{% block body %}
<div class="container dashboard-view">
    <div class="page-header">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                {% project_name project %} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li class="nav-header">Active Projects</li>
                {% for p in projects %}
                    <li><a href="{% url 'dashboard:project' uuid=p.uuid %}">{% project_name p forloop.counter %}</a></li>
                {% empty %}
                    <li>No Projects</li>
                {% endfor %}
            </ul>
        </div>
        <ul class="nav nav-tabs header-nav">
            <li class="active"><a href="{% url 'dashboard:overview' %}"><h3>Overview</h3></a></li>
            <li><a href="{% url 'dashboard:checklist' uuid=project.uuid %}"><h3>Checklist</h3></a></li>
        </ul>
    </div>

    {% project_lawyers project 'generic' %}

    <div class="row">
        <div class="col col-lg-6">
            <div class="widget overview">
                <div class="current-progress">
                    <h3>Checklist Progress</h3>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" style="width: {{ num_closed|as_percentage_of:num_total }}"></div>
                        <div class="progress-bar progress-bar-info" style="width: 10%"></div>
                        <div class="progress-bar progress-bar-warning" style="width: {{ num_pending|as_percentage_of:num_total }}"></div>
                        <div class="progress-bar progress-bar-danger" style="width: {{ num_unread|as_percentage_of:num_total }}"></div>
                    </div>
                    <span class="label label-success">Resolved</span>
                    <span class="label label-info">Needs Signing</span>
                    <span class="label label-warning">Pending</span>
                    <span class="label label-important">Open</span>
                </div>
                <hr>
                <div class="row item-counts">
                    <div class="col-lg-4 item-count"><span>{{ num_unread }}</span> unread</div>
                    <div class="col-lg-4 item-count"><span>{{ num_pending }}</span> pending</div>
                    <div class="col-lg-4 item-count"><span>{{ num_closed }}</span> closed</div>
                </div>
            </div>
        </div>
        <div class="col col-lg-6">
            <div class="widget recent-activity">
                <h3>Recent Activity</h3>
                {% project_activity_stream project %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-6">
            <div class="widget account-attorney">
                <h3>Your Attorney</h3>
                {% project_lawyers project %}
            </div>
        </div>
        <div class="col col-lg-6">
            <div class="widget transaction-profile">
                <h3>Transaction Profile</h3>
                {% if not profile_is_complete %}
                <div class="callout callout-danger empty">
                    <div class="empty-message empty-message-exclamation-sign">
                        <h3>Please complete your transaction profile.</h3>
                        <a href="{% url 'transact:builder' project_uuid=project.uuid tx_range='INTAKE' step='1' %}" class="btn btn-error">now</a>
                    </div>
                </div>
                {% else %}
                <div class="callout callout-success empty">
                    <div class="empty-message empty-message-ok">
                        <h3>Your transaction profile is up-to-date.</h3>
                        {% if PROJECT_ENVIRONMENT == 'dev' %}<a href="{% url 'transact:builder' project_uuid=project.uuid tx_range='INTAKE' step='1' %}" class="">update</a>{% endif %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}