<!-- <div class="modal" id="signin-modal" role="dialog">
    <div class="modal-dialog">
        <div class="startup">
            <h3>LawPal for Startups</h3>
            <div></div>
            <h4>For now we are only offering legal services to startups in California. </h4>
            <a href="{% url "public:auth_user_class_redirect" user_class_name="customer" login_type="google-oauth2" %}" class="btn btn-primary btn-huge"><img src="{{ STATIC_URL }}img/google-32.png">Sign in with Google</a>
        </div>
    </div>
</div> -->
<div class="modal animated fadeInDown" id="signin-modal" role="dialog">
    <div class="modal-dialog">
        <div class="startup">
            <h1>Sign in to LawPal</h1>
            <h2></h2>
            <a href="{% url "public:auth_user_class_redirect" user_class_name="customer" login_type="google-oauth2" %}" class="btn btn-clear-border"><img src="{{ STATIC_URL }}img/google-32.png">Sign in with Google</a>
            <br />
            <br />
            <hr />
            Forgotten your login details? <a href="mailto:support@lawpal.com" class="lnk">Contact Support</a>. 
            <br />
            Are you a LawPal participating attorney? <a href="/start/lawyer" class="lnk">Sign In here</a>.
        </div>
    </div>
</div>




<div class="modal animated fadeInDown" id="signup-modal" role="dialog">
    <div class="modal-dialog">
        <div class="startup">
            <h1>Get started with LawPal</h1>
            <h2></h2>
            <ol class="list-unstyled">
            	<li class="first">
                    <div>1</div> 
                    Create your account<br />   
					<a href="{% url "public:auth_user_class_redirect" user_class_name="customer" login_type="google-oauth2" %}" class="btn btn-clear-border"><img src="{{ STATIC_URL }}img/google-32.png">Sign in with Google</a>
            	</li>
            	<li><div>2</div> Define your project</li>
            	<li><div>3</div> Choose your attorney</li>
            	<li><div>4</div> Get it done. Right</li>
            </ol>
        </div>
    </div>
</div>