<div class="modal" id="signin-modal" role="dialog">
    <div class="modal-dialog">
        <div class="startup">
            <h3>LawPal for Startups</h3>
            <h4>For now we are only offering legal services to startups in California.</h4>
            <div></div>
            <a href="{% url "public:auth_user_class_redirect" user_class_name="customer" login_type="google-oauth2" %}" class="btn btn-primary"><img src="{{ STATIC_URL }}img/google-32.png">Sign in with Google</a>
        </div>
    </div>
</div>