{% extends 'base_bsv3.html' %}{% load paginator glynt_helpers %}

{% block page_title %}Shareholders Agreement — Incorporation{% endblock %}
{% block nav_checklist %}<li class="active"><a href="{% url 'dashboard:checklist' %}">Checklist</a></li>{% endblock %}

{% block body %}
<div class="container item-view">
    <div class="page-header">
        <button type="button" class="btn btn-default btn-large pull-right">Download</button>
        <span class="text-muted">Incorporation</span>
        <h2>Shareholders Agreement</h2>
    </div>
    <div class="row">
        <div class="col col-lg-12">
            <div class="document">
                <iframe frameborder="0" height="600" width="1008" src="EM9ag0g36EIO3np3Fu5j6KqhSxgZl2BXrFHff_Fb9GNRA8A0cLmEs3y-9_oLMEJVVuo-7qwPXXj35Q6NIFNKUUfn6hqZCl6YoSN11g"></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock %}