{% extends "postman/base.html" %}
{% load url from future %}
{% load i18n postman_tags %}{% load pagination_tags %}
{% comment %}
WARNING: 'pagination_tags' is a name from the django-pagination application.
For convenience, the design of this template is done with the use of that application.
Django-postman will still be working, even if that application is not installed, by providing a mock
for the template tag library.
If the real implementation is to be used, just make sure that 'pagination' is declared before 'postman'
in the INSTALLED_APPS setting.
{% endcomment %}
{% block content %}

<div class="row">
    <div class="span10">

{% autopaginate pm_messages %}
{% if invalid_page %}
<p>{% trans "Sorry, this page number is invalid." %}</p>
{% else %}
{% if pm_messages %}
<div class="row">
{% block edit-controls %}
<div class="span10">
    <a href="#edit" class="btn pull-right edit-message-list" data-toggle="button"><i class="icon-cog"></i> Edit</a>
</div>
{% endblock %}
</div>
<ul class="message-list">
    {% for message in pm_messages %}
    <li {% if message.is_new %}class="new-message"{% endif %}>

        <div class="profile-popup" data-username="{{message.sender.username}}">sender</div>
        <div class="profile-popup" data-username="{{message.recipient.username}}">recipient</div>
        
        <a href="{% if by_conversation and message.thread_id %}{% url 'postman_view_conversation' message.thread_id %}{% else %}{{message.get_absolute_url }}{% endif %}?next={{ current_url|urlencode }}">
        <span class="message-sender">{{ message.obfuscated_sender|or_me:user|truncatechars:22 }}{% if message.count %} ({{ message.count }}){% endif %}</span>{% include "postman/inc_subject_ex.html" %}
        <span class="message-date">{{ message.sent_at|date:"d M" }}</span></a>
        <a class="close hidden" href="/messages/delete/" data-message-id="{% if by_conversation and message.thread_id %}{{ message.thread_id }}{% else %}{{ message.id }}{% endif %}" data-message-type="{%  if  by_conversation and message.thread_id %}tpks{% else %}pks{% endif %}">&times;</a></li>
{% endfor %}
</ul>

{% paginate %}
{% else %}
<p>{% trans "No messages." %}</p>
{% endif %}
{% endif %}
{% block pm_footer_info %}{% endblock %}

</div>
</div>
{% endblock content %}

{% block js %}
    <script>
    $(document).ready(function() {
        $('a.close').click(function(ev) {
            ev.preventDefault();
            var container = $(this).parent();
            if ($(this).attr('data-message-type') === 'pks'){
                $.ajax({
                type: 'POST',
                url: $(this).attr('href'),
                data: {
                    pks: $(this).attr('data-message-id'),
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function() {
                    container.fadeOut();
                    updateNewMessageCount(container);
                }
            });
            } else {
                $.ajax({
                type: 'POST',
                url: $(this).attr('href'),
                data: {
                    tpks: $(this).attr('data-message-id'),
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function() {
                    container.fadeOut();
                    updateNewMessageCount(container);
                }
            });
            }

        return false;
        });

        $('.edit-message-list').click(function() {
           $('.message-list .close').toggleClass('hidden');
        });

        // Updates count on new mail icons
        function updateNewMessageCount(container) {
            var message_count = $('.unread-messages').live();
            if (container.hasClass('new-message')) {
                if (parseInt(message_count.html()) > 1) {
                    message_count.html(parseInt(message_count.html()) - 1);
                } else {
                    message_count.remove();
                }
            }
        }

    });
    </script>
{% endblock %}
