{% extends "postman/base.html" %}
{% load url from future %}
{% load i18n postman_tags %}{% load pagination_tags %}
{% comment %}
WARNING: 'pagination_tags' is a name from the django-pagination application.
For convenience, the design of this template is done with the use of that application.
Django-postman will still be working, even if that application is not installed, by providing a mock
for the template tag library.
If the real implementation is to be used, just make sure that 'pagination' is declared before 'postman'
in the INSTALLED_APPS setting.
{% endcomment %}
{% block content %}

<div class="row">
    <div class="span10">

{% autopaginate pm_messages %}
{% if invalid_page %}
<p>{% trans "Sorry, this page number is invalid." %}</p>
{% else %}
{% if pm_messages %}


<ul class="message-list">

    {% for message in pm_messages %}
    <li {% if message.is_new %}class="new-message"{% endif %}>
        <a href="{% if by_conversation and message.thread_id %}{% url 'postman_view_conversation' message.thread_id %}{% else %}{{message.get_absolute_url }}{% endif %}?next={{ current_url|urlencode }}">
<span class="message-sender">{{ message.obfuscated_sender|or_me:user|truncatechars:22 }}{% if message.count %} ({{ message.count }}){% endif %}</span>{% include "postman/inc_subject_ex.html" %}</a>
    <a class="close" href="/messages/delete/" data-message-id="{% if by_conversation and message.thread_id %}{{ message.thread_id }}{% else %}{{ message.id }}{% endif %}" data-message-type="{%  if  by_conversation and message.thread_id %}tpks{% else %}pks{% endif %}">&times;</a></li>
{% endfor %}</ul>



{% paginate %}
{% else %}

        <p>{% trans "No messages." %}</p>
{% endif %}
{% endif %}
{% block pm_footer_info %}{% endblock %}

</div>
</div>
{% endblock content %}

{% block css %}
    <style>
        #pm_messages { margin-top: 1em; border-top: 1px solid #6adc7d; }
        #pm_messages .postman-action-col { width: 20px; text-align: center; }
        #pm_messages tr th { text-align: left }
        .btn-group.open .btn.dropdown-toggle { background-color: #e6e6e6; }

        .message-list {
            list-style: none;
        }

        .message-list li {
            border-bottom: 1px solid #f2f2f2;
            position: relative;
        }

        .message-list li:hover {
            background-color: #f2f2f2;
        }

        .message-list a {
            text-decoration: none;
            padding: 1em 1em;
            display: block;
        }

        .new-message {
            border-left: 2px solid #6adc7d;
            font-weight: bold;
        }

        .message-sender {
            display: inline-block;
            min-width: 12em;
        }

        .message-body {
            color: #ccc;
        }

        .message-list .close {
            display: block;
            width: 20px;
            height: 20px;
            position: absolute;
            right: 10px;
            top: 10px;
            padding: 0;
        }


    </style>
{% endblock %}

{% block js %}
    <script>
    $(document).ready(function() {
        $('a.close').click(function(ev) {
            ev.preventDefault();
            if ($(this).attr('data-message-type') === 'pks'){
                $.ajax({
                type: 'POST',
                url: $(this).attr('href'),
                data: {
                    pks: $(this).attr('data-message-id'),
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                //context: this,
                success: function(data, status) {
                    console.log(data);
                }
            });
            } else {
                $.ajax({
                type: 'POST',
                url: $(this).attr('href'),
                data: {
                    tpks: $(this).attr('data-message-id'),
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                //context: this,
                success: function(data, status) {
                    console.log(data);
                }
            });
            }

        return false;
        })
    });
    </script>
{% endblock %}
