{% extends "postman/base.html" %}
{% load url from future %}
{% load i18n %}{% load postman_tags %}
{% block content %}

{% for message in pm_messages %}
    <div class="row">
    <div class="span10 view-message-controls">
        {% if forloop.counter == 1 %}
        <form action="" method="post">{% csrf_token %}
           <a href="{{ next_url }}" class="btn"><i class="icon-arrow-left"></i> {% trans "Back" %}</a>

                 <input type="hidden" {% if pm_messages|length > 1 and message.thread_id %}name="tpks" value="{{ message.thread_id }}"{% else %}name="pks" value="{{ message.pk }}"{% endif %} />
             {% if not message.recipient_deleted_at  %}
            <button class="btn" type="submit" onclick="this.form.action='{% url 'postman_delete' %}?next={{ next_url|urlencode }}'"><i class="icon-trash"></i> {% trans "Delete" %}</button>
            {% else %}
            <button class="btn" type="submit" onclick="this.form.action='{% url 'postman_undelete' %}?next={{ next_url|urlencode }}'">{% trans "Restore to Inbox" %}</button>
            {% endif %}
        </form>
        <h3 class="message-subject page-header">{{ message.subject }}</h3>
        {% endif %}
    </div>
    <div class="span10">
        <div class="message-info clearfix">
            <div class="pull-left">
                <p>{{ message.obfuscated_sender|or_me:user }}</p>
            </div>

            <div class="pull-right">
                <p>{{ message.sent_at|date:"DATETIME_FORMAT"}}</p>
            </div>
        </div>
    </div>
    </div>

    <div class="row">
        <div class="span10 message-body">
            {{ message.body|linebreaksbr }}
        </div>
    </div>

    {% if forloop.last %}
        {% if reply_to_pk %}
            <h3>{% trans 'Reply' %}</h3>
            <form action="{% url 'postman_reply' reply_to_pk %}?next={{ next_url|urlencode }}" method="post" class="form-wide">{% csrf_token %}
                <textarea cols="55" id="id_body" name="body" rows="12"></textarea>
                <button type="submit" class="btn btn-primary">{% trans 'Reply' %}</button>
            </form>
        {% endif %}
    {% endif %}
{% endfor %}
{% endblock %}