{% extends 'base.html' %}
{% load invite_tags %}

{% block page_title %}Lawyers - Thanks for completing your profile{% endblock %}
{% block bodyclass %}lawyer-form{% endblock %}

{% block prebody %}
<div id="hero">
	<div class="container">
		<!-- starts carousel -->
		<div class="row animated fadeInDown">
			<div class="span12">
				<h1>An opportunity to be involved in something Big.</h1>
				<h3>Invite your colleagues to join you at lawpal.com</h3>
			</div>
		</div>
	</div>
</div>

<div class="container profile">
	<div class="row">
		{% invite_to_lawpal invite_type='lawyer' %}
	</div>
</div>

{% endblock %}
