{% extends 'base.html' %}{% load lawyer_profile_tags thumbnail easy_maps_tags cache %}

{% block page_title %}{{ object.user.get_full_name|default:object.user.username }}{% endblock %}
{% block bodyclass %}{% endblock %}

{% block body %}
<div class="row-fluid">
<h1>{{ object.user.get_full_name|default:object.user.username }}</h1>

<img src="{{ object.photo|thumbnail_url:'avatar' }}" alt="" title="" border="0"/>
summary: {{ object.summary }}<br/>
bio: {{ object.bio }}<br/>
years practice: {{ object.years_practiced }}<br/>
geo loc: {{ object.current_geo_loc }}<br/>

{{ object.data.practice_location_1 }}<br/>
{{ object.data.practice_location_2 }}

<h2>Firms</h2>

{{ firm.primary_office }}

{% cache 300 "lawyer" "primary_office_location" firm.primary_office.pk %}
    {% easy_map firm.primary_office.address 300 191 10 %}
{% endcache %}


<h2>Startups</h2>
{% startups_advised %}

</div>
{% endblock %}