{% extends 'base.html' %}{% load cache crispy_forms_tags lawyer_profile_tags %}

{% block page_title %}Marketplace{% endblock %}
{% block bodyclass %}lawyer-welcome{% endblock %}


{% block prebody %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/theme/lawyer-listing.css" type="text/css">

    
<div id="hero">
	<div class="container">
		<!-- starts carousel -->
		<div class="row animated fadeInDown">
			<div class="span12">
				<h1>Find a lawyer for your startup</h1>
			</div>
		</div>
		<div class="dock">
            {% include 'lawyer/partials/search_form.html' %}
		</div>
	</div>
</div>

{% endblock %}

{% block body %}

{% cache 300 lawyer_list_profile_message user.pk %}
{% lawyer_profile_is_complete_message warning_type='flashing' %}
{% endcache %}

<div ng-app="marketplace" ng-controller="MarketplaceCtrl">
{% include page_template %}
</div>
{% endblock %}

{% block css %}
{{ block.super }}
<style>
    span#rotate {
        width:160px;
    }
    span.rotate {
        display:none;
    }
</style>
{% endblock %}

{% block js %}
{{ block.super }}
<script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
<script>
    $.endlessPaginate({
        paginateOnScroll: true
        ,paginateOnScrollMargin: 60
        ,paginateOnScrollChunkSize: 5
    });
</script>
{% endblock %}