{% extends 'base.html' %}{% load account_tags lawyer_profile_tags jsonify thumbnail cache %}

{% block page_title %}Marketplace{% endblock %}
{% block bodyclass %}lawyer-welcome{% endblock %}

{% block css %}
{% endblock %}
{% block js %}
{% endblock %}

{% block prebody %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/theme/lawyer-listing.css" type="text/css">

    
<div id="hero">
	<div class="container">
		<!-- starts carousel -->
		<div class="row animated fadeInDown">
			<div class="span12">
				<h1>Find the firm to help the Acme Inc Team</h1>
			</div>
		</div>
		<div class="dock">
			<ul>
				<li class="dock-packages"><a href="#" title="Packages">Packages</a></li>
				<li class="dock-firms"><a href="#" title="Firms">Firms</a></li>
				<li class="dock-lawyers dock-active"><a href="#" title="Lawyers">Lawyers</a></li>
			</ul>
		</div>
	</div>
</div>

<div class="container filter">
	<div class="checkboxes">
		<h3>Sort by</h3>
		<strong>Showing: </strong>
		<input id="endorsements" type="checkbox" value="Endorsements" checked /><label for="endorsements">Endorsements</label>
		<input id="connections" type="checkbox" value="Connections" checked /><label for="Connections">Connections</label>
		<input id="activity" type="checkbox" value="Activity" checked /><label for="activity">Activity</label>
	</div>
	<div class="location">
		<label for="location"><h3>Filter by location</h3></label>
		<select>
			<option value="California, USA">California, USA</option>
			<option value="San Francisco, USA">San Francisco, USA</option>
			<option value="United Kingdom">United Kingdom</option>
		</select>
	</div>
</div>





<div class="container">



	<div class="partner">

		<div class="left">

			<img src="/static/img/app/partner-avatar.png" class="partner-avatar" />

		</div>

		<div class="right">	

			<h2>Chris Grew</h2>

			<img src="/static/img/app/partner-logo.png" class="partner-logo" />

			<h3>Partner at Orrick</h3>

			<ul class="partner-info">

				<li class="marker big">San Fransisco, CA</li>

				<li class="tick">76 Similar Deals Closed (2011-2012)</li>

				<li class="star">76 Endorsements</li>

			</ul>

			<a class="btn btn-primary">View Profile</a>

			<ul class="partner-social">

				<li class="angellist"><div class="circle-big">33</div><div class="circle-small animated fadeInDown">2</div></li>

				<li class="linkedin"><div class="circle-big">33</div><div class="circle-small animated fadeInDown">2</div></li>

				<li class="twitter"><div class="circle-big">33</div><div class="circle-small animated fadeInDown">2</div></li>

			</ul>

		</div>	

	</div>





	<div class="partner">

		<div class="left">

			<img src="/static/img/app/partner-avatar.png" class="partner-avatar" />

		</div>

		<div class="right">	

			<h2>Chris Grew</h2>

			<img src="/static/img/app/partner-logo.png" class="partner-logo" />

			<h3>Partner at Orrick</h3>

			<ul class="partner-info">

				<li class="marker big">San Fransisco, CA</li>

				<li class="tick">76 Similar Deals Closed (2011-2012)</li>

				<li class="star">76 Endorsements</li>

			</ul>

			<a class="btn btn-primary">View Profile</a>

			<ul class="partner-social">

				<li class="angellist"><div class="circle-big">33</div><div class="circle-small animated fadeInDown">2</div></li>

				<li class="linkedin"><div class="circle-big">33</div><div class="circle-small animated fadeInDown">2</div></li>

				<li class="twitter"><div class="circle-big">33</div><div class="circle-small animated fadeInDown">2</div></li>

			</ul>

		</div>	

	</div>





	<div class="partner">

		<div class="left">

			<img src="/static/img/app/partner-avatar.png" class="partner-avatar" />

		</div>

		<div class="right">	

			<h2>Chris Grew</h2>

			<img src="/static/img/app/partner-logo.png" class="partner-logo" />

			<h3>Partner at Orrick</h3>

			<ul class="partner-info">

				<li class="marker big">San Fransisco, CA</li>

				<li class="tick">76 Similar Deals Closed (2011-2012)</li>

				<li class="star">76 Endorsements</li>

			</ul>

			<a class="btn btn-primary">View Profile</a>

			<ul class="partner-social">

				<li class="angellist"><div class="circle-big">33</div><div class="circle-small animated fadeInDown">2</div></li>

				<li class="linkedin"><div class="circle-big">33</div><div class="circle-small animated fadeInDown">2</div></li>

				<li class="twitter"><div class="circle-big">33</div><div class="circle-small animated fadeInDown">2</div></li>

			</ul>

		</div>	

	</div>



</div>




{% endblock %}

{% block body %}

{% endblock %}