{% extends 'base.html' %}{% load account_tags lawyer_profile_tags jsonify thumbnail humanize cache %}
{% block page_title %}{{ object.user.get_full_name|default:object.user.username }}{% endblock %}
{% block bodyclass %}lawyer-profile{% endblock %}

{% block css %}
<link href="{{ STATIC_URL }}css/theme/lawyer-profile.css" rel="stylesheet" charset="utf-8" />
{% endblock %}
{% block js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/Chart.min.js"></script>
{% endblock %}

{% block prebody %}

<div id="hero">
	<div class="container">
		<!-- starts carousel -->
		<div class="row animated fadeInRight profile-details">
			<div class="span2">
				<div class="avatar">
					<img src="{{ object.profile_photo }}" alt="{{ object.user.get_full_name|default:object.user.username }}" />
				</div>
			</div>
			<div class="span10">
				<h1>{{ object.user.get_full_name|default:object.user.username }}</h1>
				<h3>{{ object.summary }}</h3>
			</div>
		</div>
	</div>
	<div id="buttons">
		<div class="container">
			<div class="row12">
				{% if user.is_staff %}
					<a href="#" data-url="/api/v1/lawyers/{{ object.pk }}/" data-method="PATCH" data-is_active="false" data-provide="ajax" data-toggle_class="btn-is_active" class="btn-is_active {% if not object.is_active %}hide{% endif %} btn btn-primary">Disable</a>
					<a href="#" data-url="/api/v1/lawyers/{{ object.pk }}/" data-method="PATCH" data-is_active="true" data-provide="ajax" data-toggle_class="btn-is_active" class="btn-is_active {% if object.is_active %}hide{% endif %} btn btn-success">Approve</a>
				{% endif %}
				{% if user.username == object.user.username %}
					<a href="{% url 'lawyer:setup_profile' %}" class="btn">Edit profile</a>  
					<a href="{% url 'lawyer:invite' %}" class="btn">Invite Lawyers</a> 
					{% if object.summary %} 
						{% if PROJECT_ENVIRONMENT != 'dev' %}
					    <script>
						  $(document).ready(function () {
					     	  Intercom('update', {"Lawyer Profile": "Complete", "Firm": "{{ firm }}"});
					   	 });
						</script>
						{% endif %}
					{% endif %}
				{% endif %}
				<a href="/messages/write" id="sendMessage" class="btn right" title="Message" data-toggle="modal"><i class="icon-envelope"></i> Message</a>
				<a href="#comingSoonModal" class="btn right" title="Endorse" data-toggle="modal"><i class="icon-star"></i> Endorse</a>
				<a href="#comingSoonModal" class="btn right" title="Engage"  data-toggle="modal"><i class="icon-play"></i> Engage</a>
			</div>
		</div>
	</div>
</div>
<div class="container profile">
	<div class="row">
		<div class="span8">
				<h2>About</h2>
				<div>
					<p>{{ object.bio|default:"<div class=\"no-data\">No biography yet.</div>"|linebreaksbr }}</p>
				</div>
				<hr>
			<div class="row">
			{% if PROJECT_ENVIRONMENT == 'dev' %}
				<div class="span8">	
					<div class="row">
						<div class="span8">
							<h2>Transaction Pricing</h2>
							<table class="table pricing">
								<tr>
									<th>Seed Financing</th>
									<td class="price">${{ object.data.seed_financing_amount_min|humanise_number }} &ndash; ${{ object.data.seed_financing_amount_max|humanise_number }}</td>
									<td>
										<ul class="fee-options">
											{% if object.data.seed_fee_cap_available %}
                                                <li class="cap tip" data-toggle="tooltip" title="Fee cap available for this transaction"></li>
                                            {% else %}
                                                <li class="no-cap tip"></li>
                                            {% endif %}
                                            {% if object.data.seed_deferred_fees_available %}
    											<li class="deferred tip" data-toggle="tooltip" title="Deferred fees available for this transaction"></li>
                                            {% else %}
                                                <li class="no-deferred tip"></li>
                                            {% endif %}
                                            {% if object.data.seed_fixed_fees_available %}
											    <li class="fixed tip" data-toggle="tooltip" title="Fixed fees available for this transaction"></li>
                                            {% else %}
                                                <li class="no-fixed tip"></li>
                                            {% endif %}
										</ul>
									</td>
								</tr>
								<tr>
									<th>Incorporation</th>
									<td  class="price">${{ object.data.incorporation_min|humanise_number }} &ndash; ${{ object.data.incorporation_max|humanise_number }}</td>
									<td>
										<ul class="fee-options">
											{% if object.data.inc_fee_cap_available %}
                                                <li class="cap tip" data-toggle="tooltip" title="Fee cap available for this transaction"></li>
                                            {% else %}
                                                <li class="no-cap tip"></li>
                                            {% endif %}
                                            {% if object.data.inc_deferred_fees_available %}
    											<li class="deferred tip" data-toggle="tooltip" title="Deferred fees available for this transaction"></li>
                                            {% else %}
                                                <li class="no-deferred tip"></li>
                                            {% endif %}
                                            {% if object.data.inc_fixed_fees_available %}
											    <li class="fixed tip" data-toggle="tooltip" title="Fixed fees available for this transaction"></li>
                                            {% else %}
                                                <li class="no-fixed tip"></li>
                                            {% endif %}
										</ul>
									</td>
								</tr>
                                {% if object.data.optional_funding %}
                                <tr>
									<th>{{ object.data.optional_funding }}</th>
									<td  class="price">${{ object.data.optional_min|humanise_number }} &ndash; ${{ object.data.optional_max|humanise_number }}</td>
									<td>
										<ul class="fee-options">
											{% if object.data.optional_fee_cap_available %}
                                                <li class="cap tip" data-toggle="tooltip" title="Fee cap available for this transaction"></li>
                                            {% else %}
                                                <li class="no-cap tip"></li>
                                            {% endif %}
                                            {% if object.data.optional_deferred_fees_available %}
    											<li class="deferred tip" data-toggle="tooltip" title="Deferred fees available for this transaction"></li>
                                            {% else %}
                                                <li class="no-deferred tip"></li>
                                            {% endif %}
                                            {% if object.data.optional_fixed_fees_available %}
											    <li class="fixed tip" data-toggle="tooltip" title="Fixed fees available for this transaction"></li>
                                            {% else %}
                                                <li class="no-fixed tip"></li>
                                            {% endif %}
										</ul>
									</td>
								</tr>
                                {% endif %}
                                {% if object.data.optional_funding2 %}
                                <tr>
									<th>{{ object.data.optional_funding2 }}</th>
									<td  class="price">${{ object.data.optional_min2|humanise_number }} &ndash; ${{ object.data.optional_max2|humanise_number }}</td>
									<td>
										<ul class="fee-options">
											{% if object.data.optional_fee_cap_available2 %}
                                                <li class="cap tip" data-toggle="tooltip" title="Fee cap available for this transaction"></li>
                                            {% else %}
                                                <li class="no-cap tip"></li>
                                            {% endif %}
                                            {% if object.data.optional_deferred_fees_available2 %}
    											<li class="deferred tip" data-toggle="tooltip" title="Deferred fees available for this transaction"></li>
                                            {% else %}
                                                <li class="no-deferred tip"></li>
                                            {% endif %}
                                            {% if object.data.optional_fixed_fees_available2 %}
											    <li class="fixed tip" data-toggle="tooltip" title="Fixed fees available for this transaction"></li>
                                            {% else %}
                                                <li class="no-fixed tip"></li>
                                            {% endif %}
										</ul>
									</td>
								</tr>
                                {% endif %}
                                {% if object.data.optional_funding3 %}
                                <tr>
									<th>{{ object.data.optional_funding3 }}</th>
									<td  class="price">${{ object.data.optional_min3|humanise_number }} &ndash; ${{ object.data.optional_max3|humanise_number }}</td>
									<td>
										<ul class="fee-options">
											{% if object.data.optional_fee_cap_available3 %}
                                                <li class="cap tip" data-toggle="tooltip" title="Fee cap available for this transaction"></li>
                                            {% else %}
                                                <li class="no-cap tip"></li>
                                            {% endif %}
                                            {% if object.data.optional_deferred_fees_available3 %}
    											<li class="deferred tip" data-toggle="tooltip" title="Deferred fees available for this transaction"></li>
                                            {% else %}
                                                <li class="no-deferred tip"></li>
                                            {% endif %}
                                            {% if object.data.optional_fixed_fees_available3 %}
											    <li class="fixed tip" data-toggle="tooltip" title="Fixed fees available for this transaction"></li>
                                            {% else %}
                                                <li class="no-fixed tip"></li>
                                            {% endif %}
										</ul>
									</td>
								</tr>
                                {% endif %}
							</table>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="span6 endorsement">
							<h2>Endorsements</h2>
							<div class="link">
							    <a href="#" onclick="return false;" class="btn btn--primary btn--counter comment" data-content='
							    <textarea data-required="true" placeholder="Write your endorsement. It will be sent for approval before it appears." tabindex="1" type="text"></textarea>
							    <a href="#" class="btn btn-primary btn-small">Endorse</a>
								'>Endorse<span>32</span></a>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="span4">
							<div class="endorsement">
								<img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/41686_715347325_1131784592_q.jpg" alt="Avatar (Placeholder)">
								<p>Awesome to work with, responsive and helpful. Instrumental in getting Airbnb to where it is today</p>
								<p class="source">Alex Halliday, DropBox</p>
							</div>
						</div>
							<div class="span4">
								<div class="endorsement">
									<img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash4/369196_508036857_212730382_q.jpg" alt="Avatar (Placeholder)">
									<p>Awesome to work with, responsive and helpful. Instrumental in getting Airbnb to where it is today</p>
									<p class="source">Alex Halliday, Box.net</p>
								</div>
						</div>
					</div>
				</div>
				<hr>
			{% endif %}
			</div>
		</div>	
		<div class="span4 pull-right sidebar">
			<div class="firm">
				{% if firm.photo %}
					<img src="{{ MEDIA_URL }}{{ firm.photo|default:'firm/blank.gif' }}" alt="{{ firm.name }}" class="firm-logo" />				
				{% else %} 
					{% if firm %}
						<h2>{{ firm }}</h2>
					{% else %}
						<br />
					{% endif %}
				{% endif %} 
			</div>
			<div class="map">
				{% if object.data.practice_location_1 and not object.data.practice_location_2 %}
					<img src="//maps.googleapis.com/maps/api/staticmap?size=300x145&markers=color:blue%7Clabel:S%7C{{ object.data.practice_location_1 }}&sensor=false&maptype=roadmap">
				{% endif %}
				{% if object.data.practice_location_1 and object.data.practice_location_2 %}
					<img src="//maps.googleapis.com/maps/api/staticmap?size=150x145&markers=color:blue%7Clabel:S%7C{{ object.data.practice_location_1 }}&sensor=false"><img src="http://maps.googleapis.com/maps/api/staticmap?size=149x145&markers=color:blue%7Clabel:S%7C{{ object.data.practice_location_2 }}&sensor=false">
				{% endif %}
				<ul class="key-points">
					{% for practice_location in object.practice_locations  %}
						<li class="marker">{{ practice_location }}</li>
					{% endfor %}
					{% if object.data.years_practiced > 0 %}	
						<li class="tick">{{ object.data.years_practiced }} Years Practicing</li>
					{% endif %}
					<!-- <li class="friends"><img src="{{ STATIC_URL }}img/app/small-avatar.jpg" alt="Avatar" /> Benjamin Ling is a mutual contact</li> -->
				</ul>
				<div class="span4">				
					<div id="other-profiles" class="other-profiles">
						<h5>Other Profiles</h5>
						{% social_profiles object.user %}
		 			</div>
		 			<hr>
					<div id="bar-license" class="bar-license">
						<h5>Licensed In</h5>
						{% simple_name_list data_list=object.data.bar_membership %}
					</div>
				</div>
			</div>

		</div>	
		<div class="span8">
			<h2>Transaction Snapshot</h2>
			<div class="deal-charts row">
				<div class="span4">
					<h5>Transactions by year</h5>
					<br />
					<img src="/static/img/graph-year-placeholder.png" id="graph-year-placeholder">
					<canvas id="dealChart0" width="300" height="200"></canvas>
				</div>
				<div class="span4" style="position:relative;">			
					<h5>Transactions by type</h5>
					<br />		
					<img src="/static/img/graph-type-placeholder.png" id="graph-type-placeholder">
					<canvas id="dealChart1" width="220" height="200"></canvas>
					<div style="position:absolute;top:125px;right:-0px;opacity:0.3" id="type-legend">
						<span class="label label-info" style="color:#F38630;background-color:white;">Series A</span>
						<br /> 
						<span class="label label-info" style="color:#6bdb7e;background-color:white;">Seed</span> 
						<br />
						<span class="label label-info" style="color:#69D2E7;background-color:white;">Incorporation</span> 
						<br />
						<span class="label label-info" style="color:#f88172;background-color:white;">IP</span>
						<br />
						<span class="label label-info" style="color:#69D2E7;background-color:white;">Other</span>
					</div>
				</div>
			</div>
		<hr>
		</div>

		<div class="span8">
			<div class="startups">
				<h2>Startups Advised</h2>
				{% for o in object.data.startups_advised %}
					<span><a href="http://{{ o }}" target="_BLANK" class="domain">{{ o }}</a></span>
				{% empty %}
					<ul class="unstyled">
						<li class="nothing-found">Nothing yet.</li>
					</ul>
				{% endfor %}
			</div>
		<hr>
		</div>

		<div class="span8">
			<div class="startups">
				<h2>Other Websites</h2>
				{% for o in object.data.websites %}
					<span><a href="http://{{ o }}" target="_BLANK" class="domain">{{ o }}</a></span>
				{% empty %}
					<ul class="unstyled">
						<li class="nothing-found">Nothing yet.</li>
					</ul>
				{% endfor %}
			</div>
		</div>
	</div>

	<div>
	    <div class=" buttons">
			<!-- Modal -->
			<div id="comingSoonModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			    <h3 id="myModalLabel">Coming Soon</h3>
			  </div>
			  <div class="modal-body">
			    <p>Whilst profiles are in preview mode, this feature is disabled. We will shortly be enabling this for some users as part of our rollout.</p>
			  </div>
			  <div class="modal-footer">
			    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
			    <!-- <button class="btn btn-primary">Save changes</button> -->
			  </div>
			</div>
        </div>

            <div id="sendMessageModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			    <h3 id="myModalLabel">Sending Message</h3>
			  </div>
			  <div class="modal-body">
			    <p>...</p>
			  </div>
			  <div class="modal-footer">
			    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
			    <!-- <button class="btn btn-primary">Save changes</button> -->
			  </div>
			</div>
		
	</div>
</div>
{% csrf_token %}
{% endblock %}

{% block body %}

<script>

$(document).ready(function () {


	$('.comment').popover({ html : true});
	

	$("a.comment").click(function() {
	    $(this).toggleClass('faded');
	});
	$('.tip').tooltip();

	{% if user.is_staff %}
	$('[data-provide=ajax]').live('click', function(event){
		event.preventDefault();

		var link_object = $(this)
		var original_text = $(this).text()
		$(this).text('Please Wait')

		var url = $(this).attr('data-url');
		var method_type = $(this).attr('data-method') || 'GET';
		var toggle_class = $(this).attr('data-toggle_class') || false;
		var data = {}

		// get attributues to build a data package out of
		$($(this)[0].attributes).each(function(i,item){
			if (this.nodeName.indexOf('data-') >= 0 && ['data-url', 'data-method', 'data-provide', 'data-toggle_class'].indexOf(this.nodeName) == -1) {
				var name = this.nodeName.replace('data-', '')
				var val = this.nodeValue;
				if (val.match(/(true|false)/)) {
					val = (val === 'true') ? true : false ;
				}
				data[name] = val;
			}
		})

		data = JSON.stringify(data)

        $.ajax({
            type: method_type,
            url: url,
            data: data,
            contentType: "application/json",
            beforeSend: function(jqXHR, settings) {
                // Pull the token out of the DOM.
                jqXHR.setRequestHeader('X-CSRFToken', $('input[name=csrfmiddlewaretoken]').val());
            },
            success: function(data, textStatus, jqXHR){
            	if (toggle_class) {
            		$('.{toggle_class}'.assign({'toggle_class':toggle_class})).toggle()
            	}
            },
            error: function(data, textStatus, jqXHR){
            },
            complete: function() {
            	link_object.text(original_text)

            }
        });

	});
	{% endif %}

	//Get context with jQuery - using jQuery's .get() method.
	var ctx0 = $("#dealChart0").get(0).getContext("2d");
	var ctx1 = $("#dealChart1").get(0).getContext("2d");

	linedefaults = { scaleShowLabels : false, scaleOverride : true,	scaleStartValue : 0, 	scaleStepWidth : 10, scaleSteps : 15 }

	if($.isNumeric('{{ object.data.volume_by_year.2011 }}')) {
		new Chart(ctx0).Line({
			labels : ["2010","2011","2012"],
			datasets : [{
					fillColor : "rgba(151,187,205,0.5)",
					strokeColor : "rgba(151,187,205,1)",
					pointColor : "rgba(151,187,205,1)",
					pointStrokeColor : "#fff",
					data : [{{ object.data.volume_by_year.2010 }},{{ object.data.volume_by_year.2011 }},{{ object.data.volume_by_year.2012 }}]
				}]
			}
			,linedefaults);
			$("#graph-year-placeholder").hide();

	}else{
	 	$("#dealChart0").hide();
	}
	if($.isNumeric('{{ object.data.volume_series_a }}')){
		new Chart(ctx1).Doughnut([
			{
				value: {{ object.data.volume_series_a|jsonify }},
				color:"#F38630"
			},
			{
				value: {{ object.data.volume_seed_financing|jsonify }},
				color : "#6bdb7e"
			},
			{
				value : {{ object.data.volume_incorp_setup|jsonify }},
				color : "#69D2E7"
			},
			{
				value: {{ object.data.volume_other|jsonify }},
				color : "#3a87ad"
			},
			{
				value : {{ object.data.volume_ip|jsonify }},
				color : "#f88172"
			}			
		]);
		$("#graph-type-placeholder").hide();
		$("#type-legend").css({ opacity: 1 });

	 }else{
	 	$("#dealChart1").hide();
	 }

    // Load message modal
    $("#sendMessage").click(function(ev) {
        ev.preventDefault();
        var url = $(this).attr('href');
        $("#sendMessageModal").load(url, function() {
            $(this).modal('show');
        });
        return false;
    });

    // Activate parsley form validation when the modal has finished loading
    $('#sendMessageModal').live('shown', function() {
        console.log('modal shown');
        $('#sendMessageForm').parsley();
    });

    // Simulate input submit
    $('#submitModalMessage').live('click', function() {
        $('#sendMessageForm').submit();
    });

    // Submit form
    $('#sendMessageForm').live('submit', function() {
        $.ajax({
            type: $(this).attr('method'),
            url: this.action,
            data: $(this).serialize(),
            context: this,
            success: function(data, status) {
                $('#sendMessageModal').html('Success');
            }
        });
        return false;
    });

});

</script>
{% endblock %}