{% extends 'base.html' %}
{% load invite_tags account_tags %}

{% block page_title %}Lawyers - Thanks for completing your profile{% endblock %}
{% block bodyclass %}lawyer-form{% endblock %}

{% block prebody %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/theme/lawyer-invite.css">
<div id="hero">
	<div class="container">
		<!-- starts carousel -->
		<div class="row animated">
			<div class="span12">
				<h1>
					Build your network
				</h1>
				<h2>
					LawPal has a powerful recommendation engine which uses your existing social networks to match you with new clients.
				</h2>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<h2>
		Connect your existing accounts
	</h2>
	<p>
		The more accounts you connect, the more likely it is that startups will find you.
	</p>
	<div class="buttons">
		{% social_associate social_auth %}
	</div>
</div>
<div class="divide">
	<div class="container recommend">
		<h2>
			Recommend other lawyers
		</h2>
		<p>
			LawPal works through referral. Please endorse at least two other colleagues in your firm or another.
		</p>

		{% invite_to_lawpal invite_type='lawyer' %}


		<!-- <form action="post">
			<p>
				<label for="invite-one-name">Invite One</label> <input type="text" id="invite-one-name" placeholder="Full name"> <input type="text" id="invite-one-email" placeholder="Email">
			</p>
			<p>
				<label for="invite-two-name">Invite Two</label> <input type="text" id="invite-two-name" placeholder="Full name"> <input type="text" id="invite-two-email" placeholder="Email">
			</p><button class="btn btn-secondary left" value="Invite more">Invite more</button> <button class="btn btn-primary right" value="Send Invites" type="submit">Send Invites</button>
		</form> -->
	</div>
</div>

{% endblock %}
