<!-- Modal -->
<div class="modal" id="modal-checklist-item">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">&nbsp;</div>
            <div class="modal-footer">
                <a href="#" class="btn btn-success">Update</a>
            </div>
        </div>
    </div>
</div>