<script type="text/javascript">
$(document).ready( function () {
    /**
    * For all the data toggles capture and modify the click event
    * we want to populate the modal-body with our updated data
    */
    $('#modal-checklist-item').on('show.bs.modal', function (event) {
        var target = $(event.currentTarget);
        var title = target.find('.modal-title');
        var body = target.find('.modal-body');
        var action_button = $('.modal-footer .btn-success:first');
        var form = body.find('form:first');
        // var form_action = form.attr('action');
        var name = form.find('input[type=text]:first').val();

        var is_ajax = target.data('is_ajax') || false;
        var target_toggle_object = target.data('target_toggle_object') || false;
        if (target_toggle_object !== false) {
            target_toggle_object = $(target_toggle_object);
        }

        if (name && name !== '') {
            title.html('Edit - {name}'.assign({'name': name}));
        } else {
            title.html('Create new item');
        }

        action_button.on('click', function (event) {
            event.preventDefault();
            if (is_ajax === false) {
                form.submit();
            } else {
                $.ajax({
                    type: 'POST',
                    url: form.attr('action'),
                    data: form.serialize(),
                    beforeSend: function(jqXHR, settings) {
                        // Pull the token out of the DOM.
                        jqXHR.setRequestHeader('X-CSRFToken', $('input[name=csrfmiddlewaretoken]:first').val());
                    },
                    success: function(data, textStatus, jqXHR){
                        var title = form.find('#id_name').val();
                        document.title = title;
                        target_toggle_object.html(title);
                    },
                    complete: function() {
                        $('#modal-checklist-item').modal('hide');
                    }
                });
            }
        });

    })

});
</script>
<!-- Modal -->
<div class="modal" id="modal-checklist-item">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">&nbsp;</div>
            <div class="modal-footer">
                <a href="#" class="btn btn-success">Update</a>
            </div>
        </div>
    </div>
</div>