{% load i18n markup %}
{% load category_tags %}
{% load mptt_tags %}
{% load url from future %}

{% full_tree_for_model document.DocumentCategory as cats %}
<ul>
    {% for cat in cats %}
    {% if not cat.is_leaf_node %}
        <li>
            <h3>{{ cat.name }}</h3>
            {% if cat.children %}
                <ul>
                {% for sub in cat.children.all %}
                    <li><a href="{% url 'document:category_list' type=cat.slug category=sub.slug %}">{{ sub.name }}</a></li>
                {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endif %}
    {% endfor %}
</ul>