{% load i18n %}
{% if status == 'out' %}
<a href="#" rel="popover" title="{% trans 'Invitation Details' %}" data-content="{{ num_signed }} Signatures from {{ num_invited}} Invitees" class="btn btn-mini"><i class="icon-time"></i> {% trans 'Out for signing' %}</a>
{% endif %}
{% if status == 'signed' %}
<a href="#" rel="popover" title="{% trans 'Document Complete' %}" data-content="{{ num_signed }} Signatures from {{ num_invited}} Invitees" class="btn btn-mini btn-green"><i class="icon-ok icon-white"></i> {% trans 'Signed' %}</a>
{% endif %}
{% if status == 'sign' %}
<a href="#" rel="tooltip" title="{% trans 'You have been invited to sign this document' %}" class="btn btn-red btn-mini"><i class="icon-pencil icon-white"></i> {% trans 'Please sign' %}</a>
{% endif %}
{% if status == 'no_invites' %}
<a href="#" rel="popover" title="{% trans 'No invitees' %}" data-content="{% trans 'Looks like you need to invite people to sign this document' %}" class="btn btn-red btn-mini"><i class="icon-off icon-white"></i> {% trans 'No Invites' %}</a>
{% endif %}