{% extends 'base.html' %}
{% load i18n markup templatetag_handlebars %}
{% load url from future %}

{% block bodyclass %}review{% endblock %}


{% block body %}
<div class="span12">
  <h2>Document Author tool</h2>
</div>

<div id="steps" class="span4">
    <div id="steps_list" class="doc-body">
    </div>
</div>

<div id="fields" class="span7">
    <div id="fields_list" class="doc-body">
    </div>
</div>
{% endblock %}

{% block css %}{% endblock %}

{% block js %}

{% tplhandlebars "hb-steps" %}
{{#each_with_key steps key="index"}}
<div class="step" data-step_index="{{index}}">
  <form class="">
    {{index}}
    <fieldset>
    <legend>Step Details</legend>

    <div class="control-group">
      <label for="">Type of Step</label>
      <div class="controls">
      <input type="radio" name="type" value="step" /> Standard Step<br/>
      <input type="radio" name="type" value="loop-step" /> Loop Step
      </div>
    </div>

    <div class="control-group">
      <label for="">Title</label>
      <div class="controls">
      <input type="input" name="properties.step_title" value="" />
      </div>
    </div>
    </fieldset>
  </form>
  <div class="form-actions control-group">
    <div class="pull-right controls">
      <a href="#step/delete" class="btn btn-danger btn-mini delete_step" data-step_index="{{index}}"><i class="icon-remove icon-white"></i> Delete Step</a>
      <a href="#/field/add" class="btn btn-mini btn-success" id="add_field" data-step_index="{{index}}"><i class="icon-plus icon-white"></i> Add Field</a>
    </div>
  </div>
</div>
{{/each_with_key}}
<a href="#/step/add" class="btn btn-mini btn-success" id="add_step"><i class="icon-plus icon-white"></i> Create Step</a>
{% endtplhandlebars %}

{% tplhandlebars "hb-fields" %}
{{#each_with_key step.fields key="index"}}
<div class="field">
  <form>
    <fieldset>
    <legend>Basics</legend>
    <label for="">Type of Step</label>
    <input type="radio" name="type" value="step" /> Standard Step<br/>
    <input type="radio" name="type" value="loop-step" /> Loop Step
    </fieldset>
    <fieldset>
    <legend>Properties</legend>
    <label for="">Title</label>
    <input type="input" name="properties.step_title" value="" />
    </fieldset>
  </form>
</div>
{{/each_with_key}}
{% endtplhandlebars %}

<script>
$(document).ready(function(){
    app = $.sammy(function() {
        var self = this;

        self.steps_view = Handlebars.compile($('script#hb-steps').html());
        self.fields_view = Handlebars.compile($('script#hb-fields').html());

        self.steps = [];
        self.current_step = 0;
        self.fields = [];
        self.current_field = null;

        this.get('#/', function() {
        });


        self.step_json = {
          'type': 'step',
          'properties': {
            'step_title': 'Step No. 1',
            'hide_from': '',
            'hide_to': ''
            //'iteration_title': ''
          },
          'fields': []
        };
        self.input_json = {
          'field': 'CharField',
          'widget': 'TextInput',
          'label': '',
          'name': '',
          'help_text': '',
          'placeholder': '',
          'data-hb-name': '',
          'required': 'true',
          'class': 'md-updater'
        };

        self.clone = function clone(obj) {
            return $.extend(true, {}, obj);
        };

        self.add_step = function add_step(data) {
          data = (data == undefined) ? self.clone(self.step_json): data;
          self.steps.push(data);
          self.render_steps();
        };
        self.delete_step = function delete_step(index) {
            self.steps.splice(index,1);
            self.render_steps();
        };
        self.add_field = function add_field(step_index) {
          self.steps[step_index].fields.push(self.input_json);
          self.render_fields(step_index);
        };
        self.delete_field = function delete_field(step_index, field_index) {
        };

        self.render = function render() {
          self.render_steps();
          self.render_steps(self.selected_step);
        };
        self.render_steps = function render_steps() {
          $( "div#steps_list" ).html(self.steps_view({'steps': self.steps}));
        };
        self.render_fields = function render_fields(step_index) {
            console.log(step_index)
            console.log(self.steps[step_index])
          $( "div#fields_list" ).html(self.fields_view({'step': self.steps[step_index]}));
        };

        self.init_interface = function init_interface() {
          $('.step').live('click', function(event){
                event.preventDefault();
                step = $(this).attr('data-step_index');
                if (self.current_step != step) {
                    $(this).addClass('selected');
                    self.current_step = step;
console.log('step click:'+self.current_step)
                    self.render_fields(self.current_step);
                }
          });
          $('.field').live('click', function(event){
              event.preventDefault();
          });
          $('a#add_step').live('click', function(event){
              event.preventDefault();
              self.add_step();
          });
          $('a.delete_step').live('click', function(event){
              event.preventDefault();
              step = $(this).attr('data-step_index');
              self.delete_step(step);
          });
          $('a#add_field').live('click', function(event){
              event.preventDefault();
              self.current_step = $(this).attr('data-step_index');
              self.add_field(self.current_step);
          });
          $('a.delete_field').live('click', function(event){
              event.preventDefault();
              step = $(this).attr('data-step_index');
              field = $(this).attr('data-field_index');
              self.delete_field(step, field);
          });
        };

        self.init = function init() {
          self.init_interface();
          self.add_step();
          self.render_steps();
          self.current_step = 0;
        };

       self.init();
    });

    // start the application
    app.run('#/');
});
</script>
{% endblock %}