{% extends 'base.html' %}
{% load i18n markup templatetag_handlebars %}
{% load url from future %}

{% block bodyclass %}review{% endblock %}


{% block body %}
<div class="span12">
  <h2>Document Author tool</h2>
</div>

<div class="span2 sidebar">
  <ul class="nav nav-list">
      <li><a href="#/"> {% trans 'Authoring' %}</a></li>
    <li class="divider"></li>
      <li><a href="#/review/json"> {% trans 'Review JSON' %}</a></li>
    <li class="divider"></li>
    <li class="nav-header">{% trans 'Coming Eventually' %}</li>
      <li><a href="#/review/doc"> {% trans 'Review Document' %}</a></li>
  </ul>
</div>

<div id="authoring" class="row view default">
    <div id="steps" class="span4">
        <div id="steps_list" class="doc-body"></div>
    </div>

    <div id="fields" class="span5">
        <div id="fields_list" class="doc-body"></div>
    </div>
</div>

<div id="json" class="row span9 view hide">
    <textarea id="json-output" class="span9" style="height:640px;"></textarea>
</div>

<div id="doc" class="row span7 view hide">
    Document coming soon
</div>
{% endblock %}

{% block css %}{% endblock %}

{% block js %}

<script type="text/x-handlebars" id="hb-steps">
{% verbatim %}
{{#each_with_key steps key="index"}}
<div class="step info" data-step_index="{{index}}">
  <form id="step-{{index}}" data-step_index="{{index}}" class="form-step">
{% endverbatim %}
    {{ form_steps }}
  </form>
  {% verbatim %}
  <div class="form-actions control-group">
    <div class="pull-right controls">
      <a href="#step/delete" class="btn btn-danger btn-mini delete_step" data-step_index="{{index}}"><i class="icon-remove icon-white"></i> Delete Step</a>
      <a href="#/field/add" class="btn btn-mini btn-success" id="add_field" data-step_index="{{index}}"><i class="icon-plus icon-white"></i> Add Field</a>
    </div>
  </div>
  {% endverbatim %}
</div>
{% verbatim %}{{/each_with_key}}{% endverbatim %}
<a href="#/step/add" class="btn btn-mini btn-success" id="add_step"><i class="icon-plus icon-white"></i> Create Step</a>
</script>

<script type="text/x-handlebars" id="hb-fields">
{% verbatim %}
<div class="info" data-step_index="{{step.index}}">
    {{#each_with_key step.fields key="index"}}
    {% endverbatim %}
    <div class="field">
      {% verbatim %}
      <form id="field-{{index}}" data-field_index="{{index}}" class="form-field">
      {% endverbatim %}
        {{ form_fields }}
      </form>
    </div>
    {% verbatim %}
    {{/each_with_key}}
    {% endverbatim %}
</div>
</script>

<script>
$(document).ready(function(){
    app = $.sammy(function() {
        var self = this;

        self.views = $('div.view');
        self.nav = $('ul.nav-list li a');

        self.steps_view = Handlebars.compile($('script#hb-steps').html());
        self.fields_view = Handlebars.compile($('script#hb-fields').html());
        self.json_output = $('#json-output');

        self.steps = [];
        self.current_step = 0;
        self.fields = [];
        self.current_field = null;

        this.get('#/', function() {
            self.show($('div#authoring'));
        });
        this.get('#/review/json', function() {
            self.show($('div#json'));
        });
        this.get('#/review/doc', function() {
            self.show($('div#doc'));
        });

        this.hide_all = function hide_all() {
            self.nav.removeClass('selected');
            $.each(self.views, function(index, item) {
                $(item).hide();
            });
        };
        this.show = function show(view_list) {
            if ($.isArray(view_list) == false) {
                view_list = [view_list];
            }
            self.hide_all();
            $('[href="'+window.location.hash+'"]').addClass('selected');
            $.each(view_list, function(index, item) {
                item.show();
            });
        }

        self.step_json = {
          'type': 'step',
          'properties': {
            'step_title': 'Step No. 1',
            'hide_from': '',
            'hide_to': ''
            //'iteration_title': ''
          },
          'fields': []
        };
        self.input_json = {
          'field': 'CharField',
          'widget': 'TextInput',
          'label': '',
          'name': '',
          'help_text': '',
          'placeholder': '',
          'data-hb-name': '',
          'required': 'true',
          'class': 'md-updater'
        };

        self.clone = function clone(obj) {
            return $.extend(true, {}, obj);
        };
        // ---- VIEW CRUD -----
        self.add_step = function add_step(data) {
          data = (data == undefined) ? self.clone(self.step_json): data;
          self.steps.push(data);
          self.render();
        };
        self.delete_step = function delete_step(index) {
            self.steps.splice(index,1);
            self.render();
        };
        self.add_field = function add_field(step_index) {
          self.steps[step_index].fields.push(self.input_json);
          self.render_fields(step_index);
          self.update_json();
        };
        self.delete_field = function delete_field(step_index, field_index) {
        };
        // ---- UPDATE JSON -----
        self.update_json = function update_json() {
            self.json_output.val(JSON.stringify(self.steps, null, "\t"));
        };
        // ---- RENDER VIEWS -----
        self.render = function render() {
          self.render_steps();
          self.render_steps(self.selected_step);
        };
        self.render_steps = function render_steps() {
          $( "div#steps_list" ).html(self.steps_view({'steps': self.steps}));
        };
        self.render_fields = function render_fields(step_index) {
            console.log(step_index)
            console.log(self.steps[step_index])
          $( "div#fields_list" ).html(self.fields_view({'step': self.steps[step_index]}));
        };

        // ---- UPDATE JSON FROM FORMS -----
        self.updateStep = function updateStep(field) {
            var form = field.closest('form.form-step');
            var step_index = $(form).attr('data-step_index');
            var attr_name = field.attr('name');
            self.steps[step_index][attr_name] = field.val();
            self.update_json();
        };
        self.updateField = function updateField(field) {
            var form = field.closest('form.form-field');
            var field_index = $(form).attr('data-field_index');
            var info = form.closest('div.info');
            var step_index = $(info).attr('data-step_index');

            var attr_name = field.attr('name');
            self.steps[step_index].fields[field_index][attr_name] = field.val();
            self.update_json();
        };

        self.init_interface = function init_interface() {
          $('.step').live('click', function(event){
                event.preventDefault();
                step = $(this).attr('data-step_index');
                if (self.current_step != step) {
                    $(this).addClass('selected');
                    self.current_step = step;
                    self.render_fields(self.current_step);
                }
          });
          $('.field').live('click', function(event){
              event.preventDefault();
          });
          $('a#add_step').live('click', function(event){
              event.preventDefault();
              self.add_step();
          });
          $('a.delete_step').live('click', function(event){
              event.preventDefault();
              step = $(this).attr('data-step_index');
              self.delete_step(step);
          });
          $('a#add_field').live('click', function(event){
              event.preventDefault();
              self.current_step = $(this).attr('data-step_index');
              self.add_field(self.current_step);
          });
          $('a.delete_field').live('click', function(event){
              event.preventDefault();
              step = $(this).attr('data-step_index');
              field = $(this).attr('data-field_index');
              self.delete_field(step, field);
          });
          // Forms
          $('form.form-step input').live('change', function(event){
              event.preventDefault();
              self.updateStep($(this));
          });
          $('form.form-field input').live('change', function(event){
              event.preventDefault();
              self.updateField($(this));
          });
        };

        self.init = function init() {
            self.current_step = 0;
            self.init_interface();
            self.add_step();
            self.render();
        };

       self.init();
    });

    // start the application
    app.run('#/');
});
</script>
{% endblock %}