{% extends 'base.html' %}
{% load i18n %}
{% block bodyclass %}assembly{% endblock %}

{% block body %}
<div class="row">
	<div>
		<div class="span8">{% block owner_info %}{% endblock %}</div>
		<div class="span4 pull-right">{% block document_head %}{% endblock %}</div>
	</div>
</div>
<div class="row">
  <div class="span4 document-questions">
    <div class="">
	    <div class="document-questions-inner">

			{% block form %}{% endblock %}
		</div>
	</div>
  </div>
  <div class="span8 pull-right">
    <div class="draft-document">
      {% block document %}{% endblock %}
    </div>
  </div>
</div>
{% endblock %}