{% extends 'document/base-create.html' %}
{% load i18n markup templatetag_handlebars %}
{% load glynt_helpers %}
{% load url from future %}


{% block owner_info %}
<h3>{{ object.name }}</h3>
{% trans 'shared by' %}
<h4>{{ object.owner.get_full_name }}</h4>
{% endblock %}

{% block document %}
<h3>Create a document</h3>
<p>Copy & Paste your document here</p>
<a href="" class="btn btn-small btn-primary">New If</a>
<a href="" class="btn btn-small btn-primary">New Loop</a>
<form>
    <textarea name="doc_input" id="doc_input" data-bind="value: App.getDocumentHTML()">
I, "Name"

Hereby declare that I am willing to pay $0.00 in unmarked bearer bonds.

For the assassination of "target name" before the date of 23 March 2012.

* And Ill take "name" out as well!
* And Ill take "name" out as well!

## Awesome, your going to make me rich! Thanks ##

Copyright Company Name 2012  
http://www.google.com

_**Of course, you do realise that this is a joke yeah?**_
    </textarea>
</form>
{% endblock %}

{% block variables %}
<h3>Doc Variables</h3>
<a href="" class="btn btn-small btn-primary">New</a>
<ul class="doc_vars">
    <li class="used">Before Date Of</li>
    <li><a href="">Cost</a> <a href="" class="pull-right btn btn-mini btn-danger">x</a></li></li>
    <li class="used">Name</li>
    <li class="used">Target Name</li>
</ul>
{% endblock %}

{% block steps %}
<h3>Steps</h3>
<a href="" class="btn btn-small btn-primary">New</a>
<ul class="doc_steps">
    <li><b>Step 1</b> - std
        <ol>
            <li><a href="">Name</a> <a href="" class="pull-right btn btn-mini btn-warning">x</a></li></li>
        </ol>
    </li>
    <li><b>Step 2</b> - loop
        <ol>
            <li><a href="">Target Name</a> <a href="" class="pull-right btn btn-mini btn-warning">x</a></li></li>
        </ol>
    </li>
    <li><b>Step 3</b> - std
        <ol>
            <li><a href="">Before Date Of</a> <a href="" class="pull-right btn btn-mini btn-warning">x</a></li></li>
        </ol>
    </li>
</ul>
{% endblock %}

{% block extra %}
<h3>Modal Views</h3>

<div class="row">
    <h4>Variable Form</h4>
    <form class="form-inline">
        <fieldset>
            <label for="">Name</label><input type="text" name="" value=""/>
            <label for="">Label</label><input type="text" name="" value=""/>
            <label for="">Help text</label><input type="text" name="" value=""/>
            <label for="">Placeholder</label><input type="text" name="" value=""/>
            <label for="">Required</label><input type="checkbox" name="" value=""/>
            <label for="">Type</label><select><option></option></select>
        </fieldset>
    </form>
</div>

<div class="row">
    <h4>Loop Variable Form</h4>
</div>
{% endblock %}

{% block css %}
<style>
#doc_input {
    width:100%;
    height:480px;
}

ul.doc_steps, ul.doc_vars{
    list-style-type: none;
    list-style: none;
    margin:10px;
    padding:5px;
}
ul.doc_steps li{
    float:left;
    background-color:#ccc;
    margin:5px;
    width:120px;
}
ul.doc_vars li.used{
    color:#aaa;
}
ul.doc_vars li:first {
background-color:#c00;
}
ul.doc_vars li:first b, 
ul.doc_steps li b{ 
font-weight:bolder;
font-size:1.2em;
}
ul.doc_steps li ol{
    list-style-type: none;
    list-style: none;
    margin:0px;
}
ul.doc_vars li, 
ul.doc_steps li ol li{
    background-color:#dedede;
    color:#000;
    width:100%;
    margin:2px 0px;
}

.hidden {
    display:none;
}
form div.form-group ul{
    list-style-type: none;
    list-style: none;
}
.doc-var{
    background-color:#ccc;
}
span.helptext {
display:none;
}
</style>
{% endblock %}

{% block js %}
<script id="js-document" type="text/x-handlebars-template">
{{ object.body|safe }}
</script>

<script id="document-controls" type="text/javascript">
$(document).ready(function(){
    function DocumentModel() {
        var self = this;

        self.documentVariables = ko.observableArray([]);
        self.documentSteps = ko.observableArray([]);

        self.handlebarsElementId = ko.observable('textarea#doc_input');
        self.documentTemplate = ko.observable($(self.handlebarsElementId()).val());
        self.renderedHTML = ko.observable('');

        self.context = ko.observable({
            'company': {
                'name': 'RuleNo1',
                'url':'http://www.ruleno1.com'
            },
            'document': {
                'title': '{{ object.name }}'
            }
        });

        self.addVar = function addVar(var) {
        }
        self.editVar = function editVar(var) {
        }
        self.removeVar = function removeVar(var) {
        }

        self.addStep = function addStep(step) {
        }
        self.editStep = function editStep(step) {
        }
        self.removeStep = function removeStep(step) {
        }

        self.render = function render() {
            var context = self.context();
            var source   = self.documentTemplate();
            var template = Handlebars.compile(source);
            return template(context);
        }
    }

    /**
    * Primary view acts as a holder for the other views
    */
    function PageDocumentController() {
        var self = this;

        self.markdownConverter = new Markdown.Converter();

        self.init = function init() {
            // main initializer
            self.render();
        }

        self.getDocumentHTML = function getDocumentHTML() {
            return self.documentModel.renderedHTML();
        }

        self.render = function render() {
            var md = self.documentModel.render();
            var html = self.renderMarkdown(md);
            self.documentModel.renderedHTML(html)
        }

        self.slugify = function slugify(text) {
            if (typeof text == 'boolean') {
                text = (text === true)?'true':'false';
            } else {
                text = text.replace(/[^_-a-zA-Z0-9,&\s]+/ig, '');
                //text = text.replace(/-/gi, "_");
                text = text.replace(/\s/gi, "-");
            }
            return text.toLowerCase();
        }

        self.renderMarkdown = function render(md) {
            return self.markdownConverter.makeHtml(md);
        }

        self.changeContext = function changeContext(input) {
            self.documentModel.setContextItem(input);
            self.render();
        }

        self.init();
    }

    // ----- KO Instance -----
    App = new PageDocumentController()
    // ----- KO Bindings -----
    ko.applyBindings(App);
});
</script>

{% endblock %}