{% extends 'document/base.html' %}
{% load i18n markup templatetag_handlebars %}
{% load glynt_helpers %}
{% load url from future %}

{% block body %}
<div class="hero-unit">
	<h1>{{ category.name }}</h1>
</div>
<div class="row">

{% if object_list %}
    <table id="documents">
        {% for doc in object_list %}
            <tr>
                <td>{{ doc.name }}</td>
            </tr>
        {% endfor %}
    </table>
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{% url 'document:category_list' type=doc_type category=category.name %}?page={{ page_obj.previous_page_number }}">{% trans 'Previous' %}</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{% url 'document:category_list' type=doc_type category=category.name %}?page={{ page_obj.next_page_number }}">{% trans 'Next' %}</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% else %}
    <p>{% trans 'No documents found' %}</p>
{% endif %}

</div>
{% endblock %}