{% extends 'document/base.html' %}
{% load i18n markup %}
{% load sign_tags %}
{% load glynt_helpers %}
{% load url from future %}


{% block owner_info %}
<div class="span12">
  <h2 id="document-title" class="editable">{{ userdoc.name }}</h2>
  <form id="userdoc-name-form" class="hidden">
      {{ userdoc_form }}
  </form>
</div>
{% endblock %}

{% block form %}
    <div id="docu-form-head" class="row">
        <div id="messages" data-bind="html: App.message"></div>
    </div>
    {% for form in form_set %}
    <form id="glynt-doc-{{ forloop.counter }}"  class="form-horizontal bind-document">{% csrf_token %}
    <div id="form-group-{{ forloop.counter }}" class="form-group hidden">
        <h3><span class="step-title"></span></h3>
        <ul>
        {{ form.as_ul }}
        </ul>
    </div>
    </form>
    {% endfor %}

    <div id="last-step" class="row hide" data-bind="visible: App.formControls.isLastStep()">
      <div id="form-group-{{ final_step_index }}" class="row form-group">
          <div id="formCompleteOptions" class="span3 border">
              <button id="btn-post-pdf" class="btn btn-green btn-success" type="button">{% trans 'Download PDF' %}</button>
          </div>
      </div>
      
      <div id="invite-to-sign" class="row" data-bind="visible: App.formControls.isLastStep()">&nbsp;</div>
    </div>
    <div id="progress-buttons" class="hide controls pull-right">
        <span data-bind="visible: App.formControls.showPrev()"><button id="btn-prev" class="btn btn-primary btn-small btn-prev" type="button" data-bind="click: App.formControls.prev">{% trans 'Previous' %}</button></span>
        <span data-bind="visible: App.formControls.showNext()"><button id="btn-next" class="btn btn-success btn-small btn-next" type="button" data-bind="click: App.formControls.next">{% trans 'Save Step' %}</button></span>
    </div>
{% endblock %}

{% block document_head %}
<div class="row">
  <div id="step-set" data-bind="html: App.stepListDisplay()"></div>
</div>
{% endblock %}

{% block document %}
<div class="doc-body">
<span id="document-md" data-bind="html: App.documentModel.renderedHTML()">{% show_loading modal='False' %}</span>
</div>
{% endblock %}

{% block css %}
<style>
ul.form-fields{
  list-style-type: none;
}
.hidden {
    display:none;
}
form div.form-group ul{
    list-style-type: none;
    list-style: none;
}
.doc-var{
    background-color:#ccc;
}
span.helptext {
display:none;
}
.editable{
    cursor: pointer;
    background-color:transparent;
}
.editable:hover{
    background-color:#f5f5f5;
}
ul#step-list{
  list-style-type: none;
  list-style: none;
}
ul#step-list li{
  float:left;
  cursor:pointer;
  width:40px;
  height:30px;
  margin:0px 0px;  background-color: #149bdf;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
     -moz-background-size: 40px 40px;
       -o-background-size: 40px 40px;
  background-size: 40px 40px;
}
ul#step-list li:first-child{
	border-radius:15px 0px 0px 15px;
}
ul#step-list li.current_step{
  background-color:#0c0;
}
ul#step-list li.last_step{
  background-color:#00c;
  border-radius:0px 15px 15px 0px;
 
}
</style>

{% endblock %}

{% block js %}
{% include 'document/inline/document.js' %}
{% invite_to_sign userdoc '#invite-to-sign' %}
{% endblock %}