{% extends 'document/base.html' %}
{% load i18n markup %}
{% load sign_tags %}
{% load glynt_helpers %}
{% load comments %}
{% load url from future %}


{% block owner_info %}
<div class="span12">
  <h2 id="document-title">{{ userdoc.name }}</h2>
  <a href="{% url 'document:my_view' slug=userdoc.slug %}">{% trans 'Edit' %}</a>
</div>
{% endblock %}

{% block form %}
<div id="invite-to-sign" class="row">&nbsp;</div>
<div id="document-comments" class="row doc-body">
  <div id="comment-form" class="row">
    {% get_comment_form for userdoc as comment_form %}
    {% comment_form comment_form next %}
  </div>
  <div class="comment-list">
    {% get_comment_list for userdoc as comment_list %}
    <ul id="comments">
      {% for comment in comment_list reversed %}
        <li id="c{{ comment.id }}">
            <span class="created">{% moment comment.submit_date comment.submit_date %}</span>
            <div>{{ comment.comment }}</div>
            <span class="created pull-right">{{ comment.name }}</span>
            <br/>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}

{% block document_head %}{% endblock %}

{% block document %}
<span id="document-md" data-bind="html: App.documentModel.renderedHTML()">{% show_loading modal='False' %}</span>
{% endblock %}

{% block css %}
<style>
#id_honeypot {
  display: none;
}
  .border{
    border:solid #c00 1px;
  }
</style>
{% endblock %}

{% block js %}
<script>
$(document).ready(function(){
  $('.submit_comment').live('click', function(event){
    event.preventDefault();
    var self = $(this);
    var form = $(this).closest('form');

    $.ajax({
      type: 'POST',
      url: form.attr('action'),
      data: form.serialize(),
    })
    .success(function(data, textStatus, jqXHR) {
      var base_form = self.closest('div#comment-form');
      var base_comment_ul = $('ul#comments');
      var comment_ul = $(data).find('ul#comments');
      var new_li = comment_ul.find('li:first');
      base_comment_ul.prepend(new_li);
      base_form.find('#id_comment').val('')
      base_form.find('#id_comment').select();
    })
    .error(function(jqXHR, textStatus, errorThrown) { 
    })
    .complete(function() {
    });
  });
});
</script>
{% include 'document/inline/document.js' %}
{% invite_to_sign userdoc '#invite-to-sign' %}
{% endblock %}