{% extends 'document/base.html' %}
{% load i18n markup %}
{% load sign_tags %}
{% load glynt_helpers document_tags %}
{% load url from future %}

{% block bodyclass %}review{% endblock %}

{% block owner_info %}
<div class="span12">
  <h2 id="document-title">{% trans 'Review:' %} {{ userdoc.name }}</h2>
</div>
{% endblock %}

{% block form %}

<div class="span3 sidebar">
  <ul class="nav nav-list">
    <li><a href="{% url 'document:my_view' slug=userdoc.slug %}" class="btn btn-green">{% trans 'Edit Doc' %}</a></li>
    <li class="divider"></li>
      <li><a href="#/review"> {% trans 'Review Document' %}</a></li>
    <li class="divider"></li>
      <li><a href="#/review/signatories"> {% trans 'Signature Details' %}</a></li>
    <li class="divider"></li>
      <li><a href="#/review/comments"> {% trans 'Comments' %}</a></li>
    <li class="divider"></li>
      <li><a href="#/review/activity"> {% trans 'Activity' %}</a></li>
    <li class="nav-header">{% trans 'Signature Invites' %}</li>
      <li><div id="invite-to-sign" class="">&nbsp;</div></li>
  </ul>
</div>

{% endblock %}

{% block document_head %}{% endblock %}

{% block document %}
<div id="review" class="span9 view default">
    <div class="doc-body">
        <span id="document-md">{% show_loading modal='False' %}</span>
    </div>
</div>

<div id="signatories" class="span9 view hide">
    <h2 class="title">{% trans 'Signatories' %}</h2>
    <div class="doc-body">
        
    </div>
</div>

<div id="comments" class="span9 view hide">
    <h2 class="title">{% trans 'Comments' %}</h2>
    <div class="doc-body">
        <div id="document-comments">
        {% show_comments_for_object userdoc next %}
        </div>
    </div>
</div>

<div id="activity" class="span9 view hide">
    <h2 class="title">{% trans 'Activity' %}</h2>
    <div class="doc-body">
      <ul class="activity activity-large">
      {% document_activity_stream document=userdoc limit=50 %}
      </ul>
    </div>
</div>
{% endblock %}

{% block css %}{% endblock %}

{% block js %}
<script id="document-data" type="text/javascript">[{{ document_data|default:''|safe }}]</script>
<script id="js-document" type="text/x-handlebars-template">{{ userdoc.body|default:userdoc.source_document.body|safe }}</script>
<script>
$(document).ready(function(){
    var app = $.sammy(function() {
        var self = this;
        self.views = $('div.view');
        self.nav = $('ul.nav-list li a');

        var hb_templates_source   = $("script#template_list").html();
        var hb_templates_list = Handlebars.compile(hb_templates_source);

        this.get('#/', function() {
            this.redirect('#/review');
        });

        this.get('#/review', function() {
            self.show($('div#review'));
        });
        this.get('#/review/signatories', function() {
            self.show($('div#signatories'));
        });
        this.get('#/review/comments', function() {
            self.show($('div#comments'));
        });
        this.get('#/review/activity', function() {
            self.show($('div#activity'));
        });
    
        this.hide_all = function hide_all() {
            self.nav.removeClass('selected');
            $.each(self.views, function(index, item) {
                $(item).hide();
            });
        };
        this.show = function show_view(view_list) {
            if ($.isArray(view_list) == false) {
                view_list = [view_list];
            }
            self.hide_all();
            $('[href="'+window.location.hash+'"]').addClass('selected');
            $.each(view_list, function(index, item) {
                item.show();
            });
        }
    
    });

    // start the application
    app.run('#/');

    /**
    * Primary view acts as a holder for the other views
    */
    function PageDocumentController() {
        var self = this;

        self.markdownConverter = new Markdown.Converter();
        self.targetDocumentId = 'span#document-md';
        self.compiledTemplate = Handlebars.compile($('#js-document').html()); // must not be ko.observable

        self.render = function render() {
            var data = $.parseJSON($('script#document-data').html());
            data = data[0];

            html = self.renderMarkdown(self.compiledTemplate(data));
            $(self.targetDocumentId).html(html);
        }

        self.renderMarkdown = function renderMarkdown(md) {
          return self.markdownConverter.makeHtml(md);
        }

        self.registerCallback = function registerCallback(event_name, callback) {
          self.observer.registerCallback(event_name, callback);
        };
        self.dispatch = function dispatch(event_name, value) {
          self.observer.dispatch(event_name, value);
        };

        self.init = function init() {
          self.render();
          self.observer = new argosPanOptia();
        };

        self.init();
    }

    // ----- KO Instance -----
    App = new PageDocumentController();
    // ----- KO Bindings -----
    ko.applyBindings(App);




});
</script>
{% invite_to_sign userdoc '#invite-to-sign' %}
{% endblock %}