{% extends 'document/base.html' %}
{% load i18n markup templatetag_handlebars %}
{% load glynt_helpers %}
{% load url from future %}


{% block body %}

<div class="span5">
    <form id="field-creator" class="form-horizontal" action="{% url 'client:signup' %}" method="post">{% csrf_token %}
      {{ form }}
      <br/>
      <div class="form-actions">
          <button id="add-field" type="submit" class="btn btn-primary">{% trans "Add Field" %}</button>
      </div>
    </form>
</div>

<div class="span5 pull-right">
    <textarea id="step-list"></textarea>
</div>


{% endblock %}

{% block css %}
<style>
textarea#step-list {
    width:100%;
    min-height:640px;
}
</style>
{% endblock %}

{% block js %}

<script id="document-controls" type="text/javascript">
$(document).ready(function(){
    function DocumentModel() {
        var self = this;

        self.documentVariables = ko.observableArray([]);
        self.documentSteps = ko.observableArray([]);

        self.handlebarsElementId = ko.observable('textarea#doc_input');
        self.documentTemplate = ko.observable($(self.handlebarsElementId()).val());
        self.renderedHTML = ko.observable('');

        self.context = ko.observable({
            'company': {
                'name': 'RuleNo1',
                'url':'http://www.ruleno1.com'
            },
            'document': {
                'title': '{{ object.name }}'
            }
        });

        self.addVar = function addVar(var) {
        }
        self.editVar = function editVar(var) {
        }
        self.removeVar = function removeVar(var) {
        }

        self.addStep = function addStep(step) {
        }
        self.editStep = function editStep(step) {
        }
        self.removeStep = function removeStep(step) {
        }

        self.render = function render() {
            var context = self.context();
            var source   = self.documentTemplate();
            var template = Handlebars.compile(source);
            return template(context);
        }
    }

    /**
    * Primary view acts as a holder for the other views
    */
    function PageDocumentController() {
        var self = this;

        self.markdownConverter = new Markdown.Converter();

        self.init = function init() {
            // main initializer
            self.render();
        }

        self.getDocumentHTML = function getDocumentHTML() {
            return self.documentModel.renderedHTML();
        }

        self.render = function render() {
            var md = self.documentModel.render();
            var html = self.renderMarkdown(md);
            self.documentModel.renderedHTML(html)
        }

        self.slugify = function slugify(text) {
            if (typeof text == 'boolean') {
                text = (text === true)?'true':'false';
            } else {
                text = text.replace(/[^_-a-zA-Z0-9,&\s]+/ig, '');
                //text = text.replace(/-/gi, "_");
                text = text.replace(/\s/gi, "-");
            }
            return text.toLowerCase();
        }

        self.renderMarkdown = function render(md) {
            return self.markdownConverter.makeHtml(md);
        }

        self.changeContext = function changeContext(input) {
            self.documentModel.setContextItem(input);
            self.render();
        }

        self.init();
    }

    // ----- KO Instance -----
    App = new PageDocumentController()
    // ----- KO Bindings -----
    ko.applyBindings(App);
});
</script>

{% endblock %}