{% load lawyer_profile_tags endless jsonify glynt_helpers humanize %}
{% lazy_paginate object_list %}

{% for l in object_list %}
<div class="clearfix partner">

    <a class="partner-avatar" href="{% url 'lawyer:profile' slug=l.username %}">
        <img src="{{ l.profile_photo }}"/>
    </a>

    <div class="partner-overview">
        <h2 class="partner-name"><a href="{% url 'lawyer:profile' slug=l.username %}">{{ l.full_name }}</a></h2>

        <h3>{{ l.summary|truncatechars:55 }}</h3>

        {% if l.firm_name %}
            <h3>{% if l.position %}{{ l.position }} <span>at</span> {% endif %}{{ l.firm_name }}</h3>
        {% endif %}

        <ul class="partner-info">
            <li class="marker big">
                {% for practice_location in l.object.practice_locations  %}
                {{ practice_location }}{% if not forloop.last %} <span>and</span> {% endif %}
                {% endfor %}
            </li>
        </ul>
    </div>

    {% if l.fee_packages %}
    <div class="card-bordered card-transaction">
        {% fee_packages_mini fee_packages=l.fee_packages %}
        <a href="{% url 'lawyer:profile' slug=l.username %}" class="transaction-view-all"><span>View all</span></a>
    </div>
    {% endif %}

</div>
{% empty %}
 <div class="row">
    <div class="span12">
        <div class="no-results">
            Sorry, no lawyers found in that area.
            More are signing up every day, so check back in a week or so. 
        </div>
    </div>
</div>
{% endfor %}

{% show_more %}

{% block js %}
    <script>
        $(document).ready(function () {
            $('.tip').tooltip();
        });
    </script>
{% endblock %}
