{% load lawyer_profile_tags endless jsonify %}
{% lazy_paginate object_list %}

{% for l in object_list %}
<div class="partner row">
    <div class="span2">
        <a href="{% url 'lawyer:profile' slug=l.username %}"><img src="{{ l.profile_photo }}" class="partner-avatar" /></a>
    </div>
    <div class="span10"> 
        <img src="http://local.weareml.com:8000/m/firm/orrick-bank-logo-1-500x316.jpg" class="partner-logo"> 
        <h2><a href="{% url 'lawyer:profile' slug=l.username %}">{{ l.full_name }}</a></h2>
        {% if l.firm_name %}
            <h3>{% if l.position %}{{ l.position }} at {%endif%}{{ l.firm_name }}</h3>
        {% endif %}
        <ul class="partner-info">
            <li class="marker big">San Francisco, CA <span>and</span> London, England</li>
        </ul>
        <ul class="partner-info">
            {% for practice_location in l.object.practice_locations  %}aa
            <li class="marker big">{{ practice_location }}</li>
            {% endfor %}    
        </ul>

        <a href="{% url 'lawyer:profile' slug=l.username %}" class="btn btn-primary">View Profile</a>
<!--         <ul class="partner-social">
            <li class="angellist"><div class="circle-big">33</div><div class="circle-small animated fadeInDown">2</div></li>
            <li class="linkedin"><div class="circle-big">33</div><div class="circle-small animated fadeInDown">2</div></li>
            <li class="twitter"><div class="circle-big">33</div><div class="circle-small animated fadeInDown">2</div></li>
        </ul> -->
        {% if firm.photo %}
            <img src="{{ MEDIA_URL }}{{ firm.photo|default:'firm/blank.gif' }}" alt="{{ firm.name }}" class="firm-logo" />              
        {% endif %} 
    </div>  
</div>
{% empty %}
    None Found
{% endfor %}

{% show_more %}
