{% load lawyer_profile_tags endless jsonify glynt_helpers project_tags humanize %}
{% lazy_paginate object_list %}
<div class="row">

{% for l in object_list %}
<div class="col-4 text-center">
    <a href="{% url 'lawyer:profile_lite' slug=l.username %}" data-toggle="modal" data-target="#overview-modal" data-is_ajax="true" class=""><img src="{{ l.profile_photo }}" class="img-circle "/></a>
    <h3><a href="{% url 'lawyer:profile_lite' slug=l.username %}" data-toggle="modal" data-target="#overview-modal" data-is_ajax="true" >{{ l.full_name|truncatechars:26 }}</a>
         <script type="IN/MemberProfile" data-id="http://www.linkedin.com/in/alexhalliday" data-format="hover"></script></h3>
    {% if l.firm_name %}
         <p>{{ l.position }} <br /> <span class="softer">{{ l.firm_name }}</p> 
    {% endif %}
</div>
<!-- 
    <div class="clearfix partner">
        <a class="partner-avatar" href="{% url 'lawyer:profile' slug=l.username %}">
            <img src="{{ l.profile_photo }}"/>
            <engaged lawyer="{{ l.pk }}"></engaged>
        </a>
        <div class="partner-overview">
            <h2 class="partner-name"><a href="{% url 'lawyer:profile' slug=l.username %}">{{ l.full_name|truncatechars:26 }}</a></h2>

            <h3>{{ l.summary}}</h3>

            {% if l.firm_name %}
                <h3>{% if l.position %}{{ l.position }} <span>at</span> {% endif %}{{ l.firm_name }}</h3>
            {% endif %}

            <ul class="partner-info">
                <li class="marker big">{% filter truncatechars:130 %}{% for practice_location in l.practice_locations  %}
                    {{ practice_location }}{% if not forloop.last %} <span>and</span> {% endif %}{% endfor %}{% endfilter %}
                </li>
            </ul>
        </div>
 -->
      <!--   {% if l.fee_packages %}
        <div class="card-bordered card-transaction">
            {% fee_packages_mini fee_packages=l.fee_packages %}
            <a href="{% url 'lawyer:profile' slug=l.username %}" class="transaction-view-all"><span>View all</span></a>
        </div>
        {% endif %} -->
{% empty %}
 <div class="row">
    <div class="span12">
        <div class="no-results">
            No lawyers found.
        </div>
    </div>
</div>
{% endfor %}
</div>

{% show_more %}

{% block js %}

<!-- <script src="{{ STATIC_URL }}lawyer/angularjs/test/lib/angular-mocks.js"></script> -->
 <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $('.tip').tooltip();
        });
    </script>
{% endblock %}
