<!-- Removed for now by AH  --> 
<!-- {% if show %}
    {% if not profile_is_valid %}
            {% if warning_type == 'alert' %}
                <div class="alert alert-block needs-completing">
                    <h4>Please complete your basic profile to appear in the marketplace</h4>
                    Fill out <a href="{{ full_profile_url }}#general" class="update-tab">General</a> and <a href="{{ full_profile_url }}#profile" class="update-tab">Profile</a> and press Update Profile.
                </div>
            {% endif %}
            {% if warning_type == 'flashing' %}
                <script>
                    var warningTemplate = $('<div/>', {
                        html: '<i class="icon-warning-sign icon-white animated flash"></i> <a href="{{ full_profile_url }}">Update profile</a>'
                        ,class: 'profile-nudge'
                    });
                    $('.navbar-inner .container').append(warningTemplate);
                </script>
            {% endif %}
    {% else %}
        {% if warning_type == 'alert' %}
            <div class="alert alert-block {% if is_active %}alert-success{% endif %} profile-live">
                <h4>Your profile is {{ profile_status }}</h4>
                {% if not is_active %}
                    Improve your exposure by updating: <a href="{{ full_profile_url }}#transactions-and-companies" class="update-tab">Transaction & Startups</a> and <a href="{{ full_profile_url }}#connected-accounts" class="update-tab">Connected Accounts</a>.
                {% endif %}
            </div>
        {% endif %}
    {% endif %}
{% endif %} -->