  <!--       <div class="row">
            <div class="col col-lg-6">
                <table class="table lawyer-list">
                    <tbody>
                        <tr>
                            <td class="lawyer-picture">
                                <img src="https://si0.twimg.com/profile_images/3695837467/19d70ecfaf043c373c4476cac70a24da.jpeg" class="img-rounded">
                            </td>
                            <td class="lawyer-info">
                                <h2>Alex Halliday</h2>
                                <p>General Counsel to Tech, Media, Life Science Companies.</p>
                                <p><i class="glyphicon glyphicon-map-marker"></i> San Francisco, CA.</p>
                            </td>
                            <td class="lawyer-meta"><button type="button" class="btn btn-large btn-primary">Get Introduced</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col col-lg-6">
                <table class="table lawyer-list">
                    <tbody>
                        <tr>
                            <td class="lawyer-picture">
                                <img src="http://celebpictu.com/images/sally-sparrow-02.jpg" class="img-rounded">
                            </td>
                            <td class="lawyer-info">
                                <h2>Sally Sparrow</h2>
                                <p>General Counsel to Tech, Media, Life Science Companies.</p>
                                <p><i class="glyphicon glyphicon-map-marker"></i> San Francisco, CA.</p>
                            </td>
                            <td class="lawyer-meta"><button type="button" class="btn btn-large btn-primary">Get Introduced</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div> -->


{% if num_lawyers > 0 %}
    {% for l in lawyers %}
        <table class="table attorney-list">
            <tbody>
                <tr>
                    <td class="attorney-picture">
                        <img src="{{ l.user.profile.get_mugshot_url }}" class="img-rounded">
                    </td>
                    <td class="attorney-info">
                        a{{ l.status }}b
                        <h2>{{ l.user.get_full_name }}</h2>
                        <p>{{ l.position }} at {{ l.firm_name }}</p>
                        <p>{% for loc in practice_locations %}<i class="glyphicon glyphicon-map-marker"></i> {{ loc }}{% endfor %}</p>
                    </td>
                    <td class="attorney-meta"><button type="button" class="btn btn-large btn-primary">Get Introduced</button></td>
                </tr>
            </tbody>
        </table>
    {% endfor %}
{% else %}
    {% if display_type == 'generic' %}
    <div class="callout empty">
        <div class="empty-message empty-message-time">
            <h3>We're searching for available lawyers</h3>
            <p>We'll notify you when your options are available for review.</p>
        </div>
    </div>
    {% else %}

     <table class="table attorney-list">
        <tbody>
            <tr>
                <td class="attorney-info">
                    <h2></h2>
                    <p class="softer">We are searching for one on your behalf. We'll notify you when your options are available for review.</p>
                </td>
            </tr>
        </tbody>
    </table>
    {% endif %}
{% endif %}