<div class="comment-item initial-lead message-{% if comment.user == user %}right{% else %}left{% endif %} clearfix">

    <div class="profile-card message-avatar message-avatar" data-template="mini" data-username="{{ engagement.founder }}"></div>

    <div class="comment-text triangle-border">
        <p>{{ engagement.engagement_statement|linebreaks }} </p>
    </div>

    <span class="comment-name">{{ engagement.founder.user.get_full_name }}</span>

    <span class="comment-date">{{ engagement.date_created }}</span>

</div>

<div class="engagement-types">
    <p>Work required:
    {% for t,name in object.engagement_types %}
        <span class="label">{{ name }}</span>
    {% endfor %}
    </p>
</div>
