<div id="comments" class="">
{% for comment in comment_list reversed %}
    <div id="c{{ comment.id }}" class="clearfix media">
    	<div class="pull-left">
    		<img src="http://placehold.it/60x60" class="media-object">
    	</div>
        <div class="post-content media-body">
            <span class="text-muted"><a href="">{{ comment.user.get_full_name }}</a> {{ comment.submit_date|timesince }}</span>
            {{ comment.comment|linebreaks }}
        </div>
    </div>
{% endfor %}
</div>

