{% load i18n webdesign templatetag_handlebars %}
{% tplhandlebars "js-legal-will" %}

<!-- ## {{document.title}} ## -->
<h2>Shareholders Agreement</h2>

<p>THIS AGREEMENT is made on {{date_start}} between the shareholders:</p>


{{#each loop_shareholder}}
<p>({{this.index}}) {{this.shareholder_name}} of {{this.shareholder_address}}</p>

{{/each}}

<!--Modified from original version-->
<p>and {{full_company_name}} of {{company_street_address}}, {{company_city}}, {{company_state}} {{company_zip}} (the 'Company').</p>
<ol>
  <li><b>1.	DEFINITIONS</b></li>
</ol>
<p>The following terms mean:</p>
<table cellspacing="0" cellpadding="0" class="t1">
  <tbody>
    <tr>
      <td >
        <p>Board:</p>
      </td>
      <td >
        <p>The Directors of the Company from time to time.</p>
      </td>
    </tr>
    <tr>
      <td >
        <p>Business:</p>
      </td>
      <td >
        <p>The business to be carried out by the Company as permitted by the Memorandum of Association and detailed in the Schedule.</p>
      </td>
    </tr>
    <tr>
      <td >
        <p>Country:</p>
      </td>
      <td >
        <p>{{company_country}} or any other country that the Shareholders shall agree by simple majority to be the country in which the management and control shall be located.</p>
      </td>
    </tr>
    <tr>
      <td >
        <p>Director:</p>
      </td>
      <td >
        <p>Any Director for the time being of the Company.</p>
      </td>
    </tr>
    <tr>
      <td >
        <p>Period:</p>
      </td>
      <td >
        <p>While the Company remains solvent and carries on the Business or an order is made by the Court.</p>
      </td>
    </tr>
    <tr>
      <td >
        <p>Shares:</p>
      </td>
      <td >
        <p>Authorized share capital in the Company.</p>
      </td>
    </tr>
  </tbody>
</table>
<ol>
  <li><b>2.	BACKGROUND</b></li>
</ol>
<p>The Company was incorporated on {{company_date_incorp}} in {{company_state}} with Shares divided into {{shares_in_issue}} of {{share_value}} each and the Shareholders have agreed to be bound to each other and the Company as set out in the Agreement.  </p>
<ol>
  <li><b>3.	INTENTION OF THE COMPANY</b></li>
  <ol>
    <li>3.1.	The intention for which the Company has been formed is to carry on the Business and other activities as are agreed by the Board from time to time.</li>
    <li>3.2.	The Business shall be carried on in the best commercial interests of the Company and to give the best financial return to the Shareholders.</li>
    <li>3.3.	The management and control of the Company shall be in the {{company_country}}.</li>
    <li>3.4.	The Company shall at all times be resident for taxation and other purposes in the {{company_country}}.</li>
    <li>3.5.	The Shareholders ensure that the Company:</li>
    <ol>
      <li>3.5.1.	maintains correct and accurate fiscal records in relation to the Business and its affairs;</li>
      <li>3.5.2.	sends to the Directors copies of the management accounts {{company_management_account_freq}};</li>
      <li>3.5.3.	facilitates the holding of meetings attended by the Director on a {{company_meeting_freq}} basis;</li>
      <li>3.5.4.	ensures all assets of the Company that are capable of being insured are insured with an insurance company of repute to their full replacement value; </li>
      <li>3.5.5.	ensures that all risks and liabilities as are prudent to insure against are insured against with an insurance company of repute to a level recommended from time to time by the Company’s insurance brokers; and</li>
      <li>3.5.6.	does not disclose to any person (other than in the ordinary course of the Business) or use for its own purposes whatsoever any of the trade secrets or confidential information belonging to the Company either during or after termination of the Agreement save for information and knowledge which is lawfully in the public domain.</li>
    </ol>
  </ol>
  <li><b>4.	ALLOTMENT OF SHARES</b></li>
  <ol>
	{{#each loop_shareholder}}
    <li>4.{{this.index}} {{this.shareholder_name}} shall hold {{this.shareholder_shares}}  </li>
	{{/each}}
  </ol>
  <li><b>5.	CONSTITUTION OF THE BOARD</b></li>
  <ol>
    <li>5.1.	The maximum number of Directors holding office at any time shall be {{company_max_directors}}.</li>
    <li>5.2.	Each Shareholder may nominate {{company_director_noms}} board member(s).</li>
    <li>
    <ol>
  {{#if loop_shareholder_noms}}
    <ol>
    {{#each loop_shareholder_noms}}
      <li>5.2.1.  {{shareholder_nom_name}} may appoint {{shareholder_nom_allowed}} additional Director(s)</li>
      {{/each}}
    </ol>
  {{/if}}
    </ol>
	</li>
  </ol>

  <li><b>6.	DUTIES OF SHAREHOLDERS </b></li>
</ol>
<p>Unless there is unanimous agreement between the Shareholders, none of them individually shall exercise any of their voting rights or powers of control over the Company so that the Company:</p>
<ol>
  <ol>
    <li>6.1.	sells, transfers, leases, or assigns any of the Business;</li>
    <li>6.2.	is wound up other than expressly provided for in this Agreement or if the Company becomes insolvent;</li>
    <li>6.3.	enters into any contract or transaction except in the ordinary and proper course of its business on arms-length terms;</li>
    <li>6.4.	borrows or raises money including any finance leasing but not normal trade credit;</li>
    <li>6.5.	incurs capital expenditure in excess of {{max_cap}}.</li>
    <li>6.6.	incurs any capital expenditure </li>
    <li>6.7.	holds any meeting of Shareholders without the attendance of each Shareholder, their authorized representative or proxy;</li>
    <li>6.8.	amends the memorandum or articles of association of the Company;</li>
    <li>6.9.	alters any rights or restrictions attached to the Shares of the Company including issuing further Shares and increasing the share capital;</li>
    <li>6.10.	passes a resolution that would bring about a significant change in the operation of the Company; and</li>
    <li>6.11.	changes its name.</li>
  </ol>
  <li><b>7.	TRANSFER OF SHARES</b></li>
  <ol>
    <li>7.1.	If any Shareholder wishes to sell or transfer their Shares in the Company to another, they must give notice of the proposed sale or transfer to the other Shareholders.</li>
    <li>7.2.	The notice must state:</li>
    <ol>
      <li>7.2.1.	their desire to sell or transfer Shares;</li>
      <li>7.2.2.	the number of Shares to be sold or transferred;</li>
      <li>7.2.3.	the name and address of the proposed transferee; and</li>
      <li>7.2.4.	the amount of money to be paid by the proposed transferee for each share.</li>
    </ol>
    <li>7.3.	Upon receiving the notice, each Shareholder shall have a period of {{how_many_days}} offer days in which to make an offer for the Shares at a price equal to that which the proposed transferee intends to pay for all of the Shares.</li>
    <li>7.4.	If more than one Shareholder wishes to purchase the Shares at a price equal to that which the proposed transferee intends to pay, each of those Shareholders shall be notified in writing, and invited to make a bid in a sealed envelope within {{how_many_days_sealed}} day(s) from the date of notification.</li>
    <li>7.5.	All the bids in the sealed envelopes shall be delivered to the Shareholder wishing to sell or transfer their Shares who shall open them on the day after the last day for making the bids.</li>
    <li>7.6.	Upon the opening of the bids in the sealed envelopes, the Shareholder wishing to sell or transfer their Shares, shall be contractually bound to sell their Shares to the Shareholder making the highest offer. The Shareholder purchasing the Shares shall pay to the Shareholder selling the Shares the purchase money within {{how_many_days_to_pay}} day(s) for shares and upon payment the Shareholder selling the Shares shall deliver the share certificate or share certificates to the Shareholder purchasing the Shares.</li>
    <li>7.7.	If there are no bids greater than the original offer made to the Shareholder, they may sell or transfer their Shares to the person making the offer at the price stated in the notice.</li>
    <li>7.8.	If there are bids greater than the original offer made to the Shareholder and the Shareholder refuses to transfer the shares to the Shareholder making the successful bid, the Company shall appoint an attorney to execute a transfer on behalf of the Shareholder whereby the shares are transferred and may give a good receipt for any money received.</li>
    <li>7.9.	The Shareholders each appoint the Company their attorney for the purpose of carrying into effect the preceding clause.</li>
    <li>7.10.	The Company shall account to each Shareholder for all money received and for which good receipt is given.</li>
  </ol>
  <li><b>8.	INVALIDITY OF PART OF THE AGREEMENT</b></li>
</ol>
<p>In the event that there shall be a final adjudication that any provision or provisions of this Agreement is, are, or shall be invalid, illegal, or contrary to public policy, such adjudication shall not affect any of the provisions of the Agreement, which shall continue in full force and effect.</p>
<ol>
  <li><b>9.	EMPLOYEES</b></li>
</ol>
<p>The Company shall employ such persons as the Board shall consider necessary to ensure the proper and efficient conduct of the Business.</p>
<ol>
  <li><b>10.	NON-COMPETITION </b></li>
</ol>
<p>During the Period, none of the Shareholders shall:</p>
<ol>
  <ol>
    <li>10.1.	solicit or transact business similar to the Business;</li>
    <li>10.2.	cause or encourage any of the Company’s suppliers or advisors to cease, restrict, or reduce its supplies, services, or advice to it; and</li>
    <li>10.3.	cause, encourage, or assist any of the Company’s employees to leave its service or to do anything that would cause any one of them to be in breach of their employment with the Company.</li>
  </ol>
  <li><b>11.	DURATION OF THE AGREEMENT</b></li>
  <ol>
    <li>11.1.	The Agreement shall continue between the Shareholders for so long as the Company remains solvent and carries on the Business.</li>
    <li>11.2.	In the event of there being deadlock between the Shareholders, one or more of them may petition the court for the Company to be wound up and the assets of the Company sold.</li>
  </ol>
  <li><b>12.	PARTNERSHIP</b></li>
</ol>
<p>Nothing in the Agreement shall be deemed to constitute a partnership between the parties or constitute any party as the agent of the other party.</p>
<ol>
  <li><b>13.	ASSIGNMENT</b></li>
</ol>
<p>The Agreement is personal to the parties and may not be assigned at law or in equity.</p>
<ol>
  <li><b>14.	WAIVER AND VARIATION</b></li>
  <ol>
    <li>14.1.	No failure or delay on the part of any of the parties to the agreement relating to the exercise of any right, power, privilege, or remedy provided under the agreement shall operate as a waiver of such right, power, privilege, or remedy or as a waiver of any preceding or succeeding breach by the other party to the agreement nor shall any single or partial exercise of any right, power, privilege, or remedy precluded any other or further exercise of such or any other right, power, privilege, or remedy provided in the Agreement (all of which are several and cumulative and are not exclusive of each other) or of any other rights or remedies otherwise available to a party at law or in equity.</li>
    <li>14.2.	This Agreement shall not be altered or terminated unless such alteration or termination shall be expressly agreed in writing by the Shareholders.</li>
  </ol>
  <li><b>15.	LAW GOVERNING THIS AGREEMENT</b></li>
</ol>
<p>This Agreement shall be governed by and be construed in accordance with the laws of The State of {{company_state}}· All shareholders agrees to submit to the exclusive jurisdiction of the {{company_state}} Courts.</p>
<ol>
  <li><b>16.	GENERAL MATTERS</b></li>
</ol>
<p>This Agreement contains the whole agreement between the Shareholders in respect of the operation of the Company and supersedes any prior written or oral agreement between them and the Shareholders confirm that they have not entered into the Agreement on the basis of any representations that are not expressly incorporated in the Agreement.</p>
<ol>
  <li><b>17.	TERMS OF THE AGREEMENT TO PREVAIL</b></li>
</ol>
<p>In the event of any ambiguity or conflict arising between the terms of this Agreement and those of the Company’s Memorandum of Association the terms of this Agreement shall prevail as between the parties.</p>
<ol>
  <li><b>18.	NOTICES</b></li>
  <ol>
    <li>18.1.	Any notice to be given under this Agreement shall be: </li>
    <ol>
      <li>18.1.1.	delivered personally; </li>
      <li>18.1.2.	sent by first class pre-paid delivery post (airmail if overseas); or </li>
      <li>18.1.3.	by facsimile. </li>
    </ol>
    <li>18.2.	The address for service of each Shareholder shall in the case of a company be its registered office and in the case of an individual shall be that individual’s address stated above or any other subsequent address notified for this purpose to the Company or in the absence of any such notification to the individual's last known place of residence.</li>
    <li>18.3.	A notice shall be deemed to have been served:</li>
    <ol>
      <li>18.3.1.	if personally delivered, at the time of delivery;</li>
      <li>18.3.2.	if posted, at the expiration of 48 hours or (in the case of airmail) seven days after the envelope containing the same was delivered into the custody of the postal authorities; or</li>
      <li>18.3.3.	if sent by facsimile at the time of transmission. </li>
    </ol>
    <li>18.4.	In proving such service it shall be sufficient to prove that personal delivery was made on that party or that the envelope containing such notice was properly addressed and delivered into the custody of the postal authority as a prepaid first class delivery or airmail letter (as appropriate) or that the facsimile was transmitted.</li>
  </ol>
</ol>
<hr />
<p class="p9"><b>Schedule</b></p>
<p class="p10">{{company_activites}}</p>
<hr />
<p class="p10"></p>
<p class="p11">IN WITNESS whereof the Company and the Shareholders have executed as a deed the day and year first before written.</p>
<p><br></p>

<table cellspacing="0" cellpadding="0" class="t1">
  <tbody>
	{{#each loop_shareholder}}
	{{#if shareholder_type_company}}
	{{this.shareholder_name}}
	<!--ROSS : Couple of bugs 
		Issue 1 : For the Shareholders block in the form, if you select two shareholders then click that radio boxes on each, only one radio box set will work. They are not independent. 
		Issue 2 : For each shareholder, i need to show a signature box at the end of the form. If they are a company it is of one type and if they are an individual then it is another type. I am doing an If statement here but for some reason, from inside the if statement, i can't access the this.x variables so i cant get this to work. Perhaps there is another way to do it.   
	-->
   <tr>
      <td >
        <p class="p11">The COMMON SEAL of {{this.shareholder_name}} was affixed in the presence of</p>
        <p class="p12">___________________________</p>
        <p class="p10">Director</p>
        <p class="p12">___________________________</p>
        <p class="p10">Secretary</p>
		<br />
		<br />
      </td>
    </tr>
	{{else}}
	<tr>
      <td>
        <p class="p11">Signed as a deed by:</p>
        <p class="p12">{{this.shareholder_name}}</p>
        <p class="p11">in the presence of:</p>
        <p class="p11">Name of witness</p>
        <p class="p11">Address of witness</p>
        <p class="p13"><br></p>
        <p class="p13"><br></p>
        <p class="p11">Occupation of witness</p>
        <p class="p11">Signature of witness</p>
        <p><br></p>
      </td>
      <td >
        <p class="p13"><br></p>
        <p class="p12">__________________________</p>
        <p class="p11">__________________________</p>
        <p class="p11">__________________________</p>
        <p class="p11">__________________________</p>
        <p class="p11">__________________________</p>
        <p class="p11">__________________________</p>
        <p class="p11">__________________________</p>
        <p class="p11">__________________________</p>
        <br />
		<br />
      </td>
    </tr>
	{{/if}}
	{{/each}}
  </tbody>
</table>
<p class="p14"><br></p>



{% endtplhandlebars %}