{% load i18n webdesign templatetag_handlebars %}
{% tplhandlebars "js-legal" %}
## {{document.title}} ##

I, {{contractor}}

Hereby declare that I am willing to pay {{currency}}{{cost}}.

For the assassination of {{target}} before the date of {{date_by}}.

{{#if has_other_targets}}
{{#each other_targets}}
* And Ill take {{this}} out as well!
{{/each}}
{{/if}}

{% lorem 1 b %}

{{#if confirmed}}
## Awesome, your going to make me rich! Thanks ##
{{/if}}

Copyright {{company.name}} 2012  
{{company.url}}

{% endtplhandlebars %}