{% load i18n webdesign templatetag_handlebars %}
{% tplhandlebars "js-legal-will" %}
## {{document.title}} ##

This is the last Will  testament of me, "{{full_name}}"" also known as "{{alias}}"" of _{{home_address}}_ {{#if has_partnership}} {{#if this_partnership_married}}married{{/if}} to "{{partner_full_name}}" of _{{partner_home_address}}_.{{/if}}

### 1. DECLARATION ###

{{#if has_partnership}}
I  that although {{partner_full_name}} and I are making Wills in terms similar to the terms of this Will,  two Wills are  intended to be mutually irrevocable  we are both free to  the     in any way and  any time without reference to the other.
{{else}}
Decleration about other partnership
{{/if}}

### 2. REVOCATION ###

 hereby   former  and  dispositions made by me.

### 3. CREMATION ###

I   body to be cremated.

### 4. APPOINTMENT OF EXECUTORS ###

 appoint  the s and s of this my Will:

{{#if has_partnership}}
4.4. My wife {{partner_full_name}} of {{partner_home_address}}; {{#if has_executor}}and{{/if}}
{{/if}}
{{#if has_executor}}
4.4. {{executor_full_name}} of {{executor_address}}
{{/if}}

### 5. RESIDUE ###

5.5. My Trustees shall:

5.5. 1. my , funeral and testamentary , legacies and Inheritance Tax on all  which vests in them; and

5.5. 2. the remainder (“my Residue”) as set  below.

5.5. Debts, funeral  testamentary expenses, legacies  Inheritance  shall be payable out of the   my estate (subject to the Trustees' administrative powers relating  capital and income).

### 6. DEFINITIONS ###

**In this Will:**

6.1.**“The ”** means:

6.6. 1.My wife, {{user.partner.full_name}}.

6.6. 2.My Children  their descendants.

6.6. 3.The spouses and    my Children  their descendants.

6.6. 4.The surviving spouses and  Civil Partners of my  and their descendants (whether or not  have remarried or entered  another Civil Partnership).

6.6. 5. company, body  trust established for charitable purposes only.

6.6. 6.Any  or class of Persons    class of  by the Trustees by deed  the consent in writing of  Beneficiaries.

6.2.'My Children' shall mean the children of both of my wife and me.

6.3.“Civil Partner” and “Civil Partnership” have the same  as in section   Partnership Act 2004.

6.4.“Person” includes  person anywhere  the world  includes a Trustee.
6.5.“The Trust Fund” means:
6.6. 1.My Residue; and
6.6. 2.All  from time to time representing the above.
6.6.“The Trust Period” means the period of  years beginning with the date of my death. That  is the perpetuity  applicable   Will under the  against .
6.7.“Trust Property” means any property  in  Trust Fund.

### 7. TRUST INCOME ###

Subject to  Overriding Powers below:
7.7. The Trustees shall pay the    Trust Fund to my wife during her life.
7.7. Subject to that, the Trustees may accumulate   or part of the  of the Trust Fund during the Trust Period.  income shall be added to the Trust Fund.
7.7. Subject to that, during the Trust , the Trustees shall pay  apply the income  the Trust Fund to or for the benefit of  Beneficiaries as the Trustees  fit.

### 8.  POWERS ###

The Trustees shall have the following powers (“Overriding Powers”):
#### 8.1. Power    ####
8.8. 1.The Trustees may  that they shall hold any Trust  for the benefit  any Beneficiaries,  such terms as  Trustees think fit.
8.8. 2. appointment   any provisions and in :
8.8. 2.1.Discretionary trusts;
8.8. 2.2.Dispositive or administrative  exercisable by any Person.
8.8. 3.An appointment shall be  by deed   be  or irrevocable.
#### 8.2. Transfer of Trust Property   settlement  ####
8.8. 1.The Trustees may by  declare  they   Trust Property on trust to transfer   trustees of  settlement, wherever , to  on the terms   settlement,    from the   this Will. 
8.8. 2. Trustees shall   this  if:
8.8. 2.1. Person  may   (or would if living be) a Beneficiary; or
8.8. 2.2.With the consent in writing of two Beneficiaries.
#### 8.3. Power of advancement  ####
The Trustees may  or apply any Trust Property for the advancement or benefit of any .
8.8. The Overriding  shall be exercisable only:
8.8. 1.During  Trust Period; 
8.8. 2.At a time  there are  least two Trustees, or  Trustee is a company carrying on a business  consists of or includes  management of trusts,  when the  to appoint additional Trustees cannot be .
### 9.   ###
The provisions set  in  Schedule below shall have .
 
## THE SCHEDULE ##

### 1. Interpretation  ###

1.1. In this Schedule, unless the   requires:
1.1. 1.Income Beneficiary, in relation to  Property, means a  to whom  of the  Property is  ( of right or at  discretion of  Trustees).
1.1. 2.Person includes a person anywhere in the  and includes a Trustee.
1.1. 3.The Principal Document means the  in which these Provisions are incorporated.
1.1. 4.The Settlement   settlement created by the  Document and an estate of a deceased Person to which the   .
1.1. 5. Trustees means the personal representatives or trustees  the Settlement for the  being.
1.1. 6.The  Fund  the property comprised in the  for the time being.
1.1. 7.Trust Property means any  comprised in the Trust Fund.
1.1. 8.A Professional Trustee means a Trustee who is      a business   of or  the management of trusts   administration of estates.
1.2.  have effect subject to the  of the Principal Document.

### 2. Additional powers  ###

**The Trustees    additional powers:**

#### 2.1. Investment  ####
2.2. 1.The Trustees   any kind of  that they could  if they were absolutely  to the Trust Fund. In particular the Trustees may  in land in any part of the world and unsecured loans.
2.2. 2.The Trustees are under  obligation to diversify the Trust .
2.2. 3.The  may invest in speculative or hazardous investments but this power may only  exercised at the time when there  at least two Trustees,   Trustee is a company carrying on a business which consists of or includes the management of trusts.

#### 2.2. Joint property  ####

The Trustees  acquire property jointly with  Person and may  Trust Property with  property.

#### 2.3. General power of management and disposition  ####
 Trustees may effect any transaction relating    or disposition  Trust Property as if they were absolutely entitled  it.

#### 2.4. Improvement  ####
The Trustees may  or improve  Property in  way. Capital expenses need not be repaid out of income under section 84(2) of the Settled Land Act 1925, if the Trustees think .

#### 2.5. Income and capital  ####

2.2. 1. Trustees may acquire,  investment  any  purpose:
2.2. 1.1.wasting assets and
2.2. 1.2. which yield little or no 
2.2. 2.The Trustees are under no duty to procure distributions from a company  which they are interested.
2.2. 3.The   pay taxes and other expenses out of income, although they would otherwise be paid  of capital.
2.2. 4.Generally, the Trustees are under no  to hold a balance between conflicting interests of .
2.2. 5.Income may be  aside  invested to answer any liabilities which  the opinion of  Trustees ought to    of income or  meet depreciation of the  value of  Trust Property. In particular, income may be   a leasehold sinking  policy.

#### 2.6. Application of  capital as income ####

The Trustees may apply Trust Property as if  were income  in   year. In particular, the   pay such income to an Income  as  , for the purpose of augmenting his income.

#### 2.7. Use  trust property  ####

2.2. 1.The  may acquire any interest  property anywhere in the world for occupation or use  an Income .
2.2. 2.The Trustees may permit an Income Beneficiary to occupy   the   Trust  on such terms  they think .
2.2. 3.The Trustees may lend trust money to  Income . The loan may be interest  and unsecured, or on such terms as the Trustees think . The Trustees may   Property as  for any debts   of an Income .
2.2. 4.This  does  restrict any right of Beneficiaries to occupy land under the Trusts of Land and Appointment of Trustees  .

#### 2.8.   ####

The  may carry on  trade,  any part of the world, alone  in .

#### 2.9.   ####
The Trustees may borrow money for investment  any  purpose. Money borrowed  be treated as  Property.

#### 2.10. Delegation  ####

 Trustee or the Trustees jointly ( other Person in  fiduciary ) may authorise any  to exercise all   functions on  terms  to remuneration  other matters as  think .  Trustee (or other  in a fiduciary capacity) shall not be  for the default of that Person (even  the delegation was not  necessary or convenient)  he took reasonable care in  selection  supervision.   the restrictions on delegation in sections  to   Act 2000 shall apply.

#### 2.11. Place of administration  ####

  may   the administration of  Settlement made by this Will anywhere they think .

#### 2.12.   ####

The Trustees may indemnify any  for  liability  to this  or any   by this Will.

#### 2.13. Security  ####

The   mortgage    Property  security for any liability incurred  them  Trustees (and may grant a floating charge so far   law allows)

#### 2.14.  of   ####

The Trustees   no duty to enquire into  conduct of   in  they are , unless they have knowledge  circumstances which call for inquiry.

#### 2.15.   ####

 Trustees may appropriate Trust Property to  Person or class    or towards the  of their interest in the Trust .

#### 2.16. Receipt  charities  ####

Where Trust Property  to be paid or transferred to  charity, the   the  or   of  charity  be a complete   the Trustees.

#### 2.17.     ####

 Trustees (or  Person in  fiduciary ) may by deed release wholly or in part any  their rights   and (if ) so as to bind  successors.

#### 2.18. Ancillary powers  ####

The Trustees may do anything which is incidental or   the   their .

### 3.  of maintenance  advancement  ###

Sections 31 and 32 Trustee Act   apply   following :

3.3. The Proviso  section 31(1) shall be .

3.2. words “one  of” in section 32(1)() shall  deleted.

### 4. Minors  ###

4.4. Where  Trustees may apply income /or capital for the benefit of a , they may   by paying  income /or capital to  minor’s parent  guardian,   a  with  responsibility for the minor,  behalf of  minor. The Trustees are under no duty to inquire into  use of the income and/or capital unless they   of circumstances which call for inquiry.

4.2. the Trustees  apply income for the benefit   minor,   do  by resolving that they hold that   trust for the minor absolutely :

4.4. 1.The Trustees may apply that income  the  of the  during his minority.

4.4. 2. Trustees shall transfer  residue of that  to   on  the age  .

4.4. 3. investment   administrative purposes that income  be   Trust Property.

### 5. Beneficiary without mental capacity  ###

Where income or  is payable to a   does   the  capacity to appoint  attorney under  lasting power of attorney which relates to his property and , the Trustees  (subject to the   the  or a deputy  under the Mental Capacity   powers include   income or capital) apply that income or capital for his  her benefit.

### 6.   ###

A    his interest    or any  made  this Will  or in part. 

### 7. Apportionment  ###

 and expenditure  be treated  arising when payable, and not from day  day, so that no apportionment shall take place.

### 8. Conflicts of interest  ###

8.1. this paragraph:

8.8. 1.“A Fiduciary”  a Person subject   duties under this Will   Settlement   this Will.

8.8. 2.“An Independent Trustee”, in relation to a Person,  a   is not:

8.8. 2.1.a brother, sister, , descendant or  of  Person;

8.8. 2.2.a spouse or  partner of  person falling within paragraph 8.1.2.1. above, or a spouse or  partner of  Person;

8.8. 2.3.a company  by   more of any of the above.

8.8. Subject  subparagraph 8.3. below  Fiduciary may, even though  fiduciary duty under this Will or any  made by this Will conflicts with other duties or   personal interest:

8.8. 1.enter   transaction with the Trustees, or

8.8. 2.be interested in an  in which the Trustees   might have been interested, or

8.8. 3. ( not act) in any  ;

8.8. Subparagraph 8.2.   has effect if:

8.8. 1. Fiduciary   to the  the  and extent of any material interest conflicting   fiduciary duties, and

8.8. 2.there  an   in respect of whom there is no conflict of , and he considers  the  arrangement or  is  contrary to the general interest  this Will  any  made   .

8.4.  of the  may  used to benefit   ( the same  as if he were not  Trustee) provided that there is  Independent Trustee   of whom there is no   interest.

### 9. Absolute discretion clause  ###

9.9. The powers of the  may be exercised:

9.9. 1.at their absolute discretion; and

9.9. 2.from  to time as occasion requires.

9.9. The Trustees are not under any duty to   any Beneficiaries    effect to the wishes  any Beneficiaries.

### 10.    ###

10.1. Trustee acting in a   is entitled to receive reasonable remuneration out  the Trust Fund  any services that  provides in  with this Will or to   behalf of a Settlement made by this Will.

10.10. For this purpose,   acts in a professional capacity if he acts in the course  a profession or business which  of or includes   of  in connection :

10.10. 1.the management or administration  trusts or estates generally or a particular kind of trust or estate, or

10.10. 2.any particular aspect of the  or administration of trusts generally or  particular  of trust.

10.3.   make arrangements to remunerate themselves  work done for a company connected with the  Fund.

### 11. Liability of trustees  ###

11.11. The duty of reasonable care (set out in s.1,  Act 2000) applies to all the   the Trustees.

11.2. Trustee shall not   for a  to the    that loss was caused  his own  or negligence.

11.11. A Trustee shall not be liable for acting in  with the advice of , of at least ten years’ standing,  respect to this Will or any   by this Will. The Trustees may in particular conduct legal proceedings in accordance with  advice   a Court Order. A  may   the  Fund any expenses   has acted in accordance  such advice.

11.4. above sub- does  apply:

11.11. 1.if   knows  has reasonable cause to suspect that  advice was given in ignorance of  facts; 

11.11. 2. proceedings  pending to  the decision of the court on the matter;

11.11. 3.in relation to a Trustee who has a personal interest in the subject matter of the advice; or

11.11. 4. relation to a Trustee who has committed a breach of trust relating to  subject matter of the advice.

11.11. The Trustees may distribute Trust  or income in accordance with this Will or any Settlement made by this Will  without having ascertained that there is no Person who is or may be entitled to any interest therein  virtue of any relationship unknown to the Trustees. The Trustees    liable  such  Person unless they have notice  his claim  the  of  distribution.

11.6. paragraph does not prejudice any right of any Person   property  income into the  of any , other  a , who may  received it.

### 12.  and retirement of trustees  ###

12.1. Person  be appointed Trustee of  Settlement  by  Will  though he has no connection with  United Kingdom.

12.12. A Trustee may be discharged even though there is neither  trust corporation nor  Persons to  as trustees  that   at least  .

### 13.   governing   ###

The Trustees may during the   by  with the consent of two Beneficiaries declare that from the date of such :

13.13. The  of any Qualifying Jurisdiction governs the validity of any Settlement made by this Will, and its construction,  and administration, or    of that Settlement; and

13.13. The courts of any     jurisdiction  any proceedings involving rights or obligations under  Settlement.
In this paragraph a “Qualifying ” is one which recognises  (as   the Hague  on the Law Applicable to   on their Recognition).

### 14. Interest in  protection   ###

The provisions of this schedule shall  have effect so as to  a Person from being  to an  in possession  Trust  (within the meaning of the Inheritance Tax Act 1984).


## TESTIMONIUM AND ATTESTATION ##

Dated ______________________

Signed by the above named {{full_name}}   for his last Will in our presence and  by us in his.
 
 
______________________________
 
First 
 
Second 
 

_________________
Name
_________________
Address
_________________
Address
_________________
 
_________________
 
_________________
 
_________________
 
_________________
Occupation
_________________
Occupation
_________________
Signature
_________________
Signature
_________________

{% endtplhandlebars %}