{% load glynt_helpers %}
{% load url from future %}
<div class="features2">
    <!-- features 2 -->
    <div class="row">
    {% for template in object_list %}
    <div class="span4 feature2">
        <div class="icon {% colorize_acronym template.acronym %}">{{ template.acronym|upper }}</div>
        <h4><a class="template-document" href="{% url 'doc:create_document' pk=template.pk %}">{{ template.name }}</a></h4>
        <p>
            {{ template.summary }}
        </p>
    </div>
    <div class="">{{ template.description }}</div>
    {% endfor %}
    </div>
</div>