{% extends 'base.html' %}{% load paginator glynt_helpers %}

{% block page_title %}Shareholders Agreement — Incorporation{% endblock %}
{% block nav_checklist %}<li class="active"><a href="{% url 'dashboard:checklist' %}">Checklist</a></li>{% endblock %}

{% block body %}
<div class="container item-view">
    <div class="page-header">
        <button type="button" class="btn btn-default btn-large pull-right">Download</button>
        <span class="text-muted">Incorporation</span>
        <h2>Shareholders Agreement</h2>
    </div>
    <div class="row">
        <div class="col col-lg-12">
            <ul class="nav nav-tabs">
                <li class="dropdown active">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Version 5 (Final) <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="">Version 5 (Final)</a></li>
                        <li><a href="">Version 4</a></li>
                        <li><a href="">Version 3</a></li>
                        <li><a href="">Version 2</a></li>
                        <li><a href="">Version 1</a></li>
                    </ul>
                </li>
                <li><a href="">History</a></li>
            </ul>
            <div class="document well">
                <iframe frameborder="0" height="600" width="868" src="https://crocodoc.com/view/8J_6aE4TGtTVdddqfDOIDRefqFdLtZwcz3BlgDJ7F52dUfUAJVRAfpxEgxdLY-IkZ9NI8AUuIFkUd1m7zPcynYuGCXg0CS4H6Cic4SDDPI6--QMIN-H_"></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock %}