/* Add additional stylesheets below
-------------------------------------------------- */
/*
  Bootstrap's documentation styles
  Special styles for presenting Bootstrap's documentation and examples
*/


/* Body and structure
-------------------------------------------------- */
body {
  padding-top: 72px;
}

/* WeAreML Bits
-------------------------------------------------- */

/* Brand Bits */
.navbar a.brand {
	font-size:23px;
	font-family: Helvetica, "Helvetica Neue";
	font-weight:100;
	padding-bottom:10px;
	padding-left:27px;
	margin-left:0px;
	background:url('/static/img/logo-nav.png') no-repeat 0px 14px;
}
h1 { font-size: 35px;letter-spacing:0.03em; font-weight:bold; }
h3 { font-weight:bold; }

/* Homepage bits */
.leader {
	background: url('../img/homepage/people.jpg') no-repeat scroll top center ;
	height:148px;
	background-size:100%;
}
.leader.two {
	height:300px;
	background-position:center -150px;
} 
.desc {
	text-align:center;
}
.desc small {
	font-size:13px;
	color:#ccc;
	padding-left:5px;
}
.desc .s{
	padding:5px;
	padding-left:35px;
}
.desc a {
	margin-left:7px;
}
.ball{
	border-radius:70px;
	width:140px;
	height:140px;
	text-align:center;
    margin: 0px auto;
	opacity:0.8;
	background: url('../img/homepage/down.png') #f6d02d no-repeat scroll center -6px;
	
}
.ball .rotate {
	/* Safari */
	-webkit-transform: rotate(-90deg);
	/* Firefox */
	-moz-transform: rotate(-90deg);
	/* IE */
	-ms-transform: rotate(-90deg);
	/* Opera */
	-o-transform: rotate(-90deg);
	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}

/* Dashboard */
table#my-documents td{
	padding-top:10px;
}
table#my-documents td.created{
	font-size:11px;
	color:#AAA;
}
table#my-documents td.created i{
    opacity:0.4;
}
table#my-documents td input {
	margin-top:-3px;
}
table#my-documents td a.doc-title {
	font-size:16px;
	padding-left:5px;
}
table#my-documents td ul.sign-status {
	margin-left:0px;
}
table#my-documents td ul.sign-status li {
	list-style-type:none;
	margin-left:0px;
	width:18px;
	height:18px;
	float:left;
	background-color:#e67145;
	border-radius:9px;
	margin-top:3px;
	margin-right:2px;
}
table#my-documents td ul.sign-status li.signed {
	background-color:#bfd630;
	
}
body.dashboard{
	background-color:#fdfdfd;
}
div#activity-list li span {
	color:#bbb;
	color:#CCC;
}
div#activity-list {
	font-size:12px;
	color:#666;
}
div#activity-list li {
	border-bottom:1px solid #F9F9F9;
	padding:4px;
}
div.doccount {
	width:50px;
	height:40px;
	background-color:#f190a1;
	font-size:28px;
	color:#FFF;
	float:right;
	border-radius:30px;
	text-align:center;
	padding-top:10px;
	line-height:28px;
	margin-bottom:10px;
}
div.sidebar {
	margin-top:-30px;
	padding-top:42px;
}
div.sidebar .nav-list a{
	font-size:14px;
	padding-top:7px;
	padding-bottom:7px;

}
div.sidebar .nav-list .active a, div.sidebar .nav-list > .active > a:hover {
	background-color:#c0d6dd;
	color:#FFF;
	text-shadow: none;
	border:1px solid #c0d6dd;
	border-right:none;
	z-index:1;
	border-radius:5px 0px 0px 5px;
}
div.doc-body{
	background-color:#FFF;
	margin-left:0px;
	margin-top:10px;
	padding:5px 25px;
	width:680px;
	border:1px solid #d9e5e9;
	z-index:2;
	border-radius:8px;
	min-height:500px;
}
div#doc-list{
	display:none;
}
div#doc-list, div#file-list{
	margin-left:0px;
}
ul.add-active{
	opacity:0.6;
}


/* Assembly Screen  */
/*.document-questions {
	position:fixed;
	top:60px;
}*/
body.assembly {
	background-color:#fdfdfd;
}
body.assembly h2.editable {
	color:#666;
	font-size:23px;
}
h2#document-title input {
	background-color:none;
	line-height:18px;
	padding:0px;
	border:0px;
	font-size:28px;
	border-bottom:1px dotted gray;
    outline: none;
}
.document-questions {
	position:fixed;
    overflow-y:scroll;
}
.document-questions .step-title {
	font-size:18px;
	color:#555;
	font-weight:bold;
	line-height:25px;
	
}
.document-questions-inner {
	padding-bottom:60px;
}
.document-questions label {
	margin-top:10px;
	  float: left;
	  width: 50%;
	  padding-top: 5px;
	  text-align: right;
}
.document-questions .control-group{
	margin-bottom:10px;
}
.document-questions .controls{
	width:48%;
	float:right;
	margin-top:10px;
}
.document-questions ul, .document-questions li {
	margin-left:0px;
	padding-right:10px;
}
.document-questions ul li input, .document-questions ul li textarea  {
}
.draft-document {
	margin-left:25px;
	border:1px solid #ccc;
	padding:30px 50px;
	background-color:#FFF;
	color:#A1A1A1;
}
.draft-document, .draft-document *{
	font-family:"Helvetica Neue", Helvetica;
	font-size:13px;
	cursor:pointer;
	color:#333;
}


/* Buttons */
.btn-green, .btn-primary  {
  background-color: hsl(73, 86%, 42%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#aeda10", endColorstr="#9fc70e");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#aeda10), to(#a8d40c));
  background-image: -moz-linear-gradient(top, #aeda10, #9fc70e);
  background-image: -ms-linear-gradient(top, #aeda10, #9fc70e);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #aeda10), color-stop(100%, #9fc70e));
  background-image: -webkit-linear-gradient(top, #aeda10, #9fc70e);
  background-image: -o-linear-gradient(top, #aeda10, #9fc70e);
  background-image: linear-gradient(#aeda10, #9fc70e);
  border-color: #9fc70e #9fc70e hsl(73, 86%, 41%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.06);
  -webkit-font-smoothing: antialiased;
}
.btn-blue {
  background-color: hsl(191, 86%, 42%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#10b5da", endColorstr="#0ea5c7");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#10b5da), to(#0ea5c7));
  background-image: -moz-linear-gradient(top, #10b5da, #0ea5c7);
  background-image: -ms-linear-gradient(top, #10b5da, #0ea5c7);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #10b5da), color-stop(100%, #0ea5c7));
  background-image: -webkit-linear-gradient(top, #10b5da, #0ea5c7);
  background-image: -o-linear-gradient(top, #10b5da, #0ea5c7);
  background-image: linear-gradient(#10b5da, #0ea5c7);
  border-color: #0ea5c7 #0ea5c7 hsl(191, 86%, 41%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.06);
  -webkit-font-smoothing: antialiased;
}
.btn-orange {
  background-color: hsl(47, 86%, 45%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e8b911", endColorstr="#d5aa10");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#e8b911), to(#d5aa10));
  background-image: -moz-linear-gradient(top, #e8b911, #d5aa10);
  background-image: -ms-linear-gradient(top, #e8b911, #d5aa10);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e8b911), color-stop(100%, #d5aa10));
  background-image: -webkit-linear-gradient(top, #e8b911, #d5aa10);
  background-image: -o-linear-gradient(top, #e8b911, #d5aa10);
  background-image: linear-gradient(#e8b911, #d5aa10);
  border-color: #d5aa10 #d5aa10 hsl(47, 86%, 44%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.06);
  -webkit-font-smoothing: antialiased;
}
.btn-red {
  background-color: hsl(31, 86%, 45%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e88011", endColorstr="#d57610");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#e88011), to(#d57610));
  background-image: -moz-linear-gradient(top, #e88011, #d57610);
  background-image: -ms-linear-gradient(top, #e88011, #d57610);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e88011), color-stop(100%, #d57610));
  background-image: -webkit-linear-gradient(top, #e88011, #d57610);
  background-image: -o-linear-gradient(top, #e88011, #d57610);
  background-image: linear-gradient(#e88011, #d57610);
  border-color: #d57610 #d57610 hsl(31, 86%, 44%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.06);
  -webkit-font-smoothing: antialiased;
}
.btn-grey {
  background-color: hsl(31, 0%, 40%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#707070", endColorstr="#666666");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#707070), to(#666666));
  background-image: -moz-linear-gradient(top, #707070, #666666);
  background-image: -ms-linear-gradient(top, #707070, #666666);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #707070), color-stop(100%, #666666));
  background-image: -webkit-linear-gradient(top, #707070, #666666);
  background-image: -o-linear-gradient(top, #707070, #666666);
  background-image: linear-gradient(#707070, #666666);
  border-color: #666666 #666666 hsl(31, 0%, 39%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.06);
  -webkit-font-smoothing: antialiased;
}
.btn-lgrey {
  background-color: hsl(31, 0%, 91%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f2f2f2", endColorstr="#e8e8e8");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#f2f2f2), to(#e8e8e8));
  background-image: -moz-linear-gradient(top, #f2f2f2, #e8e8e8);
  background-image: -ms-linear-gradient(top, #f2f2f2, #e8e8e8);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f2f2), color-stop(100%, #e8e8e8));
  background-image: -webkit-linear-gradient(top, #f2f2f2, #e8e8e8);
  background-image: -o-linear-gradient(top, #f2f2f2, #e8e8e8);
  background-image: linear-gradient(#f2f2f2, #e8e8e8);
  border-color: #e8e8e8 #e8e8e8 hsl(31, 0%, 90%);
  color: #766 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.06);
  -webkit-font-smoothing: antialiased;
}
.btn-large {
	font-size:20px;
}
.btn {
	font-size:16px;
}
.btn-mini {
	font-size:13px;
}