{% extends 'base.html' %}{% load crispy_forms_tags invite_tags account_tags jsonify glynt_helpers %}

{% block page_title %}Edit your Account details{% endblock %}
{% block bodyclass %}startup-form{% endblock %}
{% block prebody %}
<div class="container">
    <div class="row">
        <div class="col col-lg-8 col-offset-2">
            <h2 class="alt">Update Your Account</h2>
            <br />
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col col-lg-8 col-offset-2">
           {{ form.errors }}
            <div class="alert alert-error hidden">Please correct all errors before submitting the form</div>
            <ul id="profile-tab" class="nav nav-tabs">
                <li class="active"><a href="#account" data-toggle="tab">Account </a></li>
                <li><a href="#organization" data-toggle="tab">Organization </a></li>
            </ul>
        </div>
    </div>
</div>
<br />
<form id="customer-profile-form" data-validate="parsley" action="{% url 'customer:setup_profile' %}" method="POST" class="form-horizontal" enctype="multipart/form-data">{% csrf_token %}
    <div class="form-wrap">
        <div class="container">
            <div class="row">
                <div class="col col-lg-8 col-offset-2">
                        <div class="tab-content">
                            <div id="account" class="tab-pane active">

                                <div class="row">
                                    <div class="col col-4 col-offset-1">
                                        <div class="control-group">
                                            <label class="control-label" for="inputPassword">{{ form.photo.label }}</label>
                                            <div class="controls">
                                                {{ form.photo.errors }}
                                                <div class="input">
                                                    {{ form.photo }}
                                                    {{ form.hidden_photo }}
                                                </div>
                                              <div class="help-block">A good photo makes all the difference.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-4 col-offset-1">
                                        <img id="photo-preview" width="130" height="130" src="{{ customer.profile_photo }}">
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col col-lg-8">
                                        {{ form.first_name|as_crispy_field }}
                                        {{ form.last_name|as_crispy_field }}
                                        {{ form.email|as_crispy_field }}
                                        {{ form.phone|as_crispy_field }}
                                    </div>
                                </div>
                            </div>
                            <div id="organization" class="tab-pane">
                                <div class="row">
                                    <div class="col col-lg-6">
                                            {{ form.company_name|as_crispy_field }}
                                            {{ form.summary|as_crispy_field }}
                                    </div>
                                    <div class="col col-lg-5">
                                            {{ form.website|as_crispy_field }}
                                            {{ form.twitter|as_crispy_field }}
                                    </div>
                                </div>
                            </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col col-lg-8 col-offset-2">
                <div id="form-submit" class="row">
                    <div class="col col-lg-12 divide">
                        <button id="update-profile" type="submit" class="btn btn-success btn-large">Update Profile</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}

{% block css %}
<style>
.border{
    border:solid #c00 1px;
}
    img#photo-preview{
        border:solid #ccc 2px;
        min-height: 50px;
        min-width: 50px;
        max-height: 130px;
        max-width: 130px;
    }
    .hidden { display: none; }
    #id_incubator_or_accelerator_name {
        margin-top:-15px;
    }
    .logo-head{
        margin-top:40px;
        float:left;
    }
    h1 {
        margin-top:80px;
        font-size:50px;
        color:#ccc;
    }
    .cropped-imag-preview .upload-btn {
        border:1px solid white;
        bottom:auto;
        left:auto;
        position:relative;
    }
</style>
{% endblock %}

{% block js %}
<!-- # include cicu etc -->
{{ form.media }}

<script>
function preparePhotoPreview(element, data) {
    var element = $('.cropped-imag-preview');
    var cookie_data = $.parseJSON($.cookie('startup_profile_photo-{{ customer.pk }}'));

    // hide the ugl image preview
    $('.cropped-imag-preview img').hide();
    if ( data ) {
        $('#photo-preview').attr('src', data.path);
    }
}

function photoCrop(element, data) {
    $('#id_hidden_photo').val(data.id);// id to be sent
    $.cookie('startup_profile_photo-{{ user.pk }}', JSON.stringify({'id': data.id, 'path': data.path}));
    preparePhotoPreview(element, data);
}

$(document).ready(function() {
   /**
    * Tabination
    */
    $('ul#profile-tab li a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    });

    /**
    * Parsley error counter
    */
    var handleErrorCount = function handleErrorCount(tabPane) {

        var targetTabLink =  $('#profile-tab a[href="#{id}"]'.assign({
            id: tabPane.prop('id')
        }));

        var targetTabLi = targetTabLink.closest('li');
        var errorCount = parseInt(tabPane.find('.parsley-error').length);

        tabPane.attr('data-error-count', errorCount);
        targetTabLi.find('span').remove();

        if (errorCount > 0) {
            var errorTemplate = $('<span/>', {
                html: '<span class="">{errorCount}</span>'.assign({'errorCount': errorCount})
                ,class: 'badge important'
            });
            targetTabLink.append(errorTemplate);
        }
    };
    /**
    * Parsley error catcher
    */
    $( 'form[data-validate="parsley"]' ).parsley( 'addListener', {
        onFormSubmit: function ( isFormValid, event, ParsleyForm ) {
            if (isFormValid === false) {
                // Scroll to top ONLY on error
                $("html, body").animate({scrollTop: 200}, 1000);

                // get the nearest tabPane to store error count unless error is from T&Cs checkbox
                $.each($('.tab-pane[data-error-count]'), function(i,elem){
                    var tabPane = $(elem);
                    // this event must fire once all of the .parsley-errors
                    // have been created (onFieldError)
                    handleErrorCount(tabPane);
                })

                $('.alert-error').removeClass('hidden');
            } else {
                $('.alert-error').addClass('hidden');
            }
        },
        onFieldError: function ( elem, constraints, ParsleyField ) {
            elem = $(elem);

            if (elem.prop('id') !== 'id_agree_tandc') {
                var tabPane = $(elem.closest('.tab-pane'));
                // increment the error count attrib
                var errorCount = tabPane.attr('data-error-count');
                if (errorCount == 0) {
                    errorCount = parseInt(errorCount) + 1;
                    tabPane.attr('data-error-count', errorCount)
                }
            }

            if ( !elem.is( ':visible' ) ) {
                return true;
            }
            return false;
        }
        , onFieldSuccess: function ( elem, constraints, ParsleyField ) {
            // get the nearest tabPane to store error count unless error is from T&Cs checkbox
            if ($(elem).prop('id') !== 'id_agree_tandc') {
                var tabPane = $(elem).closest('.tab-pane');
                handleErrorCount(tabPane)
            }
        }
    });

    /** show the tab with errors **/
    $('#update-profile').click(function(e) {
        /** hack to wait for DOM to update **/
        window.setTimeout(removeTab, 0);

        function removeTab() {
            $('#profile-tab').find('.unread_counter').first().parent().trigger('click');
        }
    });

    /** stop the form submitting on enter, must push de button */
    $('form#customer-profile-form').bind("keypress", function(e) {
        if (e.keyCode == 13) {
            e.preventDefault();
            return false;
        }
    });
});
</script>

{% endblock %}
