{% extends 'base.html' %}

{% block page_title %}Welcome to LawPal{% endblock %}
{% block bodyclass %}lawyer-welcome{% endblock %}

{% block prebody %}
<div id="hero">
    <div class="container">
        <!-- starts carousel -->
        <div class="row animated fadeInDown">
            <div class="span12">
                <br />
                <br />
                <h1>Hey {{ user.first_name|default:user }}, a warm welcome to LawPal</h1>
            </div>
        </div>
    </div>
</div>
<div class="container profile">
    <div class="row">
        <div class="span12">
            <h3>Please complete your profile</h3>
            <br />
            <a href="{% url 'lawyer:setup_profile' %}" class="btn btn-large btn-primary">Complete your profile</a>
            <br />
            <br />
            <p class="softer">
                We are building a platform which will allow you to connect with new startups seeking outside counsel. Once your profile has been completed we will begin to send you leads via email. 
            </p>
            <p class="softer">
                Please contact <a href="mailto:yael@lawpal.com">Yael Citro</a> if you have any questions and we look forward to having you on board!
            </p>
        </div>
    </div>
</div>

{% endblock %}