<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- <link rel="stylesheet" href="css/normalize.css"> -->
    <link rel="stylesheet" href="{{ STATIC_URL }}temp/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}temp/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}temp/css/main.css">
    <script src="{{ STATIC_URL }}temp/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>
    <div id="main" role="main">
        {% include 'project/create/slides/start.html' %}
        
        <!-- Selection -->
        {% include 'project/create/slides/selection/ready-to-go.html' %}
        {% include 'project/create/slides/selection/already-going.html' %}

        <!-- Qualification -->
        {% include 'project/create/slides/qualification/incorporation.html' %}

        <!-- Fixed Fees -->
        {% include 'project/create/slides/fixed-fee/incorporation.html' %}
        {% include 'project/create/slides/fixed-fee/financing.html' %}
    </div>

    <form id="transaction-form" method="POST">
        {% csrf_token %}
        {{ form }}
    </form>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}temp/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
    <script src="{{ STATIC_URL }}temp/js/bootstrap.min.js"></script>
    <!-- <script src="js/plugins.js"></script> -->
    <script src="{{ STATIC_URL }}temp/js/main.js"></script>
</body>
</html>