{% extends 'base-slides.html' %}

{% block slides %}
    {% include 'project/create/slides/start.html' %}

    <!-- Selection -->
    {# {% if true %} #}
    	{% include 'project/create/slides/selection/ready-to-go.html' %}
    {# {% else %} #}
    	{% include 'project/create/slides/selection/already-going.html' %}
    {# {% endif %} #}

    <!-- Qualification -->
    {% include 'project/create/slides/qualification/incorporation.html' %}

    <!-- Fixed Fees -->
    {% include 'project/create/slides/fixed-fee/incorporation.html' %}
    {% include 'project/create/slides/fixed-fee/financing.html' %}
{% endblock %}