{% extends 'base.html' %}{% load url from future %}
{% load crispy_forms_tags company_tags transaction_tags %}

{% block head %}
    {{ wizard.form.media }}
{% endblock %}

{% block css %}
    <link href="{{ STATIC_URL }}css/theme/transaction.css" rel="stylesheet" charset="utf-8"/>
{% endblock %}

{% block prebody %}
    <div class="jumbotron-header">
        <div class="container text-center">
            <h1 class="alt">What do you need?</h1>
            <h3 id="instructions" class="softer">Pick a package or create your own.</h3>

        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col col-lg-6 col-offset-2">
                {% transactions transaction='CS' %}
                {% transactions transaction='SF' %}
                {% transactions transaction='ES' %}
                <div class="transaction-choice clearfix" data-transaction="custom">
                    <button class="btn btn-large btn-primary"><i class="icon-plus icon-white"></i></button>
                    <div class="panel panel-warning">
                        <div class="panel-heading">Something else <p class="price pull-right">$Quote</p></div>
                        Need something else? Just give us the details and we will get back to you asap.
                    </div>
                </div>
                <btn id="continue" class="btn btn-primary btn-extra-margin pull-right">Continue</btn>
                <br />
                <br />
            </div>
            <div class="col col-lg-3 hidden-sm">
                <img src="{{ STATIC_URL }}img/lawyers.png" style="padding-bottom:5px;">
                <div class="lawyers-have hidden-sm text-left">
                    <h4>Your LawPal Lawyer :</h4>
                    <ul class="list-unstyled">
                        <li></li>
                        <li>7 years + experience</li>
                        <li>Available to meet you locally</li>
                        <li>Vetted by LawPal with a trackrecord serving startups</li>
                        <li>Approved by you before theystart work</li>
                        <li>Agreed to a ﬁxed price in advance</li>
                    </ul>
                </div>
                <div class="">
                    <a href="#" class="btn btn-default">Not sure where to start?</a>
                </div>
            </div>
        </div>

        <form method="POST">{% csrf_token %}
            {{ form }}
        </form>
    </div>
{% endblock %}

{% block js %}
<script>
'use strict';
var selected_transactions = [];

function transaction_business_logic(element) {
    var elm = $(element).attr('data-transaction');
    if (elm === 'SF') {
        transaction_deselection($('.transaction-choice[data-transaction="ES"] .btn'));
    } else if (elm === 'ES') {
        transaction_deselection($('.transaction-choice[data-transaction="SF"] .btn'));
    }
    transaction_selection(element.find('.btn'));
}

function transaction_selection(element) {
    element.addClass('active btn-success').html('<i class="icon-ok icon-white"></i>');
    selected_transactions.push(element.parent().attr('data-transaction'));
}

function transaction_deselection(element) {
    element.removeClass('active btn-success').html('<i class="icon-plus icon-white"></i>');
    var index = selected_transactions.indexOf(element.parent().attr('data-transaction'));
    if (index > -1) {
        selected_transactions.splice(index, 1);
    }
}

function select_active_transactions() {
    var actives = $('#id_transaction_type').attr('value');

    if (actives.length > 0) {
        var split = actives.split(",");

        for (var i = 0; i < split.length; i++) {
            var elm = $('.transaction-choice[data-transaction="' + split[i] + '"]');
            transaction_business_logic(elm);
        }
    }
}

$(document).ready(function () {

    select_active_transactions();

    $('.transaction-choice .btn').bind('click', function () {
        var elm = $(this);
        if (!$(this).hasClass('active')) {
            // Check if Note financing and disable Equity financing if true (and visa versa)
            transaction_business_logic(elm.parent());
        } else {
            transaction_deselection(elm);
        }
    });

    $('#continue').click(function () {
        if (selected_transactions.length > 0) {
            $('#id_transaction_type').attr('value', selected_transactions);
            $('form').submit();
        } else {
            $('#instructions').addClass('animated shake');
            window.setTimeout(function () {
                $('#instructions').removeClass()
            }, 1300);
        }
    });
});
</script>
{% endblock %}
