{% extends 'base.html' %}{% load url from future %}
{% load i18n crispy_forms_tags company_tags transaction_tags %}

{% block head %}
    {{ wizard.form.media }}
{% endblock %}

{% block css %}
    <link href="{{ STATIC_URL }}css/theme/transaction.css" rel="stylesheet" charset="utf-8"/>
{% endblock %}

{% block prebody %}
<div class="megatron">
    <div class="container">
        <h2><i class="glyphicon glyphicon-briefcase" style="padding: 27px 28px 22px 28px;"></i></h2>
        <h1>What do you need?</h1>
        <h3>Pick a package or tell us what you need.</h3>
    </div>
</div>
{% endblock %}

{% block body %}
<div class="container packages-view">
    <div class="row">
        <div class="col col-lg-6">
            {% transactions transaction='CS' %}
            {% transactions transaction='SF' %}
        </div>
        <div class="col col-lg-6">
            {% transactions transaction='ES' %}

            <div class="callout callout-info clearfix">
                <p class="lead pull-right">-</p>
                <h4>Need something else?</h4>
                <p>Just give us the details and we will get back to you ASAP.</p>
                <p><button class="btn btn-info" data-toggle="modal" data-target="#custom-package"><i class="icon-envelope icon-white"></i> Contact us</button></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-12">
            <button id="continue" class="btn btn-success btn-huge pull-right">{% trans "Continue" %}</button>
        </div>
    </div>

    <form id="transaction-form" method="POST">
        {% csrf_token %}
        {{ form }}
    </form>
</div>
{% endblock %}

{% block js %}
<script>
'use strict';
var selected_transactions = [];

function transaction_business_logic(element) {
    var elm = $(element).attr('data-transaction');
    if (elm === 'SF') {
        transaction_deselection($('.transaction-choice[data-transaction="ES"] .btn'));
    } else if (elm === 'ES') {
        transaction_deselection($('.transaction-choice[data-transaction="SF"] .btn'));
    }
    transaction_selection(element.find('.btn'));
}

function transaction_selection(element) {
    element.addClass('active btn-success').html('<i class="icon-ok icon-white"></i> Package added');
    element.parent().parent().addClass('callout-success');
    selected_transactions.push(element.parent().parent().attr('data-transaction'));
}

function transaction_deselection(element) {
    element.removeClass('active btn-success').html('<i class="icon-plus icon-white"></i> Add package');
    element.parent().parent().removeClass('callout-success');
    var index = selected_transactions.indexOf(element.parent().parent().attr('data-transaction'));
    if (index > -1) {
        selected_transactions.splice(index, 1);
    }
}

function select_active_transactions() {
    var actives = $('#id_transaction_type').attr('value');

    if (actives && actives.length > 0) {
        var split = actives.split(",");

        for (var i = 0; i < split.length; i++) {
            var elm = $('.transaction-choice[data-transaction="' + split[i] + '"]');
            transaction_business_logic(elm);
        }
    }
}

$(document).ready(function () {

    select_active_transactions();

    $('.transaction-choice .btn').on('click', function () {
        var elm = $(this);
        if (!$(this).hasClass('active')) {
            // Check if Note financing and disable Equity financing if true (and visa versa)
            transaction_business_logic(elm.parent().parent());
        } else {
            transaction_deselection(elm);
        }
    });

    $('#continue').on('click', function () {
        if (selected_transactions.length > 0) {
            $('#id_transaction_type').attr('value', selected_transactions);
            $('form#transaction-form').submit();
        } else {
            $('#instructions').addClass('animated shake');
            window.setTimeout(function () {
                $('#instructions').removeClass()
            }, 1300);
        }
    });
});
</script>
{% endblock %}

{% block modals %}
<!-- Modal -->
<div class="modal fade" id="custom-package">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Contact Us</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="row">
                        <label for="inputSubject" class="col-lg-2 control-label">Subject</label>
                        <div class="col-lg-10">
                            <input type="text" id="inputSubject" placeholder="Subject">
                        </div>
                    </div>
                    <div class="row">
                        <label for="typeBody" class="col-lg-2 control-label">Body</label>
                        <div class="col-lg-10">
                            <textarea name="inputBody" rows="8"></textarea>
                        </div>
                        <!-- <div class="col-lg-10"> -->
                            <!-- <div class="radio-inline"> -->
                                <!-- <label><input type="radio" name="typeRadios"checked> Document</label> -->
                            <!-- </div> -->
                            <!-- <div class="radio-inline"> -->
                                <!-- <label><input type="radio" name="typeRadios"> Issue</label> -->
                            <!-- </div> -->
                        <!-- </div> -->
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">Close</a>
                <a href="#" class="btn btn-primary">Send</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}