{% load url from future %}{% load comments fluent_comments_tags %}
{% csrf_token %}
{% block css %}
    <link href="{{ STATIC_URL }}css/theme/lawyer-profile.css" rel="stylesheet" charset="utf-8" />
    <style>
        .media-body #btn-save_comment {float:right; padding:10px 10px 10px 10px;margin-right:38px;}
    </style>
{% endblock %}

<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

{% if project_lawyer_join.lawyer == request.user.lawyer_profile %}
     {% with project_lawyer_join.project.customer as customer %}
        <div id="hero-mini">
            <div class="container container-main">
                <!-- starts carousel -->
                <div class="row profile-details">
                    <div class="col col-sm-4 text-center">
                        <div class="avatar text-center">
                            <img class="img-rounded" src="{{ customer.profile_photo }}" alt="{{ customer.user.get_full_name|default:customer.user.username }}" />
                        </div>
                    </div>
                    <div class="col col-sm-8">
                        <h1>{{ customer.user.get_full_name|default:customer.user.username }}</h1>
                    </div>
                </div>
            </div>
        </div>
    {% endwith %}
{% else %}
<div id="hero-mini">
    <div class="container container-main">
        <!-- starts carousel -->
        <div class="row profile-details">
            <div class="col col-sm-4 text-center">
                <div class="avatar text-center">
                    <img src="{{ lawyer.profile_photo }}" alt="{{ lawyer.user.get_full_name|default:lawyer.user.username }}" />
                </div>
            </div>
            <div class="col col-sm-8">
                <h1>{{ lawyer.user.get_full_name|default:lawyer.user.username }}</h1>
                <div class="firm">
                    <h2 style="text-info">
                        {% if lawyer.primary_firm %}
                            <span>{{ lawyer.primary_firm }}</span> <br /> 
                        {% endif %} 
                    </h2>
                </div>
                <div id="buttons">
                    {% if project_lawyer_join.status == PROJECT_LAWYER_STATUS.potential %}
                        <button data-engage="{{ project_lawyer_join.pk }}" data-status="{{ PROJECT_LAWYER_STATUS.assigned }}" class="btn btn-success">Engage {{ lawyer.user.get_full_name|default:lawyer.user.username }}</button>
                    {% endif %}
                    <a href="{% url 'lawyer:profile_lite' slug=lawyer.user.username %}" data-toggle="modal" data-target="#overview-modal" data-is_ajax="true" class="btn btn-info">View Profile</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
<hr/>

<!-- Comments -->
<script type="text/javascript" src="{{ STATIC_URL }}js/ajax-comments.js"></script>
{% render_comment_form for project_lawyer_join %}
<br />
{% render_comment_list_reversed for project_lawyer_join %}
<!-- End Comments -->