{% load url from future %}{% load comments fluent_comments_tags %}
{% csrf_token %}


<h3>{{ project_lawyer.display_status }} Lawyer</h3>

<div class="">Message {{ project.primary_lawyer.user.get_full_name }} below to work out if they are suitable for your transaction. You can meet all of our participating lawyers in person.</div>
{{ project.primary_lawyer.user.username }}

<div class="row animated fadeInRight profile-details">
    <div class="col col-lg-2 col-offset-1">
        <div class="avatar">
            <img class="img-rounded" src="{{ project.primary_lawyer.profile_photo }}" alt="{{ project.primary_lawyer.user.get_full_name|default:project.primary_lawyer.user.username }}" />
        </div>
    </div>
    <div class="col col-lg-7">
        <h1>{{ project.primary_lawyer.user.get_full_name|default:project.primary_lawyer.user.username }}</h1>
        <h3>{{ project.primary_lawyer.primary_firm }}</h3>
    </div>
    <div class="col col-lg-7">
        {% if project_lawyer.status == PROJECT_LAWYER_STATUS.potential %}
        <button data-engage="{{ project_lawyer.pk }}" data-status="{{ PROJECT_LAWYER_STATUS.assigned }}" class="btn btn-success">Engage</button>
        {% endif %}
    </div>
</div>
<hr/>

{% render_comment_list_reversed for project %}
{% render_comment_form for project %}