{% extends "comments/base.html" %}{% load url from future %}{% load i18n project_tags %}

{% block breadcrumb %}
<ul class="breadcrumb">
    <li><a href="/">Home</a> <span class="divider">/</span></li>
    <li class="active">Inbox</li>
</ul>
{% endblock %}

{% block content %}

    {% if invalid_page %}

    <p>{% trans "Sorry, this page number is invalid." %}</p>

    {% else %}
        {% if object_list %}
            <ul id="engagement-list" class="message-list">
                {% for message in object_list %}
                <li class="engage-status-{{ message.status|lower }}" data-pk="{{ message.pk }}" data-url="{{ message.get_absolute_url }}">
                    <a href="{{ message.get_absolute_url }}">
                        {% if user.profile.is_customer %}
                        <span class="profile-card" data-template="mini" data-username="{{message.lawyer.user.username}}">
                            <img src="{{ STATIC_URL }}img/default_avatar.png" class="avatar">
                        </span>
                        <span class="message-sender">{{ message.lawyer.user.get_full_name }} @ {{ message.lawyer.firm_name }}</span>
                        <span class="message-date">{{ message.date_created|date:"d M" }}</span>
                        <span class="label engage-status engage-status-{{ message.status|lower }}">{{ message.status }}</span>
                        {% else %}
                        <span class="profile-card" data-template="mini" data-username="{{message.customer.user.username}}"></span>
                        <span class="message-sender">{{ message.startup }} @ {{ message.customer.user.get_full_name }}</span>
                        <span class="message-date">{{ message.date_created|date:"d M" }}</span>
                        <span class="label engage-status engage-status-{{ message.status|lower }}">{{ message.status }}</span>
                        {% endif %}
                    </a>
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>You currently have no Engagements. Why not try searching for a Lawyer on the <a href="{% url 'lawyer:list' %}">marketplace</p>
        {% endif %}

    {% endif %}

{% endblock content %}