{% load comments glynt_helpers %}
<div id="comment-form" class="row">
  {% get_comment_form for object as form %}
  {% comment_form form next %}
</div>
<div class="comment-list">
  {% get_comment_list for object as comment_list %}
  <ul id="comments">
    {% for comment in comment_list reversed %}
      <li id="c{{ comment.id }}">
          <span class="created">{% moment comment.submit_date comment.submit_date %}</span>
          <div>{{ comment.comment }}</div>
          <span class="created pull-right">{{ comment.name }}</span>
          <br/>
      </li>
    {% endfor %}
  </ul>
</div>
<style>
#id_honeypot {
  display: none;
}
  .border{
    border:solid #c00 1px;
  }
</style>