{% extends 'base.html' %}

{% block page_title %}Lawyers - Signup{% endblock %}
{% block bodyclass %}lawyer-form{% endblock %}

{% block prebody %}
<div id="hero">
    <div class="container">
    <h1>About LawPal</h1>
    </div>
</div>
<div class="container">
	<div class="row">
		<div class="span12">
			<h4>
				LawPal was founded by Alex Halliday, Yael Citro and Ross Crawford in January 2013. 
				<br /><br />
				At LawPal, our mission is to empower you with elegant and simple tools to make your legal transactions more transparent and efficient.
				<br /><br />
				We focus our efforts on usable, satisfying design, clear language and world class engineering to make the law more accessible and cost-efficient for everyone at every level.
				<br /><br />
				For more information, please check out our <a href="http://blog.lawpal.com/">blog</a>, <a href="mailto:alex@lawpal.com">email us</a> or check back soon. 
			</h4>
		</div>
	</div>
</div>
{% endblock %}