{% extends 'base.html' %}

{% block page_title %}Disclaimer{% endblock %}
{% block bodyclass %}{% endblock %}

{% block prebody %}
<div id="hero">
    <div class="container">
    <h1>Disclaimer</h1>
    </div>
</div>
<div class="container">
	<div class="row">
		<div class="span7 legal">
			<p>LawPal, Inc., is not a law firm. We are not permitted to engage in the practice of law and therefore cannot provide you with any kind of legal advice or opinion about possible legal rights, remedies, defenses, options, selection of forms or strategies. Only the law firms listed in our Law Firm Directory can provide you with legal advice.</li>
			<p>The information contained in this Web site is general legal information and should not be construed as legal advice to be applied to a specific situation.  We attempt to publish quality information; however, we cannot represent or guarantee that the information on this Web site or linked to this Web site is accurate, up to date, or appropriate for your situation.  Because the law differs from jurisdiction to jurisdiction, and may be interpreted or applied differently depending on your location or situation, the information on this Web site is not a substitute for the advice of an attorney.</li>
			<p>We are not responsible for any loss, injury, claim, liability, or damage related to your use of the Web site, whether from errors or omissions in the content of our Website or any other linked sites, from the site being inaccessible or from any other use of the Web site. Your use of the Web site is at your own risk.</li>
			<p>This site is not intended to create an attorney-client relationship. 
			<p>Communications between you and LawPal are protected by our Privacy Policy, but are not protected by the attorney-client privilege or work product doctrine. Please note that your access to and use of LawPal.com is subject to additional Terms of Use.  Many state bar associations require that we make the following disclosures as part of their efforts to make sure that law firms to not make any misrepresentations to the general public about their services. State bar associations not only regulate the way in which an attorney practices law, but also the way in which an attorney markets and advertises his or her services to the general public. Please note:
			<p>Each of the law firms listed in the Directory are independent of each other;</p>
			<ul>
				<li>None of the law firms listed in the Directory pay an advertising fee of any kind. A listing is free as long as the law firm meets the criteria for inclusion. LawPal, Inc. makes no payments of any kind to law firms listed in the Law Firm Directory. </li>
				<li>Some states bar associations would conclude that the site is joint advertising and we must explicitly state that it must be considered so. </li>
				<li>Inclusion in the Directory does not make a representation of specialized expertise in an area. However listing in the Directory means that a law firm meets the criteria listed for inclusion.   </li>
				<li>There is no lawyer referral activity subject to state certification. As a consumer you are free to select your own attorney from the listing of law firms available within your state that meet the criteria for inclusion in the Directory.  </li>
			</ul>
		</div>
	</div>
</div>


{% endblock %}