{% load i18n templatetag_handlebars glynt_helpers document_tags thumbnail compress %}{% load url from future %}
{% block content %}
<!doctype html>

<!--[if lt IE 7 ]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->

<!--[if IE 7 ]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->

<!--[if IE 8 ]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->

<!--[if IE 9 ]>    <html class="no-js ie9" lang="en"> <![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->

<html class="no-js" lang="en">

<!--<![endif]-->

<head>

<meta charset="utf-8">

<!--[if lt IE 9]> 

<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<![endif]-->

<title>Welcome to LawPal Preview</title>

<meta name="description" content="">

<meta name="author" content="">

<link rel="stylesheet" href="{{ STATIC_URL }}homepage/assets/css/lawpal.css">

</head>

<body class="landing">

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36042667-1']);
        _gaq.push(['_trackPageview']);

        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>



<div class="wrap">

	<div class="panel">

	

		<header>

			<a href="#" title="Go Home"><img src="{{ STATIC_URL }}homepage/assets/img/logo-white.png" alt="LawPal logo" /></a>

			<div class="divide"></div>

		</header>



		<section class="landing-main" role="main">

			<article>

				<hgroup>

					<h1>
						<!-- Startup legal services that don't suck. -->
						<!-- Efficient, easy legals for startups. -->
						Engage, Transact, Complete.
					</h1>

					<h2>

						Legal services marketplace and relationship management for startups

					</h2>
				</hgroup>
				<div class="divide"></div>

				<form action="http://lawpal.us6.list-manage2.com/subscribe/post?u=a28c24eb98757a383d43fb6dc&amp;id=dfe63d77dd" method="post" class="left reveal">

						<hgroup>

							<h3>Startups</h3>

						</hgroup>	

						<div class="reveal-inner">

							<!-- <h4>Follow us for updates (we're not yet ready for you)</h4> -->
							<p>
									<input type="email" name="EMAIL" placeholder="Sign up for updates" />
									<button type="submit">Sign up</button>
							</p>

						</div>	

					</form>

					<div class="right reveal">

						<hgroup>

							<h3>Lawyers</h3>

						</hgroup>

						<div class="reveal-inner">

							<!-- <h4>Sign in with your existing social logins below</h4> -->

							<p>

								<a class="btn linkedin" href="{% url "socialauth_begin" "linkedin" %}" title="Sign in with LinkedIn">Sign in with <strong>LinkedIn</strong></a>

								<a class="btn angelist" href="{% url "socialauth_begin" "angel" %}" title="Sign in with AngeList">Sign in with <strong>AngelList</strong></a>

							</p>	

						</div>	

					</div>

				</div>	

			</article>

		</section>

	</div>

</div>	

<div id="footer" class="span12 text-center">
    <a href="{% url 'public:about' %}">About Us</a> &middot; <a href="http://blog.lawpal.com/" target="_BLANK">LawPal Blog</a> &middot; <a href="mailto:support@lawpal.com" target="_BLANK">Contact Us</a> &middot; <a href="{% url 'public:terms' %}">Terms and Conditions</a> &middot; <a href="{% url 'public:privacy' %}">Privacy Policy</a> &middot; <a href="{% url 'public:disclaimer' %}">Disclaimer</a> <a href="http://blog.lawpal.com/photocredit" style="float:right">Photo Credit </a>
</div>

<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>

<script src="{{ STATIC_URL }}homepage/assets/js/general.js"></script> 

</body>

</html>
{% endblock %}