{% extends 'base_bsv3.html' %}{% load url from future %}
{% block page_title %}LawPal - A better attorney-client relationship{% endblock %}
{% block bodyclass %}homepage{% endblock %}
{% block css %}
{% endblock %}
{% block extrahead %}
    <meta name="description" content="LawPal - A better attorney-client relationship">
    <meta name="keywords" content="incorporation, seed financing, convertible notes, venture capital, acquisition, angel investing">
{% endblock %}

{% block navbar %}
    {% include 'partials/nav.html' %}
{% endblock %}

{% block prebody %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Simplified legal services for startups.</h1>
                <h3>Awesome lawyers on demand</h3>
                <br />

                <a href="{% url 'public:start' %}" class="btn btn-primary btn-large"  onClick="_gaq.push(['_trackEvent', 'Homepage', 'Action', 'start']);">Start</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
{% endblock %}
