{% extends 'base.html' %}

{% block page_title %}About LawPal{% endblock %}
{% block bodyclass %}homepage{% endblock %}
{% block css %}
<link href="{{ STATIC_URL }}css/theme/home.css" rel="stylesheet" charset="utf-8" />
<!-- <link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
 -->{% endblock %}


{% block prebody %}
<div id="hero" style="position:relative">
   	<div class="container">
	</div> 
    <div class="search" style="position:absolute; bottom:0;">
    	<div class="container">
		<h1>Startups - find your perfect lawyer.</h1>
			I need a lawyer in <input id="user_screen_name" value="San Francisco"> <!-- for a <input id="user_screen_name" value="Seed financing"> -->
			<a href="#" class="btn btn-onblack btn-large">Search</a> <a href="#signin-modal" role="button" class="btn btn-onblack btn-large" data-toggle="modal">Sign In</a>
    	</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="span12" id="learn-more">
			<h3><a href="#">learn<br />more</a></h3>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="span12 product-tour">
			<h2>As a founder, it's an important relationship</h2>
			<h3>Founder-lawyer dating. We'll find you Mr Right.</h3>
			<div class="row">
				<div class="span6">
					<img src="{{ STATIC_URL }}img/homepage/founder-values.jpg"> 	
				</div>
				<div class="span6">
					<div class="desc">
						<br />
						LawPal lets you find and work with lawyers in an entirely new way. We beleive that startups are stronger with qualtiy legal advice from a qualified attourney. We are here to give founders greater choice and transparency so they can find the right lawyer. Browse by location, fee structure. 
						<br />
						<br />
						<a href="/lawyers" class="btn btn-blue">Browse Marketplace</a>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="span12 product-tour">
			<h2>The relationship works better through LawPal</h2>
			<h3>Beautifully simple tools to make your relationship more efficient and transparent <span>Coming August</span></h3>
			<img src="{{ STATIC_URL }}img/homepage/tools.png" style="margin-left:75px;"> 	
		</div>
	</div>
</div>
<script src="/static/homepage/assets/js/general.js"></script> 

{% endblock %}