{% extends 'base.html' %}

{% block bodyclass %}lawyer-welcome{% endblock %}

{% block prebody %}
<div id="hero">
	<div class="container">
		<!-- starts carousel -->
		<div class="row animated fadeInDown">
			<div class="span12">
				<h1>Hey {{ user.first_name|default:user }}, a warm welcome to LawPal</h1>
				<h3>We're up to something big and we want you to be part of it.<br />
					Shortly we will be launching a discovery platform to help founders find quality lawyers and firms.
				 </h3>
				<br />
				<br />
			</div>
		</div>
	</div>
</div>
<div class="container screenshots">
	<div class="row">
		<div class="span6">
			<img src="{{ STATIC_URL }}img/preview.jpg">
		</div>
		<div class="span6">
			<img src="{{ STATIC_URL }}img/preview2.jpg">
		</div>
	</div>
</div>
<div class="container profile">
	<div class="row">
		<div class="span12">
			<h1>Get your profile ready</h1>
			<p>We are building a platform which will allow you to connect with exciting new startups. 
			<br />We've got your profile started but please add some more information so startups have a better chance of finding you.</p>
			<br />
			<a href="{% url 'public:lawyer_setup_profile' %}" class="btn btn-large btn-primary">Prepare your profile</a>
		</div>
	</div>
</div>

{% endblock %}