{% extends 'base.html' %}

{% block page_title %}Lawyers - Signup{% endblock %}
{% block bodyclass %}lawyer-form{% endblock %}

{% block prebody %}
<div id="hero">
	<div class="container">
		<!-- starts carousel -->
		<div class="row animated fadeInDown">
			<div class="span12">
				<h1>Update your profile</h1>
				<h3>The doors are opening soon. Make sure everything is up to date.<br />
					Have a question? Contact us at <a href="mailto:founders@lawpal.com">founders@lawpal.com</a> </h3>
				 </h3>
			</div>
		</div>
	</div>
</div>

<div class="container profile">
	<div class="row">
		<div class="span12">
			<h1>
				Confirm your details
			</h1>
			<br>
			<form action="{% url 'public:lawyer_setup_profile' %}" method="POST" class="form-horizontal" enctype="multipart/form-data">{% csrf_token %}
				{% for e in form.non_field_errors %}
				<div class="alert-error">
				  {{ e }}
				</div>
				{% endfor %}
			<div class="row">
					<div class="span5">
						<div class="control-group">
							<label class="control-label" for="inputEmail">{{ form.first_name.label }}</label>
							<div class="controls">
								{{ form.first_name.errors }}
								{{ form.first_name }}
								<span class="help-inline">{{ form.first_name.help_text }}</span>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="inputEmail">{{ form.email.label }}</label>
							<div class="controls">
								{{ form.email.errors }}
								{{ form.email }}
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="inputEmail">{{ form.phone.label }}</label>
							<div class="controls">
								{{ form.phone.errors }}
								{{ form.phone }}
							</div>
						</div>
					</div>
					
					<div class="span5">
						<div class="control-group">
							<label class="control-label" for="inputPassword">{{ form.last_name.label }}</label>
							<div class="controls">
								{{ form.last_name.errors }}
								{{ form.last_name }}
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="inputEmail">{{ form.firm_name.label }}</label>
							<div class="controls">
								{{ form.firm_name.errors }}
								{{ form.firm_name }}
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="inputEmail">{{ form.position.label }}</label>
							<div class="controls">
								{{ form.position.errors }}
								{{ form.position }}
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="inputEmail">{{ form.years_practiced.label }}</label>
							<div class="controls">
								{{ form.years_practiced.errors }}
								{{ form.years_practiced }}
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="span12">
						<legend>Your Practice Locations</legend>
					</div>
				</div>
				<div class="row">
					<div class="span5">
						<div class="control-group">
							<label class="control-label" for="inputPassword">{{ form.practice_location_1.label }}</label>
							<div class="controls">
								{{ form.practice_location_1.errors }}
								{{ form.practice_location_1 }}
							</div>
						</div>
					</div>
					<div class="span5">
						<div class="control-group">
							<label class="control-label" for="inputPassword">{{ form.practice_location_2.label }}</label>
							<div class="controls">
								{{ form.practice_location_2.errors }}
								{{ form.practice_location_2 }}
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="span12">
						<legend>Your Profile</legend>
					</div>
				</div>
				<div class="row">
					<div class="span12">
						<div class="control-group">
							<label class="control-label" for="inputPassword">{{ form.summary.label }}</label>
							<div class="controls">
								{{ form.summary.errors }}
								{{ form.summary }}
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="inputPassword">{{ form.bio.label }}</label>
							<div class="controls">
								{{ form.bio.errors }}
								{{ form.bio }}
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="span12">
						<legend>Profile Photo</legend>
					</div>
				</div>
				<div class="row">
					<div class="span8">
						<div class="control-group">
							<label class="control-label" for="inputPassword">{{ form.photo.label }}</label>
							<div class="controls">
								{{ form.position.errors }}
								<div class="input-append">
									{{ form.photo }}
									{{ form.hidden_photo }}
								</div>
						      <span class="help-block">{{ form.startups_advised.help_text }}</span>
							</div>
						</div>
					</div>
					<div class="span4">
						<img id="photo-preview" width="130" height="130" src="http://placehold.it/130x130">
					</div>
				</div>
				<div class="row">
					<div class="span12">
						<legend>Startups Advised</legend>
					</div>
				</div>
				<div class="row">
					<div class="span8">
						<div class="control-group">
							<label class="control-label" for="inputEmail">{{ form.startups_advised.label }}</label>
							<div class="controls">
								{{ form.startups_advised.errors }}
								{{ form.startups_advised }}
  						    	<span class="help-block">{{ form.startups_advised.help_text }}</span>
							</div>
						</div>
						
					</div>
					<div class="span4">
						<ol>
							<li>{{ form.startups_advised.field.widget.attrs.title }}</li>
						</oL>
					</div>
				</div>
				<div class="row">
					<div class="span12">
						<legend>Approximate Transaction Volume</legend>
					</div>
				</div>
				<div class="row">
					<div class="span8">
						<table class="table">
							<tr>
								<th class="span3"></th>
								<th>2010</th>
								<th>2011</th>
								<th>2012</th>
							</tr>

							<tr>
								<th>Incorporation and Setup</th>
								<td><input class="span1 volume" data-volume_type="incorp_setup" data-year="2010" type="text"></td>
								<td><input class="span1 volume" data-volume_type="incorp_setup" data-year="2011" type="text"></td>
								<td><input class="span1 volume" data-volume_type="incorp_setup" data-year="2012" type="text"></td>
							</tr>

							<tr>
								<th>Seed Financing</th>
								<td><input class="span1 volume" data-volume_type="seed_financing" data-year="2010" type="text"></td>
								<td><input class="span1 volume" data-volume_type="seed_financing" data-year="2011" type="text"></td>
								<td><input class="span1 volume" data-volume_type="seed_financing" data-year="2012" type="text"></td>
							</tr>
							<tr>
								<th>Series A</th>
								<td><input class="span1 volume" data-volume_type="series_a" data-year="2010" type="text"></td>
								<td><input class="span1 volume" data-volume_type="series_a" data-year="2011" type="text"></td>
								<td><input class="span1 volume" data-volume_type="series_a" data-year="2012" type="text"></td>
							</tr>
						</table>
						{{ form.volume_incorp_setup }}
						{{ form.volume_seed_financing }}
						{{ form.volume_series_a }}
					</div>
				</div>
				<div class="row">
					<div class="span12">
						<br />
						<label class="checkbox">
							{{ form.agree_tandc.errors }}
		                	{{ form.agree_tandc }} I agree to the LawPal <a href="{% url 'public:terms' %}">Terms and Conditions</a>
		              	</label>
						<br />
						<button id="lawyer-profile" type="submit" class="btn btn-primary btn-large">Update Profile</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}

{% block css %}
<style>
img#photo-preview{
    border:solid #ccc 2px;
    min-height: 50px;
    min-width: 50px;
    max-height: 130px;
    max-width: 130px;
}
</style>
{% endblock %}

{% block js %}

<!-- # include cicu etc -->
{{ form.media }}

<script type="text/javascript">

function preparePhotoPreview(element) {
	var element = $('.cropped-imag-preview');
	var cookie_data = $.parseJSON($.cookie('lawyer_profile'));

	$.each(element.find('img'), function(i,img){
		img = $(img)
        src = img.attr('src');

		if (cookie_data && cookie_data.id !== undefined) {
		    $('#id_hidden_photo').val(cookie_data.id);
		    src = cookie_data.path;
		}

		$('#photo-preview').attr('src', src)

		img.hide();
	})
}

function photoCrop(element, data) {
	$('#id_hidden_photo').val(data.id);// id to be sent
    $.cookie('lawyer_profile', JSON.stringify({'id': data.id, 'path': data.path}));
	preparePhotoPreview(element);
}

$(document).ready(function(){

	$('input[title]').tooltip({trigger: 'focus', placement: 'top'});

	/**
	* Dynamic selector functions based on form api urls
	* 
	*/
	{% for key, url in form.data_source_urls.items %}
	{{ key }}_lookup = function(filter, callback) {
		var url = '{{ url }}';
		var object_list = []
		url = (filter === undefined)? url: url + '&' + filter;
		$.ajax({
			type: 'GET',
			url: url,
			data: null,
			beforeSend: function(jqXHR, settings) {
				// Pull the token out of the DOM.
				jqXHR.setRequestHeader('X-CSRFToken', $('input[name=csrfmiddlewaretoken]').val());
			},
			success: function(data, textStatus, jqXHR){
				$.each(data.objects, function(i,item){
					object_list.push(item.name)
				})
				// call the calling callback.. javascript
				callback(object_list);
			},
			error: function(data, textStatus, jqXHR){
				console.log(jqXHR)
				console.log(textStatus)
			}
		});
	}
	{% endfor %}

	/**
	* handle typeahead requests
	*/
	$.each($('.typeahead'), function(i, element) {
		var e = $(element);
		e.typeahead({
		source: function(query, process_callback) {
			var lookup_name = e.attr('data-source');
			var filter = e.attr('data-filter');
			filter = (filter === undefined)? filter : filter + '=' + query ;
			var fn = window[lookup_name + '_lookup']
			if(typeof fn === 'function') {
				fn(filter, process_callback);
			}
		}
		});
	});

	/**
	* handle typeahead requests
	*/
	$.each($('.volume'), function(i, element) {

		var e = $(element);
		var volume_type = e.attr('data-volume_type');
		var year = e.attr('data-year');

		var target_element = $('#id_volume_' + volume_type);

		// default json data from hidden element
		var target_json = $.parseJSON(target_element.val());
		target_json = (target_json === null) ? {} : target_json ;

		// parse and reform and set defaults
		var volume_object = window[volume_type + '_object'] || target_json;
		volume_object[year] = target_json[year] || 0;
		var as_json = JSON.stringify(volume_object)

		// set the initial value
		window[volume_type + '_object'] = volume_object;
		e.val(volume_object[year])
		target_element.val(as_json);

		e.on('change', function(event){
			var volume = e.val();
			var volume_type = e.attr('data-volume_type');
			var year = e.attr('data-year');

			var target_element = $('#id_volume_' + volume_type);
			var target_json = $.parseJSON(target_element.val());
			var volume_object = window[volume_type + '_object'];

			volume_object[year] = volume;
			var as_json = JSON.stringify(volume_object)

			target_element.val(as_json);
			// console.log(target_element.val())
		})
	});

});
</script>

{% endblock %}
