{% extends 'base_bsv3.html' %}{% load url from future %}

{% block page_title %}About LawPal{% endblock %}
{% block bodyclass %}{% endblock %}

{% block prebody %}
<div class="jumbotron-header">
	<div class="container">
    	<h1 class="alt">For Lawyers</h1>
    </div>
</div>
<div class="container">

		<p>YAEL SUPPLYING TEXT</p>
		<p>Starting a business is one of the most exciting yet challenging things anyone can do. During your first year you will likely have several legal needs including incorporating and completing your initial fund raise. Deciding when to engage a lawyer can be stressful, especially for startups who need to conserve cash. Whilst there are "cost-effective" self-service alternatives, they don't provide the quality or protection that comes from working with an experienced lawyer.</p>

		<p>We created LawPal because we want to make working with a great lawyer at the early stages of your business as easy and affordable as possible. We believe that technology should be used to encourage and support the attorney-client relationship in a "win-win" environment.  We want to help your lawyer help you.</p>

		<p>LawPal is launching the first marketplace and relationship management platform focused exclusively on the attorney-client relationship, beginning with start-ups.</p>

		<p>We are preparing a beautiful, curated directory of outstanding lawyers currently advising startups throughout the world. We are working with top investors and incubators to ensure that a stream of quality, funded startups are coming through the LawPal platform. Customers will be able to contact lawyers and manage elements of the workflow through a growing set of intuitive tools.</p>
		
		<p>For more information, please check out our <a href="http://blog.lawpal.com/">blog</a>, <a href="mailto:founders@lawpal.com">email us</a> or check back soon.</p> 	
</div>
{% endblock %}