{% extends 'base.html' %}

{% block page_title %}Authentication Error{% endblock %}

{% block prebody %}

<div id="hero">
    <div class="container">
        <!-- starts carousel -->
        <div class="row">
            <div class="span12">
                <h1>Sorry, an authentication error occurred.</h1>
                <h2>This has been reported to our development team and they will investigate shortly.</h2>
                <br />
            </div>
        </div>
    </div>
</div>
{% endblock %}
