{% extends 'base.html' %}{% load url from future %}

{% block page_title %}About LawPal{% endblock %}
{% block bodyclass %}{% endblock %}

{% block prebody %}
<div class="jumbotron-header">
	<div class="container text-center">
    	<h1 class="alt">Must Reads</h1>
    	<h2 class="softer">We are not the only ones changing the legal landscape... </h2>
    </div>
</div>
<div class="container">
		<p><script type="text/javascript" class="rebelmouse-embed-script" src="https://www.rebelmouse.com/static/js-build/embed/embed.js?site=lawpal&height=1500&flexible=1&theme=8&show_rebelnav=1"></script></p>

</div>
{% endblock %}