{% extends 'base.html' %}

{% block page_title %}Lawyers - Create your account{% endblock %}
{% block bodyclass %}{% endblock %}


{% block prebody %}
<div id="hero">
    <div class="container text-center">
    <h1>Welcome</h1>
    <h2>The future of the profession starts here.</h2>
    </div>
</div>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <br />
        <div class="startup text-center">
            <a href="{% url "public:auth_user_class_redirect" user_class_name="lawyer" login_type="linkedin" %}" class="btn btn-primary"><img src="{{ STATIC_URL }}img/linkedin-32.png"> Sign in with LinkedIn</a>
        </div>

    </div>
</div>
{% endblock %}