{% extends 'base.html' %}

{% block page_title %}Lawyers - Create your account{% endblock %}
{% block bodyclass %}{% endblock %}

{% block navbar %}
    {% include 'public/partials/nav.html' %}
{% endblock %}

{% block prebody %}
<div id="hero">
    <div class="container">
    <h1>A warm welcome</h1>
    <h2>Please create your account</h2>
    </div>
</div>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        
        <div class="startup">
            <a href="{% url "public:auth_user_class_redirect" user_class_name="lawyer" login_type="linkedin" %}" class="btn btn-primary"><img src="{{ STATIC_URL }}img/linkedin-32.png"> Sign in with LinkedIn</a>
        </div>

    </div>
</div>
{% endblock %}