{% extends 'base.html' %}

{% block page_title %}Start{% endblock %}
{% block bodyclass %}{% endblock %}

{% block prebody %}
<div id="hero">
    <div class="container">
    <h1>Create your account</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        
        <div class="startup">
            <a href="{% url "public:auth_user_class_redirect" user_class_name="founder" %}" class="btn btn-primary"><img src="{{ STATIC_URL }}img/google-32.png">Sign in with Google</a>
            <a href="{% url "public:auth_user_class_redirect" user_class_name="founder" %}" class="btn btn-primary"><img src="{{ STATIC_URL }}img/linkedin-32.png"> Sign in with LinkedIn</a>
        </div>

    </div>
</div>


{% endblock %}