{% extends 'base.html' %}{% load url from future %}
{% block page_title %}LawPal - A better attorney-client relationship{% endblock %}
{% block bodyclass %}{% endblock %}
{% block css %}
{% endblock %}
{% block extrahead %}
    <meta name="description" content="LawPal - A better attorney-client relationship">
    <meta name="keywords"
          content="incorporation, seed financing, convertible notes, venture capital, acquisition, angel investing">
{% endblock %}

{% block navbar %}
    {% include 'partials/nav.html' %}
{% endblock %}

{% block prebody %}
<div class="jumbotron">

    <div class="container">
        <div class="col col-8 col-offset-2 text-center softer">
            <br />
            <h1>Why LawPal</h1>
            <br />

    <!--    	<p>Legal services are expensive and should reflect the skills of the professionals involved and the quality of the work delivered.  Lawyers bring a great deal of  knowledge and expertise to any team, and they deserve to be fairly compensated.  At the same time, we want to ensure that clients receive good value for the money they spend on lawyers. 
             <p>
            The best way to ensure both fair payment and good value is to manage every matter closely, emphasizing communication and shared responsibility. 
            <p>
            Welcome to LawPal...where forward-thinking 21st Century lawyers and clients are changing how they do business and managing their deals … together.
            </p> -->
        </div>
    </div>
</div>
{% endblock %}

{% block body %}
            <br />

                        <br />

<div class="container">
    <div class="row">
        <div class="col-sp-12 legal text-center">
            <img src="{{ STATIC_URL }}img/why-lawpal-1.gif">
            <img src="{{ STATIC_URL }}img/why-lawpal-2.gif">
            <img src="{{ STATIC_URL }}img/why-lawpal-3.gif">
            <img src="{{ STATIC_URL }}img/why-lawpal-4.gif">
            <img src="{{ STATIC_URL }}img/why-lawpal-5.gif">
        </div>
    </div>
</div>
{% endblock %}