/* HOMEPAGE CHANGES FOR TRANSACTION UPDATES */

body.homepage,
body.start {
    margin: 0;
    padding: 0;
}

.homepage .navbar-inner,
.start .navbar-inner {
    border: none;
}

.hero-welcome {
    margin-top: 5em;
    text-align: center;
}

.hero-welcome h1 {
    font-size: 3.5em;
    color: #333;
}

.hero-welcome h3 {
    color: #ccc;
    font-size: 2.5em;
    margin: 1em 0;
}

.hero-welcome .btn {
    width: 7em;
    font-size: 1.2em;
    padding: .5em 1em;
    margin: 0 .5em;
}

.centered {
    width: 250px;
    height: 150px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -125px;
    text-align: center;
}

.sign-in {
    box-sizing: border-box;
    padding: 2em;
    border: 1px solid #c4c4c4;
}

.centered img.logo {
    margin: 0 0 2em;
}

p.start-lawyer {
    margin: 1em 0;
    font-size: .8em;
    font-weight: bold;
}

.start-lawyer a {
    color: #f67e72;
}