html {
	margin: 0;
}
body {
	position: relative;
	padding-top: 69px;
	-webkit-font-smoothing: antialiased;
	font-family:  "HelveticaNeue", 'Lato', sans-serif !important;	
	color: #5b5e60;
}
h1,h2 { 
	font-family:  "HelveticaNeue-light", 'Lato', sans-serif !important;	
	font-weight:300;
}
h3, h4 {
 	font-family:  "HelveticaNeue", 'Lato', sans-serif !important;	
    font-weight: normal;
}
a {
	color:#4d5456;
}
form a {
	text-decoration:underline;
}
.alert {
    margin-top:20px;
}
.scrolltop {
	background-color: #F1F1F1;
	border: 1px solid darkGray;
	border-radius: 100px 100px 100px 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	display: none;
	height: 36px;
	opacity: 0.6;
	filter: alpha(opacity=60);
	position: fixed;
	right: 2%;
	/*text-indent: -9999px;*/
	top: 50%;
	width: 36px;
	z-index: 33;
}
.scrolltop span {
	position: relative;
	top: 7px;
	left: 10px;
}
.text-center {
	text-align: center;
}
/* Old versions of IE patches */
.old-ie #hero .carousel-inner .row {
	padding-left: 55px;
}
.old-ie #box_login .box .social a.face_login span.text {
    font-size: 16px;
    margin: 8px 0 0 10px;
}

.label, .badge {
	font-size:10px;
	border-radius:10px;
	text-shadow:none;
}

.badge {
    padding: 2px 6px 3px;
}

/* Message
-------------------------------------------------- */
div#messages {
	background-color: #fef58e;
	border: 3px solid #EDEDED;
	border-top:0px;
	padding:10px 0px;
}
div#messages ul {
	list-style-type:none;
}

/* Popover
-------------------------------------------------- */
.popover-content textarea {
font-size:13px;
color:#666;
height:90px;
}


/* Navbar
-------------------------------------------------- */
.navbar-fixed-top {
    margin-bottom: 0;
}
.navbar-fixed-top.scroll {
    opacity: 0.96;
	border-bottom:1px solid #F1F1F1;
}
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner, .navbar .navbar-inner {
    padding: 17px 0 17px 0;
	background:#FFF;
	box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
	border-bottom:0px;
}
.navbar-fixed-top.dark .navbar-inner {
	background: #58daea; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU4ZGFlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM3JSIgc3RvcC1jb2xvcj0iIzUzY2JmMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzYWM2ZGYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #58daea 0%, #53cbf1 37%, #3ac6df 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#58daea), color-stop(37%,#53cbf1), color-stop(100%,#3ac6df)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #58daea 0%,#53cbf1 37%,#3ac6df 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #58daea 0%,#53cbf1 37%,#3ac6df 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #58daea 0%,#53cbf1 37%,#3ac6df 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #58daea 0%,#53cbf1 37%,#3ac6df 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58daea', endColorstr='#3ac6df',GradientType=0 ); /* IE6-8 */
	padding:7px 0px;
}
.unread_counter {
	background-color:#d24230;
	color:white;
	font-size:10px;
	font-weight:bold;
	padding:2px 5px 3px 5px;
	border-radius:10px;
	font-weight:bold;
	top:-2px;
	font-style:normal;
	margin-left:6px;
}
.navbar .nav {
	top: 4px;
	/*margin-right: 40px;*/
}
.navbar .nav > li > a {
	color: #686d6f;
	font-size: 15px;
	font-weight: normal;
    text-shadow: none;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;	
	padding-right:6px;
	position:relative;
}
.navbar.dark .nav > li > a {
	color:white;
}
.navbar .nav > li > a:hover {
	color: #2bb0c4;		
}
.navbar.dark .nav > li > a:hover {
	color:white;
}
.navbar .nav > li.active > a,
.navbar .nav > li.active:hover > a,
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
    padding-bottom: 4px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-moz-box-shadow: none;
	background: none;
	color: #2bb0c4;
}
.navbar.dark .nav > li.active > a,
.navbar.dark .nav > li.active:hover > a,
.navbar.dark .nav > .active > a,
.navbar.dark .nav > .active > a:hover,
.navbar.dark .nav > .active > a:focus {
	color:white;
}
.navbar.dark .nav li.dropdown.open > .dropdown-toggle, .navbar.dark .nav li.dropdown.active > .dropdown-toggle, .navbar.dark .nav li.dropdown.open.active > .dropdown-toggle {
	color:#b9f4ff;
}
.navbar .divider-vertical {
	height:30px;
	margin-top:5px;
}
.btn-dropnav {
    float: right;
    margin-left: 5px;
    margin-right: 5px;
    padding: 7px 10px;
	display: none;
}
.btn-dropnav .icon-bar {
    background-color: #F5F5F5;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);	
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    display: block;
    height: 2px;
    width: 18px;
}
.btn-dropnav .icon-bar + .icon-bar {
    margin-top: 3px;
}
.navbar .nav li.dropdown.open > .dropdown-toggle, 
.navbar .nav li.dropdown.active > .dropdown-toggle, 
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
	background: none;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
	background-color: #475B77 !important;
	text-decoration: none;
	color: #ffffff;
	background-image: -moz-linear-gradient(top, #475B77, #475B77);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#475B77), to(#475B77));
	background-image: -webkit-linear-gradient(top, #475B77, #475B77);
	background-image: -o-linear-gradient(top, #475B77, #475B77);
	background-image: linear-gradient(to bottom, #475B77, #475B77);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#475B77', endColorstr='#475B77', GradientType=0);
}
.navbar .dropdown-toggle img {
	width:22px;
	height:22px;
}
.navbar span {
font-size: 11px;
color:#ccc;
text-transform: uppercase;
}

#hero {
	padding-top: 65px;
	background: #4ad1e5; /* Old browsers */
	height: auto;
	padding-bottom: 55px;
	color:white;
	margin-bottom:40px;
}
#hero h1 {
	font-size:44px;
	line-height:60px;
}
 /* 2.0 homepage */
 
 body.splash {
     padding-top: 0px;
     background-color:#4bd1e5;
     padding-top:90px;
     color:white;
 }
 /* 2.0 Lawyer Welcome */

 .about-us p {
	 font-size:16px;
	 line-height:1.6em;
	 margin-bottom:15px;
 }

 /* 2.0 Lawyer Welcome */

 body.lawyer-welcome .screenshots {
	 margin-top:-95px;
	 padding-bottom:40px;
 }
 body.lawyer-welcome #hero {
	 padding:60px 0px;
 } 
body.lawyer-welcome #hero h1 {
 	font-size:50px;
 	line-height:50px;
	padding:15px 0px;
}
body.lawyer-welcome #hero h3 {
	font-size:22px;
	line-height:35px;
}
 body.lawyer-welcome .profile p {
	 font-size:19px;
	 line-height:30px;
 }
 body.lawyer-welcome .screenshots img {
	 -webkit-box-shadow:  0px 0px 1px 1px #ddd;
	         box-shadow:  0px 0px 1px 1px #ddd;
 }

/* Coming soon*/

.coming-soon {
	margin-top:90px;
	text-align:center;
}

/* footer section */
#footer {
	background-color:#212526;
    color:#aaa;
	padding-top: 35px;
	font-size:13px;
}
#footer h3 {
	margin-bottom: 25px;
}
#footer a {
    color:#aaa;
}

#footer hr {
	border-top: 1px solid black;
	border-bottom: 1px solid #363B43;
	margin: 8px 0px 0px 0px;
}
#footer .copyright h3 {
	float: left;
}
#footer .copyright .social {
	margin-top: 8px;
	float: left;
	margin-left: 20px;		
	border-radius: 22px;
}
#footer .copyright .social:hover {
	background-color: #1A1E25;
}
#footer .copyright .social.fb {
	padding: 9px 15px 3px 15px;
}
#footer .copyright .social.tw {
	margin-top: 10px;
	padding: 11px 8px 5px 8px;
}
#footer .copyright .social.yt {
	padding: 8px 8px 5px 8px;
	margin-top: 10px;
}
#footer .copyright .copy p {
}

#footer.dash {
	background: none;
	min-height: none;
	margin-top: 100px;
	color: #777;
	padding-top: 35px;
}
#footer.dash hr{
	border-color: #777;
	border-top:none;
}

/* Sticky footer styles
-------------------------------------------------- */

html, body, #wrap {
    height: 100%;
}

body > #wrap {
    height: auto;
    min-height: 100%;
}

#main {
    padding-bottom: 220px;
}

#footer {
    position: relative;
    margin-top: -180px;
    height: 180px;
    clear: both;
    box-sizing: border-box;
}

/* section header */
.section_header {
	text-align: center;
	font-weight: bolder;
	color: #252b34;
	margin-top: 80px;
	position: relative;
	margin-bottom: 40px;
}
.section_header.left span {
	margin-left: 0px;
	text-align: left;
}
.section_header hr {
	border-top: 1px solid #BEC0C3;
	border-bottom: 2px solid white;
	width: 36%;
	position: absolute;
}
.section_header hr.left { }
.section_header hr.right {
	right: 0px;
	top: 0px;
}
.section_header span {
	width: 27%;
	display: block;
	margin: 0 auto;
}
.section_header small {
	margin-left: 20px;
	font-size: 16px;
	color: #7f8387;
	display: none;
}

/* Form Styling */
.form-horizontal.compact .control-group {
	margin-bottom:10px;
}
.form-horizontal.compact ul.parsley-error-list {
	position:static;
	background:transparent;
}
.form-actions {
	border-top:none;
}
.form-actions .radio, .form-actions .checkbox {
	padding-left:9px;
}

input.parsley-success, textarea.parsley-success {
  color: #468847 !important;
  border: 1px solid #ebf4e4 !important;
 background: #f6faf4 url('/static/img/form-tick.png') no-repeat center right;
 transition: background-color 0.4s linear;

}
input.parsley-error, textarea.parsley-error {
  color: #B94A48 !important;
  background-color: #F2DEDE !important;
  border: 2px solid red !important;
}
ul.parsley-error-list {
   font-size: 11px;
   margin: 2px;
   list-style-type:none;
   background-color:rgba(255,255,255,1);
   padding:2px;   
   width:200px;
   position:absolute;
}
ul.parsley-error-list li {
    line-height: 11px;
    color: red;
}
table.table input {
   padding:3px;
}
table.table td {
   padding-bottom:13px;
}
.upload-btn {
   left:0!important;
}
#div_id_agree_tandc .controls {
   margin-left:0px;
   font-size:120%;
}




/* Dashboard 
-------------------------------------------------- */
/*.dash-panel {
    background-color:white;
    padding:10px 20px 10px 20px;
    margin-top:10px;
}
*/
.dashboard .dashtop{
	margin-top:30px;
	margin-bottom:20px;
}
.dashboard .dashtop h1{
	padding:0px 0px;
}
.dashboard .dashtop h4{
	padding:10px 0px 5px 0px;
}
.dashboard .dashtop .docs{
	margin:20px 0px;
}
.admin-panel {
	background-color: #92C65F;
	border: 3px solid #EDEDED;
	border-top:0px;
	padding:10px 0px 5px 0px;
}
.admin-panel:empty { display:none; }


.dashboard #hero {
	padding-top:20px;
}
.dashboard h3 {
	font-size:26px;
	line-height:29px;
}
.dashboard h3 span {
	color:#759b48;
	line-height:29px;
	font-size:15px;
}
.dashboard .icon {
	width:33px;
	height:17px;
	background-color:#70df7e;
	color:white;
	text-align:center;
	font-size:15px;
	position:absolute;
	margin-top:10px;
	text-transform:uppercase;
	padding-top:18px;
	padding-bottom:6px;
	border:1px solid #70ae4b;
}
.dashboard .icon:before {
    content:"";
    position:absolute;
    top:-1px;
    right:-1px;
    border-width:0 8px 8px 0; /* This trick side-steps a webkit bug */
    border-style:solid;
    border-color:#fff #fff #70df7e #70df7e; /* A bit more verbose to work with .rounded too */
    background:#FFF; /* For when also applying a border-radius */
    display:block; width:0; /* Only for Firefox 3.0 damage limitation */
    /* Optional: shadow */
    -webkit-box-shadow:0 1px 0px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
       -moz-box-shadow:0 1px 0px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
            box-shadow:0 1px 0px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
}
/*.dashboard .icon.c2{background-color:#e00c61;}
.dashboard .icon.c3{background-color:#0a934e;}
.dashboard .icon.c4{background-color:#f69c00;}
*/
.dashboard .feature2 {
	height:80px;
}
.dashboard .feature2 h4,
.dashboard .feature2 p {
	margin-left: 45px;
	width: 80%;
}
.dashboard .feature2 h4 {
	line-height: 20px;
	font-size:16px;
	margin-bottom:0px;
	margin-top:0px;
}
.dashboard .feature2 h4 a {
	color:#222;
}
.dashboard .feature2 p {
    font-size:12px;
	margin-bottom:10px;
}
.dashboard .dashtop .btn {
	font-size:16px;
	margin-top:7px;
	padding:10px 22px 10px 22px;
}
.dashboard .section_header{
    margin-top:0px;
    margin-bottom:20px;
}
.dashboard .mini-activity {
	background-color:#f7f7f7;
	margin-top:13px;
}
.dashboard .mini-activity h3 {
	background:#f7f7f7;
	color:#757c7e;
	font-size:16px;
	padding:4px 0px 4px 20px;
	margin-top:0px;
}
.dashboard .mini-activity ul li {
	list-style-image: url('../img/bullet.png');
	margin-left:15px;
	font-size:12px;
	margin-right:15px;
}
.dashboard .mini-activity ul {
	min-height:260px;
}
.dashboard table .icon {
	margin-top:0px;
	width:30px;
	height:21px;
	padding-top:6px;
}
.dashboard table .doc-title {
	font-size:16px;
	margin-left:40px;
	line-height:30px;
}
.dashboard table td {
	line-height:30px;	
}

/* Signin Modal
-------------------------------------------------- */
#signin-modal {
	background-color: transparent;
	outline-width: 0px;
	border-radius: 0px;
}
#signin-modal .startup, #signin-modal .lawyer {
	color:white;
	padding:20px 30px 30px 30px;
}
#signin-modal .startup div, #signin-modal .lawyer div {
	background: url('/static/img/coffee-tie.png') no-repeat;
	width:70px;
	height:104px;
	margin:0 auto;
	margin-bottom: 10px;
}
#signin-modal .lawyer div {
	background-position: 0px -105px;
}
#signin-modal .startup {
	width:210px;
	background-color:#f88172;
	float:left;
	text-align: center;
}
#signin-modal .startup .btn {
	background-color:#f56b5e;
	margin-top:7px;
	padding:3px 14px 3px 8px;
}
#signin-modal .lawyer {
	width:210px;
	float:right;
	background-color:#00d4ea;
	text-align: center;
}
#signin-modal .lawyer .btn {
	background-color:#03c2d6;
	margin-top:7px;
	padding:3px 14px 3px 8px;
}

/* Btn
-------------------------------------------------- */

.btn-blue {
	background-color: #00d4e9;
	color:white;

}
.btn-blue:hover {
	background-color: #11b2c2;
	color: white;
}
.btn-red {
	background-color:#f7877c;
	border:1px solid #e76356;
	color:white;
}
.btn-red:hover {
	background-color:#e76c60;
	color:white;
}
.btn-group.open .btn.dropdown-toggle {
	background-color:#e76c60;
}
.btn-red .caret {
	  display: inline-block;
	  width: 0;
	  height: 0;
	  vertical-align: top;
	  border-top: 4px solid #FFF;
	  border-right: 4px solid transparent;
	  border-left: 4px solid transparent;
	  content: "";
	}
.btn-onblack {
background:transparent;
color:white;
border:1px solid white;
border-radius: 0px;	
}
.btn-onblack:hover {
background:white;
color:black;
border:1px solid white;
}


/* Tables
-------------------------------------------------- */
.table th{
	text-align: center;
}

.table th, .table td {
	font-size:13px;
}
legend {
	color:#606060;
	margin-top:20px;
}
.table.table-center *{
	text-align: center;
}


/* Nav Pills
-------------------------------------------------- */

.nav-pills > li > a {
    border-radius: 0;
}


.nav-pills > .active > a, .nav-pills > .active > a:hover {
    background-color: #6adc7d;
    background: none;
    font-weight: bold;
    color: #4d5456;
}



/* Nav Tabs
-------------------------------------------------- */
/*
.nav {
	margin-bottom:0px;
}*/

/*
.nav li {
	font-size:16px;
	margin-bottom:-4px;
}
*/
.nav-tabs {
	border-bottom-color:#6adc7d;
	border-bottom-width:3px;
	margin-bottom:0px;
}
.nav-tabs > li > a {
	color:#a4a8ab;
	position: relative;
	font-size: 15px
}
.nav-tabs li .unread_counter {
	position:absolute;
	top:-10px;
	left:50%;
	margin-left:-10px;
	width:11px;
	text-align: center;
	padding:4px 4px 4px 4px;
	line-height: 11px;
	font-size:12px;
}
.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
	background-color: #6adc7d;
	color:white;
	border-color: #6adc7d;
	border-radius: 0px 0px 0px 0px;
}
.nav-tabs a:hover {
	border-radius: 0px 0px 0px 0px;
	color:#666;
}
.table th {
	border:0px 0px 0px 0px;
	background-color:#f5f6f6;
	font-weight:normal;
}
.table th, .table td {
	border-top-color:#F9F9F9;
}

/* Drafting
-------------------------------------------------- */
/* ==== moved to smoothe.css ==== */

/* Icons
-------------------------------------------------- */
.i_bars, 
.i_bookmark, 
.i_chart, 
.i_cloud, 
.i_facebook, 
.i_loading, 
.i_movil, 
.i_shuffle, 
.i_twitter, 
.i_youtube{
	background: url('../img/icons.png') no-repeat;
	display: inline-block;
}
.i_bars{
	background-position: 0 -303px ;
	width: 18px;
	height: 16px;
}
.i_bookmark{
	background-position: 0 -253px ;
	width: 18px;
	height: 13px;
}
.i_chart{
	background-position: 0 -49px ;
	width: 22px;
	height: 24px;
}
.i_cloud{
	background-position: 0 0;
	width: 32px;
	height: 21px;
}
.i_facebook{
	background-position: 0 -401px ;
	width: 12px;
	height: 24px;
}
.i_loading{
	background-position: 0 -202px ;
	width: 21px;
	height: 14px;
}
.i_movil{
	background-position: 0 -99px ;
	width: 17px;
	height: 25px;
}
.i_shuffle{
	background-position: 0 -151px ;
	width: 18px;
	height: 12px;
}
.i_twitter{
	background-position: 0 -351px ;
	width: 24px;
	height: 18px;
}
.i_youtube{
	background-position: 0 -452px ;
	width: 24px;
	height: 23px;
}

/* Social icons
-------------------------------------------------- */
i.social {
	background: url('../img/social_icons.png') no-repeat 0 0;
	width: 33px;
	height: 33px;
	display: inline-block;
}
i.tw { background-position: 0px 0px; }
i.fb { background-position: -39px 0; }
i.flickr { background-position: -78px 0; }
i.in { background-position: -117px 0; }
i.gp { background-position: -156px 0; }
i.pin { background-position: -195px 0; }
i.tumblr { background-position: -233px 0; }
i.wp { background-position: 0 -51px; }
i.yt { background-position: -39px -51px; }
i.vim { background-position: -78px -51px; }
i.picasa { background-position: -116px -51px; }
i.forrst { background-position: -156px -51px; }
i.rss { background-position: -194px -51px; }
i.myspace { background-position: -233px -51px; }


.hallotoolbar{ display:none!important;}


/* Messaging
-------------------------------------------------- */

.hero {
	padding-top: 65px;
	background: #4ad1e5; /* Old browsers */
	height: auto;
	padding-bottom: 55px;
	color:white;
	margin-bottom:40px;
}
.hero h1 {
	font-size:44px;
	line-height:60px;
}
.hero-thin {
    padding-top: 2.3em;
    padding-bottom: 2.2em;
}

#postman_menu a [class^="icon-"] {
    margin-right: 4px;
}

#postman_menu .active a  [class^="icon-"] {
    background-image: url('/static/bootstrap/img/glyphicons-halflings.png');
}

.navbar-inner .container {
    position: relative;
}
.profile-nudge {
    color: #fff;
    position: absolute;
    top: 44px;
    right: 0px;
    background: #e76356 /*#ff7e00*/;
    padding: .5em 1.2em .5em 1em;
    font-weight: bold;
    border-radius: .2em;
    text-align: center;
}

.profile-nudge i {
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 1s;
    -webkit-animation-iteration-count: infinite;
}

.profile-nudge a, .profile-nudge a:hover {
    color: #fff;
    text-decoration: none;
}

/* Basic responsive */

@media screen and (max-width: 984px) {
     body {
          padding-top:0px;
		  
     }
	 .navbar-fixed-top, .navbar-fixed-bottom {
		 position:relative;
	 }
}

