.callout h4 {
    color: rgb(51, 51, 51);
    font-family: 'Helvetica Neue';
    font-weight: 500;
    margin-top: 0;
}

.transaction-details {
    float: left;
    border:1px solid #f88172;
    padding:10px;
    width:100%;
}

.transaction-details h2 {
    color: #383b3c;
    font-family: helveticaneue;
    font-weight: 300;
}

.intake-progress {
    margin-top: 1.5em;
}

p.intake-save a {
    display: block;
    margin: 1em 0;
    font-size: .8em;
}

.transaction-details .price {
    font-size: 1.5em;
    color: #49d1e4;
}

.lawyers-have h4 {
    color: #383b3c;
    margin-bottom: 1.2em;
}

.lawyers-have ul li {
    margin-bottom: 1em;
    color: #757c7e;
}

.customer-list span {
    display: inline-block;
    min-width: 200px;
}

.customer-list dd {
    margin-bottom: .5em;
}


.founder-block .cloned-region .close {
    margin: 15px -15px 0 0;
}
.founder-block .cloned-region legend {
    display: none;
}
@media (min-width: 992px) {
    .founder-group {
        margin: 10px 0;
    }
    .founder-group .row {
        float: left;
        margin: 10px 0;
        width: 50%;
    }
    .founder-block .btn {
        margin-right: 15px;
    }
}
