{% extends 'base.html' %}{% load crispy_forms_tags company_tags %}

{% block head %}
    {{ wizard.form.media }}
{% endblock %}

{% block css %}
    <link href="{{ STATIC_URL }}css/theme/transaction.css" rel="stylesheet" charset="utf-8"/>
{% endblock %}

{% block prebody %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="span6">
            <h4>Intake Questionnaire</h4>
        </div>
        <div class="span6">
            <p class="pull-right intake-save"><a href="#">Save and complete later</a></p>
        </div>
    </div>
    <div class="row">
        <div class="span8">
            <h1>Existing documentation</h1>
        </div>
        <div class="span4">
            <div class="progress progress-striped intake-progress">
                <div class="bar" style="width: {{ wizard.steps.index|as_percentage_of:wizard.steps.count }};"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <h2>FILE UPLOAD AREA HERE</h2>
        </div>
    </div>
    <div class="row">
        <div class="span11 offset1">
            <form id="" data-validate="parsley" action="" method="POST" class="form-horizontal">{% csrf_token %}
                {{ wizard.management_form }}
                {% if wizard.form.forms %}
                    {{ wizard.form.management_form }}
                    {% for form in wizard.form.forms %}
                        {{ form|crispy }}
                    {% endfor %}
                {% else %}
                    {{ wizard.form|crispy }}
                {% endif %}
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-success">Next</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}