{% extends 'base_bsv3.html' %}{% load url from future %}
{% load crispy_forms_tags startup_tags transaction_tags %}

{% block head %}
    {{ wizard.form.media }}
{% endblock %}

{% block css %}
    <link href="{{ STATIC_URL }}css/theme/transaction.css" rel="stylesheet" charset="utf-8"/>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row animated">
        <h1>What do you need?</h1>
    </div>
    <div class="row">
        <div class="col col-lg-8">
        <p>Please select which transaction(s) you require:</p>
            {% transactions transaction='SF' %}
            {% transactions transaction='CS' %}
            {% transactions transaction='ES' %}
            <a href="#" class="btn btn-default">Not sure where to start?</a>
            <btn id="continue" class="btn btn-primary btn-extra-margin pull-right">Continue</btn>
        </div>
        <div class="col col-lg-4">
            <div class="well lawyers-have">
                <h4>LawPal lawyers have</h4>
                <ul>
                    <li>7 years + experience</li>
                    <li>Available to meet you locally</li>
                    <li>Vetted by LawPal with a track</li>
                    <li>record serving startups</li>
                    <li>Approved by you before they</li>
                    <li>start work</li>
                    <li>Agreed to a ﬁxed price in advance</li>
                </ul>
            </div>
        </div>
    </div>

    <form method="POST">{% csrf_token %}
        {{ wizard.management_form }}
        {% if wizard.form.forms %}
            {{ wizard.form.management_form }}
            {% for form in wizard.form.forms %}
                {{ form|crispy }}
            {% endfor %}
        {% else %}
            {{ wizard.form|crispy }}
        {% endif %}
    </form>
</div>
{% endblock %}

{% block js %}
    <script>

        var selected_transactions = [];

        function transaction_business_logic(element) {
            var elm = $(element).attr('data-transaction');
            if (elm === 'SF') {
                transaction_deselection($('.transaction-choice[data-transaction="ES"] .btn'));
            } else if (elm === 'ES') {
                transaction_deselection($('.transaction-choice[data-transaction="SF"] .btn'));
            }
            transaction_selection(element.find('.btn'));
        }

        function transaction_selection(element) {
            element.addClass('active btn-success').html('<i class="icon-ok icon-white"></i>');
            selected_transactions.push(element.parent().attr('data-transaction'));
        }

        function transaction_deselection(element) {
            element.removeClass('active btn-success').html('Add');
            var index = selected_transactions.indexOf(element.parent().attr('data-transaction'));
            if (index > -1) {
                selected_transactions.splice(index, 1);
            }
        }

        $(document).ready(function () {

            $('.transaction-choice .btn').bind('click', function () {
                var elm = $(this);
                if (!$(this).hasClass('active')) {
                    // Check if Note financing and disable Equity financing if true (and visa versa)
                    transaction_business_logic(elm.parent());
                } else {
                    transaction_deselection(elm);
                }
            });

            $('#continue').click(function () {
                $('#id_packages-transaction_type').attr('value', selected_transactions);
                $('form').submit();
            });
        });

    </script>
{% endblock %}
