{% extends "postman/base.html" %}{% load comments engagement_tags %}

{% block page_title %}Engagement Request{% endblock %}

{% block content %}
<div class="row">
    <div class="span7">
        <div class="alert engagement-status">
            <span>Request status: <strong>{{ object.status }}</strong></span>
        </div>
        <h3 class="engage-detail-title">
            {% if user.profile.is_founder %}
                Request to: {{ object.lawyer.user.get_full_name }}
            {% else %}
                Request from: {{ object.founder.user.get_full_name }}
            {% endif %}
        </h3>
        <span>{{ object.date_created }}</span>
        <hr />

        {% render_comment_form for object %}
        <hr>
        <h5>Conversation history (most recent at the top)</h5>
        {% render_comment_list_reversed for object %}
        {% engagement_intro enagement=object %}
    </div>
    <div class="span3 side-info-container">
        <div class="well">
            {% if user.profile.is_founder %}
            <div class="profile-card" data-username="{{ object.lawyer.user.username }}">&nbsp;</div>
            {% else %}
            <div class="startup-profile-card" data-username="{{ object.startup.slug }}">&nbsp;</div>
            <hr/>
            <div class="profile-card" data-username="{{ object.founder.user.username }}">&nbsp;</div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fluent_comments/css/ajaxcomments.css" />
<script type="text/javascript" src="{{ STATIC_URL }}fluent_comments/js/ajaxcomments.js"></script>
<script>
/**
* Setup the fluent-comments comment_controls
* to determine setup and useability
* @LawPal contributed this functionality
**/
var COMMENT_CONTROLS = {
    'is_reversed': true,
}
</script>
{% endblock %}