{% load url from future %}{% load i18n glynt_helpers crispy_forms_tags %}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Your Engagement with {{ lawyer.user.get_full_name }}</h3>
    {% if engagement %}
    <b>since:</b> {% moment engagement.date_created %}
    {% endif %}
</div>

<div class="modal-body">
    <form id="engage-lawyer-form" data-validate="parsley" class="form-horizontal" action="{% url 'engage:startup_lawyer' lawyer_pk=lawyer.pk %}" method="POST">{% csrf_token %}
        <h3>Your requirements</h3>
        <ul class="lawyer-options">
            <li id="engage_for_general">General Advice</li>
            <li id="engage_for_incorporation">Incorporation</li>
            <li id="engage_for_ip">IP Issues</li>
            <li id="engage_for_employment">Employment</li>
            <li id="engage_for_cofounders">Co-founders</li>
            <li id="engage_for_fundraise">Fund raise</li>
        </ul>
        {{ form|crispy }}
    </form>
</div>

<div class="modal-footer">
    <!-- js event handles this button -->
    <button id="submit-modal-message" class="btn btn-primary" type="submit">{% trans "Send" %}</button>
</div>

<style>
    .lawyer-options{
        text-align: left;
        -webkit-user-select: none;  /* Chrome all / Safari all */
        -moz-user-select: none;     /* Firefox all */
        -ms-user-select: none;      /* IE 10+ */
        user-select: none;
    }

    .lawyer-options li {
        text-align: center;
        display: inline-block;
        width: 235px;
        height: 45px;
        background: none;
        border: 2px solid #ccc;
        margin: .2em;
        line-height: 45px;
        cursor: pointer;
        border-radius: .2em;
        -webkit-transition: all 0.1s ease-in;
    }

    .lawyer-options li:hover {
        background: #eeeeee;
    }

    .lawyer-options li.selected,
    .lawyer-options li.selected:hover {
        background: #6adc7d;
        border-color: #339933;
    }
</style>

<script>
$(document).ready(function () {
    
    $('.lawyer-options li').click(function() {
        var elem = $(this);
        elem.toggleClass('selected');

        var target_data_attr = 'input[data-target="li#{target}"]'.assign({'target': elem.attr('id')});
        var target = $(target_data_attr);

        if (elem.hasClass('selected') == true) {
            target.prop('checked', true);
            target.val('True');
        } else {
            target.prop('checked', false);
            target.val('');
        }
    });

    $.each($('.lawyer-options li'), function(i,item){
        var elem = $(item);
        var target_data_attr = 'input[data-target="li#{target}"]'.assign({'target': elem.attr('id')});
        var target = $(target_data_attr);
        if (target.val() === 'True' && target.hasClass('selected') === false) {
            elem.addClass('selected');
        }
    })

    $('#submit-modal-message').click(function(event) {
        event.preventDefault();
        var link_object = $(this);
        var form = $('form#engage-lawyer-form');
        var url = form.attr('action');

        if ($( '#engage-lawyer-form' ).parsley('validate') ) {
            $.ajax({
                type: form.attr('method') || 'POST',
                url: url,
                data: form.serialize(),
                beforeSend: function(jqXHR, settings) {
                    // Pull the token out of the DOM.
                    jqXHR.setRequestHeader('X-CSRFToken', $('input[name=csrfmiddlewaretoken]').val());
                    link_object.attr('disabled', 'disabled')
                },
                success: function(data, textStatus, jqXHR){
                    GlyntJsMessages.add_message(data.message);
                },
                error: function(data, textStatus, jqXHR){
                    GlyntJsMessages.add_message("An error occurred: {error}".assign({'error': textStatus}), 'error');
                },
                complete: function() {
                    link_object.removeAttr('disabled')
                    GlyntJsMessages.show();
                    $('#engage-lawyer-modal').modal('hide');
                }
            });
        }
    });

});
</script>