{% load url from future %}
<div class="container">
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="#"><img src="{{ STATIC_URL }}img/logo-nav-white.png" alt="LawPal" title="LawPal"></a>
            <ul class="nav pull-right">
                <li><a href="{% url 'public:how-it-works' %}">How it works</a></li>
                <li><a href="{% url 'public:our-services' %}">Our services</a></li>
                <li><a href="{% url 'lawyer:list' %}">Meet our lawyers</a></li>
            </ul>
        </div>
    </div>
</div>