{% extends 'base-slim.html' %}

{% block page_title %}500 Internal Error{% endblock %}

{% block prebody %}

<div id="hero">
	<div class="container">
		<!-- starts carousel -->
		<div class="row">
			<div class="span12">
				<h1>Sorry, an internal error occured.</h1>
				<h2>This has been reported to our development team and they will investigate shortly.</h2>
				<br />
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block body %}
<!-- <div class="row-fluid">
	Not to worry, our technicians have been informed.
</div> -->
{% endblock %}