{% extends 'base-slim.html' %}

{% block page_title %}Sorry, an error occurred.{% endblock %}

{% block prebody %}
<div id="hero">
	<div class="container">
		<!-- starts carousel -->
		<div class="row">
			<div class="span12">
				<h1>Sorry an error occurred with your last request. This has been sent to our development team.</h1>
				<br>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block body %}
<!-- <div class="row-fluid">
	Not to worry, our technicians have been informed.
</div> -->
{% endblock %}