{% load i18n templatetag_handlebars %}
{% load thumbnail %}
{% load url from future %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/ml.css" rel="stylesheet">


    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/font-awesome.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}js/select2/select2.css" rel="stylesheet">

    <link href="{{ STATIC_URL }}css/errors.css" rel="stylesheet">
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/ui-lightness/jquery-ui.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]> 
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- <script src="{{ STATIC_URL }}js/jquery.min.js"></script> -->
    <!-- <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script> -->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">

    <link rel="apple-touch-icon" href="{{ STATIC_URL }}img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ STATIC_URL }}img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ STATIC_URL }}img/apple-touch-icon-114x114.png">
    {% block extrahead %}{% endblock %}
    {% block css %}{% endblock %}
    {% block head_js %}{% endblock %}
  </head>

  <body data-spy="scroll" data-target=".subnav" data-offset="50" class="preview">

  <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            {% if request.user.is_authenticated %}
              <a class="brand" href="/client">
                  <img src="/static/img/logo-nav.png">
              </a>
            {% else %}
              <a class="brand" href="/">
                  <img src="/static/img/logo-nav.png">
              </a>
            {% endif %}
            <form class="navbar-search pull-left" action="">
              <input type="text" class="search-query span2" placeholder="Search">
            </form>
            <p class="pull-right">
            <ul class="nav pull-right">
                {% if request.user.is_authenticated %}
                <li><a href="{% url 'client:dashboard' %}">{% trans 'Dashboard' %}</a></li>
                <li class="divider-vertical"></li>                    
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="{{ request.user.get_profile.get_mugshot_url }}" width="22" height="22"> {{request.user.first_name}} {{request.user.last_name}}<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                        <li><a id="user-profile" class="" href="{% url 'userena_profile_detail' username=request.user.username %}">{% trans 'Profile' %}</a></li>
                        <li><a id="user-logout" class="" href="{% url 'socialregistration:logout' %}">{% trans 'Logout' %}</a></li>
                  </ul>
                </li>
                {% else %}
                <li class=""><a id="user-signup-link" class="" href="{% url 'client:signup' %}">{% trans 'Sign Up' %}</a></li>
                <li><a id="user-explore-link" class="" href="#">{% trans 'Explore' %}</a></li>
                <li><a id="user-blog-link" class="" href="#">{% trans 'Blog' %}</a></li>
                <li><a id="user-login-link" class="" href="{% url 'client:login' %}">{% trans 'Sign In' %}</a></li>
                {% endif %}
            </ul>
            </p>
          </div> <!-- /container -->
      </div> <!-- /navbar-inner -->
  </div> <!-- /navbar -->

    <div class="container">
    {% if messages %}
    <ul id="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% block body %}{% endblock %}
    <div class="row" id="footer">
      <div class="span12">
        <hr />
        <p class="pull-right">Copyright 2012 WeAreML</p>
      </div>
    <div>
    </div>
  
    <script src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui-1.8.18.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-tooltip.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-collapse.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-transition.js"></script>
    <script src="{{ STATIC_URL }}js/select2/select2.js"></script>
    <script src="{{ STATIC_URL }}js/md5.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}knockoutjs/js/knockout-2.1.0.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}pagedown/Markdown.Converter.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}pagedown/Markdown.Sanitizer.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}pagedown/Markdown.Editor.js"></script>
    {% handlebars_js %}
    <script src="{{ STATIC_URL }}handlebars-helpers.js"></script>
    {% block js %}{% endblock %}
  </body>
</html>
