<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block page_title %}{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link href="{{ STATIC_URL }}bootstrap-v3/css/bootstrap.css" rel="stylesheet">

    <script src="{{ STATIC_URL }}temp/js/vendor/modernizr-2.6.2.min.js"></script>

    {% block css %}{% endblock %}
</head>
<body style="padding-top: 55px;">
    {% block navbar %}{% include 'partials/nav.html' %}{% endblock %}

    <div id="main" role="main" data-ride="steptacular">
        {% block scenes %}{% endblock %}
    </div>

    <form id="transaction-form" method="POST" role="form">
        {% csrf_token %}
        {{ form }}
    </form>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}temp/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
    <script src="{{ STATIC_URL }}bootstrap-v3/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/parsleyjs/parsley.min.js"></script>
    <script src="{{ STATIC_URL }}js/parsleyjs/parsley.extend.min.js"></script>

    <script src="{{ STATIC_URL }}js/jquery.steptacular.js"></script>
    <script src="{{ STATIC_URL }}js/intake-flow.js"></script>

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36042667-1']);
        _gaq.push(['_trackPageview']);
        {% if PROJECT_ENVIRONMENT != 'prod' %}
             _gaq.push(['_setCustomVar', 1, 'env', '{{ PROJECT_ENVIRONMENT }}',1]);
        {% endif %}
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</body>
</html>