{% extends 'default/base.html' %}
{% load i18n markup templatetag_handlebars %}
{% load url from future %}

{% block form %}
<form class="bind-document">

    {% for form in form_set %}
    <div id="form-group-{{ forloop.counter }}" class="form-group {% if not forloop.first %}hidden{% endif %}">
    {{form}}
    </div>
    {% endfor %}
    <div class="controls pull-right">
        <span data-bind="visible: App.formControls.showPrev()"><button id="btn-prev" class="btn btn-primary btn-mini btn-prev" type="button" data-bind="click: App.formControls.prev">Previous</button></span>
        <span data-bind="visible: App.formControls.showNext()"><button id="btn-next" class="btn btn-primary btn-mini btn-next" type="button" data-bind="click: App.formControls.next">Next</button></span>
    </div>

</form>
{% endblock %}

{% block document %}
<span id="document-md" data-bind="html: App.documentModel.renderedHTML()"></span>
{% endblock %}

{% block css %}
<style>
.hidden {
    display:none;
}
</style>
{% endblock %}

{% block js %}

{% include document %}

<script type="text/javascript">
$(document).ready(function(){

	function DocumentModel() {
		var self = this;

        self.textElementsList = ['text','textarea','hidden','select'];
		self.handlebarsElementId = ko.observable('script#js-{{ doc }}');
		self.documentTemplate = ko.observable($(self.handlebarsElementId()).html());
		self.renderedHTML = ko.observable('');

		self.context = ko.observable({
		    'company': {
		        'name': 'RuleNo1',
		        'url':'http://www.ruleno1.com'
		    },
		    'document': {
		        'title': 'Asassination Contract'
		    }
		});

        self.determineValue = function determineValue(input) {
			var value = null;
			var is_placeholder_value = true;
			if (input.val() != 'undefined' && input.val() != '') {
			    value = input.val();
			    is_placeholder_value = false;
			}else{
			    value = input.attr('placeholder');
		    }
            if (self.textElementsList.indexOf(input.attr('type')) >= 0) {
                //if (is_placeholder_value === true) {
                    value = '**' + value.toString() + '**';
                //}
            }
            if (self.textElementsList.indexOf(input.attr('type')) == -1) {
                
                if (input.attr('type') == 'checkbox') {
                    value = (input.attr('checked') == 'checked') ? true : false ;
                }
            }
            return value;
        }

		self.setContextItem = function setContextItem(input) {
			var context = self.context();
			var key = name = input.attr('data-hb-name');
			var value = self.determineValue(input);

            console.log(value)

        	context[key] = value;
        	self.context(context);
		}

		self.getContext = function getContext() {
			return self.context();
		}

        self.render = function render() {
        	var context = self.context();
		    var source   = self.documentTemplate();
			var template = Handlebars.compile(source);
			return template(context);
        }
	}

    function FormControls() {
        var self = this;

        self.maxFormSteps = ko.observable({{form_set|length}});
        self.currentFormStep = ko.observable(1);

        self.showNext = function showNext() {
            return (self.currentFormStep() == self.maxFormSteps())? false : true ;
        }
        self.showPrev = function showPrev() {
            return (self.currentFormStep() == 1)? false : true ;
        }

        self.determineStepVisibility = function determineStepVisibility(step) {

            $.each($('div.form-group'), function(index,form_group){
                form_group = $(form_group);

                if ((index+1) == step) {
                    form_group.css('display', 'block');
                    form_group.removeClass('hidden');
                }else{
                    form_group.css('display', 'none');
                    form_group.addClass('hidden');
                }
            });

        }

        self.next = function next() {
            var current = self.currentFormStep();
            var next = current+1;

            self.determineStepVisibility(next);

            self.currentFormStep(next);
        }
        self.prev = function prev() {
            var current = self.currentFormStep();
            var prev = current-1;

            self.determineStepVisibility(prev);

            self.currentFormStep(prev);
        }
    }

    /**
    * Primary view acts as a holder for the other views
    */
    function PageDocumentController() {
        var self = this;

        self.markdownConverter = new Markdown.Converter();
        self.targetDocumentId = ko.observable('span#document-md');
        self.documentModel = new DocumentModel();
        self.formControls = new FormControls();

        self.init = function init() {

        	var name = null;
        	var value = null;

        	$.each($('form.bind-document'), function(index, form) {
        		$.each($(this).find('input'), function(index, input) {
        			self.documentModel.setContextItem($(input));
        		});
                $.each($(this).find('select'), function(index, input) {
                    self.documentModel.setContextItem($(input));
                });
        	});

        	self.render();
        }

        self.render = function render() {
        	var md = self.documentModel.render();
        	var html = self.renderMarkdown(md);

        	//$(self.targetDocumentId()).html(html);
        	self.documentModel.renderedHTML(html)

        }
        self.renderMarkdown = function render(md) {
        	return self.markdownConverter.makeHtml(md);
        }

        self.changeContext = function changeContext(input) {
            self.documentModel.setContextItem(input);
            self.render();
        }

        self.init();
    }

    // ----- KO Instance -----
    App = new PageDocumentController()
    // ----- KO Bindings -----
    ko.applyBindings(App);

    $('.md-updater').live('change', function(event){
    	var name = $(this).attr('data-hb-name');
    	var value = $(this).val();
        App.changeContext($(this));
    })
});
</script>

{% endblock %}