{% extends 'default/base.html' %}
{% load i18n markup templatetag_handlebars %}
{% load url from future %}

{% block form %}
<form class="bind-document">{% csrf_token %}
    <div class="row">
    <div class="controls pull-right">
        <span data-bind="visible: App.formControls.showPrev()"><button id="btn-prev" class="btn btn-primary btn-mini btn-prev" type="button" data-bind="click: App.formControls.prev">Previous</button></span>
        <span data-bind="visible: App.formControls.showNext()"><button id="btn-next" class="btn btn-primary btn-mini btn-next" type="button" data-bind="click: App.formControls.next">Next</button></span>
    </div>
    </div>
    {% for form in form_set %}
    <div id="form-group-{{ forloop.counter }}" class="form-group {% if not forloop.first %}hidden{% endif %}">
        <h4>Step {{ forloop.counter }}. of {{ form_set|length }}</h4>
        <h4><span class="step-title"></span></h4>
        <br/>
        {{form}}
    </div>
    {% if forloop.last %}
    {% endif %}
    {% endfor %}
    <div id="form-group-{{ form_set|length }}" class="form-group hidden" data-bind="visible: App.formControls.isLastStep()">
        <div class="span3">
            <button id="btn-post-pdf" class="btn btn-success" type="button" data-bind="click: App.postDocument">Get Contract</button>
        </div>
    </div>
</form>
{% endblock %}

{% block document %}
<span id="document-md" data-bind="html: App.documentModel.renderedHTML()"></span>
{% endblock %}

{% block css %}
<style>
.hidden {
    display:none;
}
form div.form-group ul{
    list-style-type: none;
    list-style: none;
}
span.helptext {
display:none;
}
</style>
{% endblock %}

{% block js %}

{% include document %}

<script type="text/javascript">
$(document).ready(function(){

    function FormControls() {
        var self = this;

        self.actualFormSteps = ({{form_set|length}}+1);// account for end form
        self.maxFormSteps = ko.observable(({{form_set|length}}+1));// account for end form
        self.currentFormStep = ko.observable(1);

        self.showNext = function showNext() {
            return (self.currentFormStep() == self.maxFormSteps())? false : true ;
        }
        self.showPrev = function showPrev() {
            return (self.currentFormStep() == 1)? false : true ;
        }
        self.isLastStep = function isLastStep() {
            return (self.maxFormSteps() == self.currentFormStep()) ? true : false ;
        }

        self.determineNextStepIndex = function determineNextStepIndex(direction,next_step) {
            var ruleset = App.documentModel.getRuleByType('show_step_when');

            var target_element = null;
            var target_element_step_id = null;

            //@TODO basis for the ruleset evaluation routine
            for (var x=0; x < ruleset.length; x++) {

                if (ruleset[x].target_element != 'undefined') {
                    target_element = $(ruleset[x].target_element);
                    target_element_step_id = target_element.attr('id').replace(/[^\d]+/ig, '');
                }else{
                    target_element = null;
                    target_element_step_id = null;
                }

                for (var i=0; i < ruleset[x].ruleset.length; i++) {
                    for (context_var_name in ruleset[x].ruleset[i]) {
                        var required_value = ruleset[x].ruleset[i][context_var_name];

                        if (context_var_name in App.documentModel.context()) {
                            var current_context_value = App.documentModel.context()[context_var_name];

                            // console.log(context_var_name+': '+required_value +'=='+ current_context_value)
                            // console.log(target_element_step_id +'=='+ next_step)
                            if (required_value != current_context_value && target_element_step_id == next_step) {

                                if (direction == 'next') {
                                    next_step = next_step + 1;
                                }else{
                                    next_step = next_step - 1;
                                }
                                // the ruleset matches 1 or more of the rules
                                // and the step about to be shown is indeed the target step
                                return next_step;
                            }
                        }
                    }
                }
            }
            return next_step;
        }

        self.determineStepVisibility = function determineStepVisibility(direction,step) {

            new_step = self.determineNextStepIndex(direction,step);

            // if (new_step != step) {
            //     // reevaluate
            //     while(new_step != new_step) {
            //         new_step = self.determineNextStepIndex(direction,new_step);
            //         if (direction == 'next') {
            //             if (new_step >= self.actualFormSteps) {
            //                 break;
            //             }
            //         }else{
            //             if (new_step <= 1) {
            //                 break;
            //             }
            //         }
            //     }
            // }

            step = new_step;

            $.each($('div.form-group'), function(index,form_group){
                form_group = $(form_group);

                if ((index+1) == step) {
                    form_group.css('display', 'block');
                    form_group.removeClass('hidden');
                }else{
                    form_group.css('display', 'none');
                    form_group.addClass('hidden');
                }
            });
            return step;
        }

        self.next = function next() {
            var current = self.currentFormStep();
            var next = current+1;

            next = self.determineStepVisibility('next',next);
            self.currentFormStep(next);
        }
        self.prev = function prev() {
            var current = self.currentFormStep();
            var prev = current-1;

            prev = self.determineStepVisibility('prev',prev);

            self.currentFormStep(prev);
        }
    }

	function DocumentModel() {
		var self = this;

        self.textElementsList = ['text','textarea','hidden','select'];
        self.FalseValuesList = ['False','false',false,null,void 0,''];
		self.handlebarsElementId = ko.observable('script#js-{{ doc }}');
		self.documentTemplate = ko.observable($(self.handlebarsElementId()).html());
		self.renderedHTML = ko.observable('');

        self.visibilityRuleset = ko.observableArray([]);
        self.loopStepList = ko.observable({});

        function Rule(element,target_element,ruleset){
            var self = this;
            self.element = (element != undefined)?element:null,
            self.target_element = (target_element != undefined)?target_element:null,
            self.ruleset = (ruleset != undefined)?ruleset:[]
        };

        self.ruleSet = ko.observable({
            'show_step_when': [],
            'show_element_when': []
        });

		self.context = ko.observable({
		    'company': {
		        'name': 'RuleNo1',
		        'url':'http://www.ruleno1.com'
		    },
		    'document': {
		        'title': '{{ object.name }}'
		    }
		});

        self.getRuleByType = function getRuleByType(ruleset_type) {
            if (ruleset_type in self.ruleSet()) {
                return self.ruleSet()[ruleset_type];
            }
            return false;
        }

        self.setRule = function setRule(element,ruleset) {
            var rule = new Rule(element);
            for (r in self.ruleSet()) {
                if (r in ruleset) {
                    if (r == 'show_step_when') {
                        rule.target_element = $(element.closest('div.form-group')[0]);
                    }
                    rule.ruleset.push(ruleset[r]);
                    self.ruleSet()[r].push(rule);
                }
            };
        }

        function LoopStep(form_fieldset, hide_from_element, iteration_title){
            var self = this;
            self.form_fieldset = (form_fieldset != undefined)?form_fieldset:null;
            self.hide_from_element = (hide_from_element != undefined)?hide_from_element:null;
            self.iteration_title = (iteration_title != undefined)?iteration_title:'Item';
            self.valid_fieldtypes = ['input', 'text','select','textarea','radio','checkbox']
            self.repeatable_fields = [];
            self.repeatable_fieldset = null;
            self.currentLoopSet = {}
            self.hb_loop_ob_container = ko.observableArray([]);

            self.isValidInputType = function isValidInputType(element_type) {
                if ($.inArray(element_type, self.valid_fieldtypes) != -1) {
                    return true;
                }
                return false;
            }

            self.getElementType = function getElementType(element) {
                var element_type = element.attr('type');
                if (element_type == undefined) {
                    // textarea?
                    element_type = element.prop('type');
                }
                return element_type;
            }

            self.showIteration = function showIteration(index) {
                if (self.repeatable_fieldset === null) {
                    // not exists create it
                    fieldset = $('<fieldset class="loop" style="display:none;"><legend>&nbsp;</legend>');
                    for (f in self.repeatable_fields) {
                        field = $(self.repeatable_fields[f]);
                        field.css('display','');
                        fieldset.append(field);
                    }
                    self.repeatable_fieldset = fieldset;
                }

                // @TODO remove redundant items from the list, to allow fro increase and decrease of index
                // ruleset if they reduce ie.. 5 to 2 then 3,4,5 are deleted
                // @TODO make methods
                var fieldsets = self.form_fieldset.find('fieldset');
                var hb_base_ob = {};

                for (var c=1; c <= index; c++) {
                    if (c in self.currentLoopSet) {
                        // make it visible again
                        fieldset = self.form_fieldset.find('#set-'+c);
                        fieldset.css('display','');
                        legend = fieldset.find('legend');
                        legend.html(self.iteration_title + '&nbsp;' + c); // @TODO need to put real title name here

                        // loop over element set of inputs (that are valid)
                        hb_ob = $.extend({}, hb_base_ob);
                        hb_ob['id'] = self.iteration_title.toLowerCase() +'_'+ c;
                        fieldset.children().each(function(index,element){
                            element = $(element);
                            element_type = self.getElementType(element);
                            
                            if (self.isValidInputType(element_type) === true) {
                                App.documentModel.setContextItem(element);
                                hb_ob[element.attr('name')] = element.val();
                            }
                        })
                        self.hb_loop_ob_container()[c] = hb_ob;
                    }else{
                        // deep copy the set
                        fieldset = self.repeatable_fieldset.clone();
                        // set element attribs
                        fieldset.css('display','block');
                        fieldset.attr('id', 'set-'+c)
                        legend = fieldset.find('legend');
                        legend.html(self.iteration_title + '&nbsp;' + c); // @TODO need to put real title name here

                        // loop over element set of inputs (that are valid)
                        hb_ob = $.extend({}, hb_base_ob);
                        hb_ob['id'] = self.iteration_title.toLowerCase() +'_'+ c;

                        fieldset.children().each(function(index,element){
                            element = $(element);
                            element_type = self.getElementType(element);
                            
                            if (self.isValidInputType(element_type) === true) {
                                // update id to be unique
                                old_id = element.attr('id');
                                new_id = old_id + '_' + c;
                                element.attr('id', new_id);
                                // update name to be unique
                                old_name = element.attr('name');
                                new_name = old_name + '_' + c;
                                element.attr('name', new_name);
                                // update hb-name so that we get correct context variables
                                element.attr('data-hb-name', new_name);

                                // set the context params
                                App.documentModel.setContextItem(element);

                                hb_ob[old_name] = element.val();
                            }
                        });
                        self.form_fieldset.append(fieldset);
                        self.currentLoopSet[c] = true;
                        self.hb_loop_ob_container().push(hb_ob);
                    }
                }

                // @TODO make method
                for (var c=index; c <= fieldsets.length; c++) {
                    // hide these elements
                    // $(fieldsets[c]).remove();
                    $(fieldsets[c]).css('display','none');
                    // @FIXME hack
                    //delete self.hb_loop_ob_container()[c];
                }

                // set array grouping context variable to allow handlebarsjs to loop
                var hb_loop_key = 'loop_' + self.iteration_title.toLowerCase();
                App.documentModel.setContextItemByForce(hb_loop_key, self.hb_loop_ob_container());
                App.render();
            }

            self.init = function init(){
            // loop over form elements find the from element and hide all those after
                var found = false;
                self.form_fieldset.children().each(function(index,element){
                    if ($(element).attr('id') == $(hide_from_element).attr('id')) {
                        found = true;
                    }else{
                        if (found == true) {
                            $(element).hide();
                            self.repeatable_fields.push($(element));
                        }
                    }

                });
            }

            self.init();
        };

        self.showLoopStep = function showLoopStep(element, num) {
            var formset_id = $($(element).closest('div.form-group')[0]).attr('id');
            self.loopStepList()[formset_id].showIteration(num);
        }

        self.setLoopStep = function setLoopStep(form_fieldset, hide_from_element, iteration_title) {
            var formset_id = $($(hide_from_element).closest('div.form-group')[0]).attr('id');
            self.loopStepList()[formset_id] = new LoopStep(form_fieldset, hide_from_element, iteration_title);
        }

        self.slugify = function slugify(text) {
            if (typeof text == 'boolean') {
                text = (text === true)?'true':'false';
            }else{
                text = text.replace(/[^_-a-zA-Z0-9,&\s]+/ig, '');
                //text = text.replace(/-/gi, "_");
                text = text.replace(/\s/gi, "-");
            }
            return text.toLowerCase();
        }

        self.assertElementIsVisibleWhen = function assertElementIsVisibleWhen(key, value) {
            if (key in self.context()) {
                var context_value = self.context()[key];
                if (context_value == value) {
                    return true;
                }else{
                    // hide the relavant object
                }
            }
            return false;
        }

        self.determineValue = function determineValue(input) {
			var value = null;
			var is_placeholder_value = true;
			if (input.val() != 'undefined' && input.val() != '') {
			    value = input.val();
			    is_placeholder_value = false;
			}else{
			    value = input.attr('placeholder');
		    }

            if (self.textElementsList.indexOf(input.attr('type')) >= 0 || self.textElementsList.indexOf(input.prop('type')) >= 0) {
                    value = '_**' + value.toString() + '**_';
            }

            if (self.textElementsList.indexOf(input.attr('type')) == -1) {
                
                if (input.attr('type') == 'checkbox') {
                    value = (input.attr('checked') == 'checked') ? true : false ;
                    self.setTemplateHelperValues(input);
                }
                if (input.attr('type') == 'radio') {
                    value = false;
                    if (input.attr('checked') == 'checked') {
                        value = input.val();
                        self.setTemplateHelperValues(input);
                    }
                }
            }

            self.setTemplateHasHelperValues(input, value, is_placeholder_value);

            return value;
        }

        self.setTemplateHasHelperValues = function setTemplateHasHelperValues(input, value, is_placeholder_value) {
            var key = 'has_' + input.attr('data-hb-name');
            var has_this_value = (self.FalseValuesList.indexOf(value) >= 0 || is_placeholder_value === true)? false : true ;
            self.setContextItemByForce(key, has_this_value);
        }

        self.setTemplateHelperValues = function setTemplateHelperValues(input) {
            // set custom
            var value = input.val();
            var slug = self.slugify(input.attr('data-hb-name'));
            var value_slug = self.slugify(value);
            var key = '_' + slug + '_' + value_slug;
            var found = false;

            self.setContextItemByForce(key, true);

            for (context_key in self.context()) {
                if (context_key.indexOf(slug) >= 0) {
                    // found it
                    if (context_key != key) {
                        self.setContextItemByForce(context_key, false);
                    }
                }
            }
        }

		self.setContextItem = function setContextItem(input) {
            // only allow if the data-hb-name is set
            if (typeof input.attr('data-hb-name') == 'string') {
    			var context = self.context();
    			var key = name = input.attr('data-hb-name');
    			var value = self.determineValue(input);

            	context[key] = value;
            	self.context(context);
            }
		}

        self.setContextItemByForce = function setContextItemByForce(key,value) {
            var context = self.context();
            context[key] = value;
            //console.log('Force - key: '+key+' value:'+value)
            self.context(context);
        }

        self.render = function render() {
        	var context = self.context();
		    var source   = self.documentTemplate();
			var template = Handlebars.compile(source);
			return template(context);
        }
	}

    /**
    * Primary view acts as a holder for the other views
    */
    function PageDocumentController() {
        var self = this;

        self.markdownConverter = new Markdown.Converter();
        self.targetDocumentId = ko.observable('span#document-md');
        self.documentModel = new DocumentModel();
        self.formControls = new FormControls();

        self.setGlyntRuleset = function setGlyntRuleset() {
            // loop over lements looking for rulesets
            $('form.bind-document input[data-glynt-rule]').each(function(index,element){
                var rules = eval($(element).attr('data-glynt-rule'));
                rules = rules[0];// javascript json weirdness
                self.documentModel.setRule($(element), rules);
            });
            $('form.bind-document [data-glynt-loop_step]').each(function(index,element){
                var form_fieldset = $(element).closest('div.form-group');
                var data = eval($(element).attr('data-glynt-loop_step'))[0];
                var hide_from_element = $('[name='+ data['hide_from'] +']')[0];
                var iteration_title = data['iteration_title'];
                
                self.documentModel.setLoopStep(form_fieldset, hide_from_element, iteration_title);
            });
        }

        // @TODO apply rulesets
        self.applyGlyntRuleset = function applyGlyntRuleset() {
            var current_context = self.documentModel.context();
            var ruleset = self.documentModel.getRuleByType('show_step_when');

            var target_element = null;
            var target_element_step_id = null;

            var callback = null;
            var required_value = null;
            var current_context_value = null;

            for (var x=0; x < ruleset.length; x++) {

                if (ruleset[x].target_element == 'undefined') {
                    target_element = $(ruleset[x].target_element);
                    target_element_step_id = target_element.attr('id').replace(/[^\d]+/ig, '');
                }else{
                    target_element = null;
                    target_element_step_id = null;
                }

                for (var i=0; i < ruleset[x].ruleset.length; i++) {
                    callback = (ruleset[x].ruleset[i]['callback'] == 'undefined')? null : ruleset[x].ruleset[i]['callback'] ;
                    for (var context_var_name in ruleset[x].ruleset[i]) {

                        required_value = ruleset[x].ruleset[i][context_var_name];    
                        if (context_var_name in current_context) {
                            current_context_value = current_context[context_var_name];
                            if (required_value == current_context_value) {
                                // apply callback
                                console.log(callback)
                            }
                        }
                    }
                }
            }
        }

        self.setContext = function setContext() {
            // loop over all valid form elements and set them in the context
            var name = null;
            var value = null;

            $.each($('form.bind-document'), function(index, form) {
                $.each($(this).find('input'), function(index, input) {
                    self.documentModel.setContextItem($(input));
                });
                $.each($(this).find('textarea'), function(index, input) {
                    self.documentModel.setContextItem($(input));
                });
                $.each($(this).find('select'), function(index, input) {
                    self.documentModel.setContextItem($(input));
                });
            });
        }

        self.init = function init() {
            // main initializer
            self.setContext();
            self.setGlyntRuleset();
            self.applyGlyntRuleset();
        	self.render();
        }

        self.render = function render() {
        	var md = self.documentModel.render();
        	var html = self.renderMarkdown(md);

        	//$(self.targetDocumentId()).html(html);
        	self.documentModel.renderedHTML(html)

        }
        self.renderMarkdown = function render(md) {
        	return self.markdownConverter.makeHtml(md);
        }

        self.changeContext = function changeContext(input) {
            self.documentModel.setContextItem(input);
            self.render();
        }

        self.postDocument = function postDocument() {

            var csrf_token = $('form.bind-document:first').find('input[type=hidden]:first')
            var data = {
                csrfmiddlewaretoken: csrf_token.val(),
                md: self.documentModel.render()
            };

            $.ajax({
              type: 'POST',
              url: "{% url 'document:export' doc=doc %}",
              data: data,
            })
            .success(function(data, textStatus, jqXHR) {
            })
            .error(function() { 
            })
            .complete(function() {});
        }

        self.init();
    }

    // ----- KO Instance -----
    App = new PageDocumentController()
    // ----- KO Bindings -----
    ko.applyBindings(App);


    $('form.bind-document [data-glynt-loop_length]').live('change', function(event){
        var num = parseInt($(this).val());
        if (typeof num == 'number'){
            App.documentModel.showLoopStep($(this), num);
            // update knockoout bindings for new div
            ko.applyBindings(App);
        }
    });

    $('form.bind-document fieldset.loop').live('change', function(event){
        var id_index = $(this).attr('id');
        $(this).find('input,textarea').each(function(index,element){
            var target_id = $(element).attr('id');
            var target_value = $(element).val();
            var tmp = target_id.split('_');
            target_id = parseInt(tmp[tmp.length-1]);
            var target_name = $(element).attr('data-hb-name');
            if (target_name != undefined) {
                target_name = target_name.replace('_'+target_id,'')
            }
            if (typeof target_id == 'number' && target_name != undefined) {
                $.each(App.documentModel.loopStepList(), function(index,loopstep){
                    $.each(loopstep.hb_loop_ob_container(), function(index,element){
                        var item_id = element['id'].split('_');
                        item_id = parseInt(item_id[item_id.length-1]);
                        //console.log(target_value)
                        if (item_id === target_id) {
                            element[target_name] = target_value;
                        }
                    });
                })
            }
        })
        App.render();
    });

    $('form.bind-document span.step-title').each(function() {
        var element = $(this).closest('div').find('input[data-step-title]');
        $(this).text(element.attr('data-step-title'));
    });

    $('.md-updater').live('change', function(event){
        App.changeContext($(this));
    })
});
</script>

{% endblock %}