{% extends 'base.html' %}
{% load i18n markup %}
{% load url from future %}
{% load document_tags %}

{% block body %}
<!-- Masthead
================================================== -->

<div class="container">
	<div class="row">
		<div class="leader one span12">
		</div>
	</div>
	<div class="row">
		<div class="span12 desc">
			<br />
			<h1>Your people matter.</h1>
	        <h4>Create, sign and store all your Human Resources documents in one place.</h4>
			<div class="s">
				<a href="" class="btn btn-green btn-large">Sign In</a>  <a href="" class="btn btn-lgrey btn-large">Learn More</a> <!-- <small>It's totally free</small> --></h3>
			</div>
			<br />
			<br />
		</div>
	</div>
	<div class="row">
		<div class="leader two span12">
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<br />
			<div class="ball"></div>
			<br />
		</div>
		<br />
	</div>
	<div class="row">
		<div class="span12 pagination-centered">
			<h1>Create your HR Docs in minutes</h1>
			<br />
			<p>{{ PROJECT_NAME }} is the easiest way to generate, sign and store your complete suite of human <br/> resource documents.  Lorem ipsum, dollar ismit.</p>
			<br />
			<img src="http://placehold.it/640x480">
		</div>
	</div>
</div>

{% endblock %}