{% extends "base.html" %}{% load url from future %}{% load i18n %}

{% block title %}{% trans "Messaging" %}{% endblock %}

{% block prebody %}
<div class="hero hero-thin">
    <div class="container">
        <div class="row">
            <div class="span12">
                <h1>Your Messages</h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block body %}
  {% block content %}{% endblock %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/theme/engage.css">
{% endblock %}