{% extends "base.html" %}{% load url from future %}{% load i18n %}

{% block title %}{% trans "Messaging" %}{% endblock %}

{% block prebody %}
<div class="jumbotron-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="alt">Your Messages</h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block body %}
  {% block content %}{% endblock %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/theme/engage.css">
{% endblock %}