{% extends 'base.html' %}

{% block css %}
    <link href="{{ STATIC_URL }}css/theme/transaction.css" rel="stylesheet" charset="utf-8"/>
{% endblock %}

{% block prebody %}
{% endblock %}

{% block body %}
    <div class="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        This form will create an accurate picture of your transaction. When you start work with your attorney they will
        be able to hit the ground running.
    </div>
    <div class="row">
        <div class="span6">
            <h4>Intake Questionnaire</h4>
        </div>
        <div class="span6">
            <button class="btn btn-success pull-right">Save and complete later</button>
        </div>
    </div>
    <div class="row">
        <div class="span8">
            <h1>Your Contact Information</h1>
        </div>
        <div class="span4">
            <div class="progress progress-striped intake-progress">
                <div class="bar" style="width: 20%;"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span11 offset1">
            <form class="form-horizontal">
                <legend>Contact Information</legend>
                <div class="control-group">
                    <label class="control-label" for="">Address</label>

                    <div class="controls">
                        <textarea></textarea>
                        <span
                            class="help-block">Please enter your full street address including zip or post code.</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="">Contact email address</label>

                    <div class="controls">
                        <input type="email" id="" placeholder="hello@me.com">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="">Telephone number</label>

                    <div class="controls">
                        <input type="tel" id="">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="">Primary contact person</label>

                    <div class="controls">
                        <label class="radio">
                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                            me
                        </label>
                        <label class="radio">
                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                            Someone else
                        </label>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-success">Next</button>
                        <p class="intake-save"><a href="#">Save and complete later</a></p>

                    </div>
                </div>
            </form>
        </div>
    </div>


{% endblock %}