{% extends 'base.html' %}

{% block css %}
    <link href="{{ STATIC_URL }}css/theme/transaction.css" rel="stylesheet" charset="utf-8"/>
{% endblock %}

{% block prebody %}
    <div id="hero">
        <div class="container container-main">
            <div class="row animated fadeInRight">
                <div class="span12">
                    <h1>Onward!</h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="span12">
           <h3>We'll be happy to help you with that {{ user.first_name }}</h3>
        </div>
    </div>
{% endblock %}