{% extends 'base.html' %}{% load transaction_tags %}

{% block css %}
    <link href="{{ STATIC_URL }}css/theme/transaction.css" rel="stylesheet" charset="utf-8"/>
{% endblock %}

{% block prebody %}
    <div id="hero">
        <div class="container container-main">
            <div class="row animated fadeInRight">
                <div class="span12">
                    <h1>What do you need?</h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="span8">
            <p>Please select which transaction(s) you require:</p>
            {% transactions transaction='incorporation' %}
            {% transactions transaction='note-financing' %}
            {% transactions transaction='equity-financing' %}
            <a href="#" class="btn btn-extra-margin">Not sure where to start?</a>
            <a href="{% url 'transact:second_stage_tmp' %}" id="continue" class="btn btn-primary btn-extra-margin pull-right">Continue</a>
        </div>
        <div class="span4">
            <div class="well">
                <h4>LawPal lawyers have:</h4>
                <ul class="unstyled">
                    <li>7 years + experience</li>
                    <li>Available to meet you locally</li>
                    <li>Vetted by LawPal with a track</li>
                    <li>record serving startups</li>
                    <li>Approved by you before they</li>
                    <li>start work</li>
                    <li>Agreed to a ﬁxed price in advance</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>

        var selected_transactions = [];

        function transaction_business_logic(element) {
            var elm = $(element).attr('data-transaction');
            if (elm === 'note-financing') {
                transaction_deselection($('.transaction-choice[data-transaction="equity-financing"] .btn'));
            } else if (elm === 'equity-financing') {
                transaction_deselection($('.transaction-choice[data-transaction="note-financing"] .btn'));
            }
            transaction_selection(element.find('.btn'));
        }

        function transaction_selection(element) {
            element.addClass('active').html('<i class="icon-ok icon-white"></i>');
            selected_transactions.push(element.parent().attr('data-transaction'));
        }

        function transaction_deselection(element) {
            element.removeClass('active').html('Add');
            var index = selected_transactions.indexOf(element.parent().attr('data-transaction'));
            console.log(index);
            if (index > -1) {
                selected_transactions.splice(index, 1);
            }
        }

        $('.transaction-choice .btn').bind('click', function () {
            var elm = $(this);
            if (!$(this).hasClass('active')) {
                // Check if Note financing and disable Equity financing if true (and visa versa)
                transaction_business_logic(elm.parent());
            } else {
                transaction_deselection(elm);
            }
        });

        $('#continue').click(function() {
            alert('Selected items are: ' + selected_transactions);
        })

    </script>
{% endblock %}