.border{
  border:solid #c00 1px;
}
h2#document-title {
	font-weight:normal;
	text-align:normal;
	line-height:2em;
	margin-top:20px;
}
#element_help_text {
}

.done{
    background-color: #92C65F!important;
}

.doc_var, .doc_choice {
background-color: #fff5bb;
padding: 2px;
-webkit-touch-callout: text;
-webkit-user-select: text;
-khtml-user-select: text;
-moz-user-select: text;
-ms-user-select: text;
user-select: text;
min-width: 30px;
outline: none;
display: inline-block;
*display: inline;/* for IE7*/
*zoom:1;/* for IE7*/
min-width: 60px;
font-size: 15px;
color: 000;
transition: background-color 0.2s;
transition: background-color 0.2s;
-moz-transition: background-color 0.2s; /* Firefox 4 */
-webkit-transition: background-color 0.2s; /* Safari and Chrome */
-o-transition: background-color 0.2s; /* Opera */
text-align:center;
}
.doc_var.isModified{
/*	background-color:#e2f6cd;
*/}

.doc_select{
border:0px;
margin:15px 0px;
}

.doc_select .doc_select_option{
border-left:solid #F1F1F1 2px;
padding-left:2px;
margin:10px 0px;
min-height:40px;
color:#888;
background-color:#F9F9F9;

}

.doc_select .doc_select_option .doc_var.edit {
	background:#F1f1f1;
}

.doc_select_option.selected {
	background:none;
	color:black;
	border-left:none;
}
.doc_select .doc_select_option.selected .doc_var.edit {
	background:#fff5bb;
}


.selecta{
position:absolute;
margin-left:16px;
}
.selecta.btn {
	color:#777;
	background-color:none;
	background:none;
	border:none;
}
.selecta.btn:hover .icon-ok {
	color:green;
}
#element_help_text{
position:absolute;
display:none;
background-color:#757C7E;
border:solid #ccc 1px;
padding:13px;
z-index:25;
color:white;
}

div#sidebar {
  color:#fff;
  background-color:#F9F9F9;
}

div#progress {
    position:fixed;
    left: 0;
    top: 221px;
}
ul#glynt_progress {
list-style-type: none;
margin-left: 0px;
min-height: 100%;

}
ul#glynt_progress li {
height: 35px;
width: 35px;
background-color: #bfd547;
transition: width 0.2s;
transition: width 0.2s;
-moz-transition: width 0.2s; /* Firefox 4 */
-webkit-transition: width 0.2s; /* Safari and Chrome */
-o-transition: width 0.2s; /* Opera */
opacity:0.7;
color:#000;
background-image:none!important;
}
ul#glynt_progress li.choice {
background-color: #78c68e;
}
ul#glynt_progress li.select {
background-color: #CEEAF8;
}
ul#glynt_progress li.complete {
opacity: 1;
background-color: #bfd547;
}
ul#glynt_progress li:hover, .hover_state {
width: 65px;
opacity:0.9;
}

button#document-create {
	font-size:20px;
	padding:20px;
	width:510px;
}


body.preview #document {
	background-color:white;
	padding:60px;
}
body.preview #document * {
	font-size:15px;
	font-family:Helvetica;
}
body.preview #document h1 {
	text-transform:uppercase;
	font-size:17px;
}
body.preview #document ol {list-style-type:decimal;}
body.preview #document ol ol {list-style-type:lower-alpha;}
body.preview #documentol ol ol {list-style-type:lower-roman;}
body.preview #document li {margin-bottom:1em;}
body.preview #document ol ol, body.preview #document ol ol ol {margin-top:1em;}

/* This needs work */
body.preview #document ol.decimal {list-style-type:decimal;}
body.preview #document ol.decimal ol {list-style-type:decimal;}
body.preview #documentol ol.decimal ol {list-style-type:decimal;}


/*
AH NOTE : Some code to acheive 1.1.1 style numbering. Might not translate to PDF's so need to wait until that functionality is there before implementation.
body.preview OL { counter-reset: item }
body.preview LI { display: block; }
body.preview LI:before { content: counters(item, ".") " "; counter-increment: item }
*/
