.border{
  border:solid #c00 1px;
}
#element_help_text {
  
}
.doc_var, .doc_choice {
background-color: #fef58e;
padding: 2px;
-webkit-touch-callout: text;
-webkit-user-select: text;
-khtml-user-select: text;
-moz-user-select: text;
-ms-user-select: text;
user-select: text;
min-width: 30px;
border-bottom: 2px dotted #f492be;
outline: none;
display: inline-block;
*display: inline;/* for IE7*/
*zoom:1;/* for IE7*/
min-width: 60px;
font-size: 15px;
color: 000;
transition: background-color 0.2s;
transition: background-color 0.2s;
-moz-transition: background-color 0.2s; /* Firefox 4 */
-webkit-transition: background-color 0.2s; /* Safari and Chrome */
-o-transition: background-color 0.2s; /* Opera */
text-align:center;
}

.doc_select{
background-color:#CEEAF8;
border:0px;
margin:15px 0px;
}

.doc_select .doc_select_option{
border-left:solid #08C 2px;
padding-left:2px;
margin:10px 0px;
min-height:40px;
}
.doc_select_option.selected{
background-color:#007AB8;
}

.selecta{
position:absolute;
}
#element_help_text{
position:absolute;
display:none;
background-color:#CEEAF8;
border:solid #08C 1px;
padding:5px;
z-index:25;
}

div#sidebar {
  color:#fff;
  background-color:#F9F9F9;
}

div#progress {
/*position: fixed;*/
position:fixed;
width: 45px;
left: 0;
top:0;
}
ul#glynt_progress {
list-style-type: none;
margin-left: 0px;
min-height: 100%;

}
ul#glynt_progress li {
height: 35px;
width: 35px;
background-color: #bfd547;
transition: width 0.2s;
transition: width 0.2s;
-moz-transition: width 0.2s; /* Firefox 4 */
-webkit-transition: width 0.2s; /* Safari and Chrome */
-o-transition: width 0.2s; /* Opera */
opacity:0.7;
color:#000;
background-image:none!important;
}
ul#glynt_progress li.choice {
background-color: #78c68e;
}
ul#glynt_progress li.select {
background-color: #CEEAF8;
}
ul#glynt_progress li.complete {
opacity: 1;
background-color: #bfd547;
}
ul#glynt_progress li:hover, .hover_state {
width: 65px;
opacity:0.9;
}
