{% extends 'client/base.html' %}
{% load url from future %}
{% load i18n %}

{% block body %}

<!-- <h3>{% trans 'Documents' %}</h3>
<a id="create-document" href="{% url 'document:create' %}" class="btn btn-primary">{% trans 'New Doc' %}</a>
<dl id="available-document-list" class="dl-horizontal">
<dt>{% trans 'Available Documents' %}</dt>
<dd>
    <i>{% blocktrans %}Documents{% endblocktrans %}</i>
    <ul id="public-documents">

    </ul>
</dd> -->


<div class="row">
	<div class="span12">
		<h2>New Document
			<small>Documents available to create</small>
			</h2>
			<br />
			<div class="accordion" id="accordion2">
	            <div class="accordion-group">
	            	<div class="accordion-heading">
	                	<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
		                  New Starter Documents
		                </a>
	              	</div>
	              	<div id="collapseOne" class="accordion-body collapse in">
	                	<div class="accordion-inner">
		                	<div class="row contracts">
								<div class="span2">Employment Contract</div>
								<div class="span2">Employment Offer Letter</div>
								<div class="span2">Independent contractor agreement</div>
								<div class="span2">Company handbook</div>
								<div class="span2">Employment Agreement</div>
							</div>
		                </div>
	              	</div>
	            </div>
	            <div class="accordion-group">
	              <div class="accordion-heading">
	                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
	                  All HR Documents
	                </a>
	              </div>
	              <div id="collapseTwo" class="accordion-body collapse">
	                	<div class="accordion-inner">
		                	<div class="row contracts">
								<div class="span2">Employment Contract</div>
								<div class="span2">Employment Offer Letter</div>
								<div class="span2">Independent contractor agreement</div>
								<div class="span2">Company handbook</div>
								<div class="span2">Employment Agreement</div>
							</div>
						</div>
	              </div>
	            </div>
				 <div class="accordion-group">
		              <div class="accordion-heading">
		                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
		                  Beta Documents
		                </a>
		              </div>
		              <div id="collapseThree" class="accordion-body collapse">
		                	<div class="accordion-inner">
				                {% for d in public_document_list %}
				                <a href="{% url 'document:view' slug=d.slug %}">{{ d.name }}</a>, 
				                {% endfor %}

							</div>
		              </div>
		            </div>
	          </div>
	</div>
</div>
<hr/>
<div class="row">
        <div class="span12">
                <h2>Your Documents
                        <small>All of your generated documents</small>
                </h2>
                <br />
                <ul class="nav nav-tabs">
                  <li class="active">
                    <a href="#">All Documents</a>
                  </li>
                  <li><a href="#">Index Ventures</a></li>
                  <li><a href="#">Personal</a></li>
                  <li class="pull-right"><a href="#">Add Category</a></li>
                </ul>
                <br />
                <div class="row">
                        <div class="span12">
                            <ul class="thumbnails">
				                {% for d in my_document_list %}
                                <li class="span3">
                                  <div class="thumbnail">
                                    <img src="http://placehold.it/260x40" alt="">
                                    <div class="caption">
                                      <h5>{{ d.name }}</h5>
                                      <p>Between x and y.</p>
                                      <p><a href="{% url 'document:view' slug=d.slug %}" class="btn btn-info">Edit</a></p>
                                    </div>
                                  </div>
                                </li>
								{% endfor %}
                            </ul>
                        </div>
                </div>
        </div>
</div>
{% endblock %}