{% extends 'client/base.html' %}
{% load i18n humanize %}
{% load glynt_helpers activity %}
{% load templatetag_handlebars %}
{% load url from future %}

{% block bodyclass %}dashboard{% endblock %}

{% block navbar %}
    {% include 'partials/nav_dark.html' %}
{% endblock %}

{% block admin_panel %}
<div class="offset1 span2 pull-right">
<a href="{% url 'doc:create_template' %}" class="admin btn btn-link" id="toggle-docs">{% trans 'Create Template' %}</a>
</div>
{% endblock %}

{% block prebody %}
<div class="container">
    <div class="row dashtop">
        <div class="span8">
            <h1>Create a new document</h1>
			<h4>Choose from a popular document or</h4>
			<a href="#/list/templates" class="btn btn-large btn-red">View All Documents</a>
            <div class="features2 docs">
                <!-- features 2 -->
                <div class="row">
                  {% document_examples 4 %}
                </div>
            </div>
        </div>
        <div class="span4 mini-activity hidden-phone">
            <h3>{% trans 'Recent activity' %}</h3>
            <ul>
                {% user_activity_stream request.user 4 %}
            </ul>
        </div>
    </div>
	<hr />
</div>


<div class="container">
    <div class="row existing-docs">
        <div class="span12">
            <h2>Your documents</h2>
        </div>
        <div class="span12">
            <ul class="nav nav-tabs">
                <li class="active">
                	<a href="#/list/my_documents/all">{% trans 'My Documents' %}</a>
                </li>
                <li><a href="#/list/shared_documents/all">{% trans 'Shared Documents' %}</a></li>
                <!-- <li><a href="#"><i class="icon-briefcase"></i> AcmeCo Docs</a></li>
                <li><a href="#"><i class="icon-home"></i> Property A Docs</a></li>-->
            </ul>
        </div>

        <div id="my_docs_list" class="span12 view default">
            <div class="dash-panel">
                <table id="my-documents" class="table table-stripped table-border table-hover ">
                <tr>
                    <th>{% trans 'Document Name' %}</th>
                    <th>{% trans 'Date Created' %}</th>
                    <th>{% trans 'Status' %}</th>
                    <th><span class="pull-right">{% trans 'Action' %}</span></th>
                </tr>
                {% for d in my_document_list %}
                <tr>
                    <td class="document-title">
                    <div class="icon {% colorize_acronym d.source_document.acronym %}">{{ d.source_document.acronym|default:"?" }}</div> <a href="{% url 'document:my_review' pk=d.pk %}" rel="tooltip" title="{% trans 'Created by' %} {{ d.owner.get_profile.short_name|default:d.owner.username }}" class="doc-title">{{ d.name }}</a>
                </td>
                <td>
                    <span>{% moment d.created_at d.created_at %}</span>
                    </td>
                    <td class="document-status">
                    {% document_status d %}
                </td>
                    <td class="document-action">
                    <div class="btn-group pull-right">
                        <button class="btn btn-red dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i> <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                        <li><a id="edit-{{ d.pk }}" class="small" href="{% url 'doc:update_document' pk=d.pk %}">{% trans 'Edit' %}</a></li>
                        <li><a id="clone-{{ d.pk }}" href="#clone" data-url="{% url 'document:my_clone' pk=d.pk %}" data-pk="{{ d.pk }}" class="clone-my-document">{% trans 'Clone' %}</a></li>
                        <li><a id="export-{{ d.pk }}" href="{% url 'export:as_pdf' pk=d.pk %}" target="_BLANK" data-url="{% url 'export:as_pdf' pk=d.pk %}" data-pk="{{ d.pk }}" class="">{% trans 'Download PDF' %}</a></li>
                        <li><a id="export-{{ d.pk }}" href="{% url 'export:as_doc' pk=d.pk %}" target="_BLANK" data-url="{% url 'export:as_doc' pk=d.pk %}" data-pk="{{ d.pk }}" class="">{% trans 'Download DOC' %}</a></li>
                        <li><a id="export-{{ d.pk }}" href="{% url 'export:as_html' pk=d.pk %}" target="_BLANK" data-url="{% url 'export:as_html' pk=d.pk %}" data-pk="{{ d.pk }}" class="">{% trans 'Download HTML' %}</a></li>
                        <li><a id="delete-{{ d.pk }}" href="#delete" data-url="{% url 'document:my_delete' pk=d.pk %}" data-pk="{{ d.pk }}" class="delete-my-document">{% trans 'Delete' %}</a></li>
                        </ul>
                    </div>
                    </td>
                </tr>
                {% endfor %}
                </table>
            </div>
        </div>

        <div id="templates_list" class="modal hide fade view" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>{% trans 'Document Templates' %}</h3>
            </div>
            <div class="modal-body">
                <ul>
                    {% for d in public_document_list %}
                    <li>
                        <a class="template-document" href="{% url 'doc:create_document' pk=d.pk %}">{{ d.name }}</a>
                        {{ d.summary }}
                        {{ d.created_at }}
                        {{ d.last_modified }}
                        {{ d.doc_category.name }}
                        {{ d.doc_category.color }}
                        {% if user.is_staff %}
                        &nbsp;<a class="admin author_edit-document" href="{% url 'doc:update_template' pk=d.pk %}">edit</a>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block css %}
<style>
ul.activity{
	margin:0px;
	padding:0px;
	list-style: none;
}
ul.activity li{
	padding:5px 0px;
	border-bottom:solid #ccc 1px;
}
ul.activity li:last{
	border:0px;
}
</style>
{% endblock %}


{% block js %}
<script id="document-controls" type="text/javascript">
$(document).ready(function(){
    // ----- Document Template Select -----
    var app = $.sammy(function() {
        var self = this;
        self.views = $('div.view');
        self.nav = $('ul.nav-list li a');

        var hb_templates_source = $("script#template_list").html();
        var hb_templates_list = Handlebars.compile(hb_templates_source);

        self.get('#/', function() {
            self.redirect('#/list/my_documents/all');
        });

        self.get('#/list/my_documents/all', function() {
            self.show($('div#my_docs_list'));
        });
        self.get('#/list/shared_documents/all', function() {
            self.show($('div#shared_documents_list'));
        });

        self.get('#/list/templates', function() {
            var view = $('div#templates_list');
            self.show_modal(this, view);
        });

        self.hide_all = function hide_all() {
            self.nav.removeClass('selected');
            $.each(self.views, function(index, item) {
                $(item).hide();
            });
        };
        self.show = function show_view(view_list) {
            if ($.isArray(view_list) == false) {
                view_list = [view_list];
            }
            self.hide_all();
            $('[href="'+window.location.hash+'"]').addClass('selected');
            $.each(view_list, function(index, item) {
                item.show();
            });
        };
        self.show_modal = function show_modal(caller, view) {
            //this.hide_all();
            view.modal({show:true});
            view.on('show', function(){
                $(this).removeClass('hide');
                $(this).addClass('selected');
        });

        view.on('hide', function(){
            $(this).addClass('hide');
            $(this).removeClass('selected');
        });

        view.on('hidden', function(){
            caller.redirect('#/list/my_documents/all');
        });
    }
    });

// start the application
app.run('#/');

// ----- My Document list options -----
$('a.export-pdf').live('click', function(event){
    event.preventDefault();
    var data = {
        csrfmiddlewaretoken: '{{ csrf_raw_token }}',
        md: '',
        id: $(this).attr('data-pk')
    };

    $.ajax({
        type: 'POST',
        url: $(this).attr('data-url'),
        data: data,
    })
    .success(function(data, textStatus, jqXHR) {
        console.log(data)
    })
    .error(function() { 
        console.log('Error in Javascript event')
    })
    .complete(function() {});
});

$('a.delete-my-document').live('click', function(event){
    event.preventDefault();
    var self = $(this);
    var data = {
        csrfmiddlewaretoken: '{{ csrf_raw_token }}'
    };
    $.ajax({
        type: 'POST',
        url: $(this).attr('data-url'),
        data: data,
    })
    .success(function(data, textStatus, jqXHR) {
        data = data[0];
        var div = self.closest('div');
        var td = self.closest('td');
        var tr = self.closest('tr');
        deleted_doc = td.html()
        div.fadeOut('slow', function(){
            $(this).remove();
            td.html(data.message);
        });
    })
    .error(function(jqXHR, textStatus, errorThrown) { 
        console.log(jqXHR)
        console.log(textStatus)
        console.log(errorThrown)
        console.log('Error in Javascript event')
    })
    .complete(function() {});
});

$('a.undelete-my-document').live('click', function(event){
    event.preventDefault();
    var self = $(this);
    var data = {
        csrfmiddlewaretoken: '{{ csrf_raw_token }}'
    };
    $.ajax({
        type: 'POST',
        url: $(this).attr('href'),
        data: data,
    })
    .success(function(data, textStatus, jqXHR) {
        data = data;
        var div = self.closest('div');
        var td = self.closest('td');
        var tr = self.closest('tr');
        td.html(deleted_doc);
        $(deleted_doc).children().show();
    })
    .error(function(jqXHR, textStatus, errorThrown) { 
        console.log(jqXHR)
        console.log(textStatus)
        console.log(errorThrown)
        console.log('Error in Javascript event')
    })
    .complete(function() {});
});

$('a.clone-my-document').live('click', function(event){
    event.preventDefault();
    var self = $(this);
    var data = {
        csrfmiddlewaretoken: '{{ csrf_raw_token }}'
    };
    $.ajax({
        type: 'POST',
        url: $(this).attr('data-url'),
        data: data,
    })
    .success(function(data, textStatus, jqXHR) {
        data = data[0];
        window.location = data.url
    })
    .error(function(jqXHR, textStatus, errorThrown) { 
        console.log(jqXHR)
        console.log(textStatus)
        console.log(errorThrown)
        console.log('Error in Javascript event')
    })
    .complete(function() {});
});

deleted_doc = null;

});
</script>
{% endblock %}