<div id="" class="">
    <form action="" method="">{% csrf_token %}
        <fieldset id="base_elements">
            {{ form }}
		</fieldset>
		<div class="row-fluid">
			<div class="control-group">
				<button id="invite" type="submit" class="btn btn-primary btn-large"><i class="icon-plus-sign"></i></button>
			</div>
		</div>
		<div class="row-fluid">
			<div class="control-group">
				<button id="invite" type="submit" class="btn btn-primary btn-large">Invite</button>
			</div>
		</div>
    </form>
</div>