{% load i18n %}
{% load glynt_helpers %}
{% for object in object_list %}
<li>
  {% if object.is_signed %}
    <b>{{ object.signee_name }}</b> has signed this document: <span class="created">{% trans 'Signed' %} {% moment object.date_signed object.date_signed %}</span>
    <span class="created">{% trans 'Invited' %} {% moment object.date_invited object.date_invited %}</span>
    <script id="signature-json-{{ object.pk }}" type="text/javascript">{{ object.signature_as_string|default:''|safe }}</script>
    <div class="signaturePad" rel="signature-json-{{ object.pk }}">
      <div class="sig sigWrapper">
        <canvas class="pad" width="198" height="120"></canvas>
      </div>
    </div>
  {% else %}
    <b>{{ object.signee_name }}</b> has not signed this document
    <span class="created">{% trans 'Invited' %} {% moment object.date_invited object.date_invited %}</span><br/>
  {% endif %}
</li>
{% endfor %}