{% load i18n markup templatetag_handlebars %}
{% load url from future %}

<div id="signatory-detail">&nbsp;</div>
{% tplhandlebars "hb-signatory-detail" %}
<form class="form-horizontal">
<div id="modal-signatory-detail" class="modal hide" tabindex="-1" role="dialog">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">{% trans 'Invitee' %}</h3>
  </div>
  <div class="modal-body">
    {{#with invitee}}
    <input type="hidden" id="id_detail-id" name="detail-id" value="{{id}}"/>
    <div class="control-group">
      <div class="controls"><input class="input-large" type="text" id="id_detail-name" name="detail-name" value="{{name}}" placeholder="{% trans 'Name' %}" /></div>
    </div>
    <div class="control-group">
        <div class="controls"><div class="input-prepend"><span class="add-on">@</span><input class="input-large" type="text" id="id_detail-email" name="detail-email" value="{{email}}" placeholder="{% trans 'Email' %}" /></div></div>
    </div>
    {{/with}}
  </div>
  <div class="modal-footer">
    <button id="detail-done" type="button" class="submit btn btn-primary">{% trans 'Done' %}</button>
  </div>
</div>
</form>
{% endtplhandlebars %}

{% tplhandlebars "hb-invite-signatories" %}
<div id="invite-signatories">
  {{#if can_add_invite}}<a id="" href="#invitee-add" class="signatory_add">{% trans 'Invite another to Sign' %}</a>{{/if}}
  <span class="message">{{message}}</span>
  <form id="send-invite" class="form-horizontal">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}" />
    <ul id="invitees">
    {{#each invitees}}
    <li class="{{#unless has_signed}}has_not_signed{{^}}has_signed{{/unless}} {{#unless email}}no_email{{/unless}}">
      <input type="hidden" id="id_list-name" name="name" value="{{name}}" />
      <input type="hidden" id="id_list-email" name="email" value="{{email}}" />
      {{#if profile_picture}}<img class="{{#if has_signed}}has_signed{{/if}}" src="" data-postload_src="{{profile_picture}}" />{{/if}}
      <i class="icon-remove signatory_remove" data-index_lookup="{{id}}"></i>
      <a class="signatory_detail" data-index_lookup="{{id}}" title="{{email}}" href="">{{name}}</a> 
    </li>
    {{/each}}
    </ul>
    {{#if invitees}}
    <button id="submit-invitation" type="submit" class="btn btn-success btn-mini">{% trans 'Send Invites' %}</button>
    {{/if}}
  </form>
</div>
{% endtplhandlebars %}

<script type="text/javascript">
$(document).ready(function(){
//  console.log('{{target_element}}')
  /**
  * Invite To Sign Widget - Allows a list of signatories tobe generated
  * this list is then posted and the backend sends an invite email
  * and unique hash to the invitee list; those invitees are then invited
  * to sign this document
  */
  inviteToSignWidget = function inviteToSignWidget(params) {
    var self = this;

    self.target_element = params['target_element'];
    self.compiledTemplate = Handlebars.compile($('#hb-invite-signatories').html());
    self.compiledDetailTemplate = Handlebars.compile($('#hb-signatory-detail').html());
    self.inviteForm = 'form#send-invite';
    self.context = params;
    self.context['csrf_token'] = $.cookie('csrftoken');;
    self.context['invitees'] = (params['invitees'] != undefined) ? params['invitees']: [];
    self.context['can_add_invite'] = (params['can_add_invite'] === 'true') ? true: false;

    self.findInvitee = function findInvitee(id, find_by_key) {
      invitee = false;
      found_index = false;
      if (find_by_key == undefined) {
        find_by_key = 'id';
      }
      if (id) {
        $.each(self.context['invitees'], function(index, item) {
          if (item[find_by_key] == id) {
            invitee = item;
            found_index = index;
            return true;
          }
        });
      };
      return {'invitee': invitee, 'index': found_index};
    };

    self.add = function add(id, email, name, profile_picture, has_signed) {
      var item = self.findInvitee(id);
      if (item.index === false){
        self.context['invitees'].push({'id': id, 'email': email, 'name': name, 'profile_picture': profile_picture, 'has_signed': has_signed})
        self.render();
      };
    };

    self.update = function update(id, name, email) {
      var item = self.findInvitee(id);
      if (item.index === false) {
        // new invitee
        id = MD5(String(email));
        has_signed = false;
        profile_picture = '';// url to grayman
        self.add(id, email, name, profile_picture, has_signed);
      } else {
        // existing invitee
        // merge hashes
        $.extend(item.invitee, {'email': email, 'name': name});
        self.context['invitees'][item.index] = item.invitee;
      }
      self.render();
    };

    self.showDetailView = function showDetailView(id) {
      var selectedItem = {};

      $.each(self.context['invitees'], function(index, item){
        if (item.id == id) {
          item['index'] = index;
          selectedItem = item;
          return false;
        }
      });

      $( "#signatory-detail" ).html(self.compiledDetailTemplate({'invitee': selectedItem}));
      $('div#modal-signatory-detail').modal('show');
      $('div#modal-signatory-detail').find('#id_detail-name').select();
    };

    self.remove = function remove(id) {
      $.each(self.context['invitees'], function(index, item){
        if (item.id == id) {
          self.context['invitees'].splice(index, 1);
          self.removeInvitation(item.id);
          return false;
        }
      });
      self.render();
    };

    self.isValidEmail = function isValidEmail(email) {
        var filter = /^([\w-\.\+]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
        if (filter.test(email)) {
          return true;
        } else {
          return false;
        }
    };

    self.render = function render() {
      self.context['csrf_token'] =  $.cookie('csrftoken'); // update the csrf token and make it current
      self.target_element.html(self.compiledTemplate(self.context));
    };

    self.removeInvitation = function removeInvitation(id) {
      self.processRequest("{% url 'sign:delete_invite' pk=document.pk invitation_pk=0 %}".replace('/0/', '/'+ id +'/'), {}, 'DELETE', function(data, textStatus, jqXHR){ return null; }, function(xhrObj){ xhrObj.setRequestHeader("X-CSRFToken", $.cookie('csrftoken')); });
    };

    self.sendInvitation = function sendInvitation() {
      var form = $(self.inviteForm);
      self.processRequest("{% url 'sign:process_invite' pk=document.pk %}", form.serialize(), 'POST', function(data, textStatus, jqXHR){
        // need to update the local invitees with their new pk values
        $.each(data, function(index, item){
          invitee = self.findInvitee(item.email, 'email')
          if (invitee) {
            self.context['invitees'][invitee.index].id = item.pk;
          }
        });
      });
    };

    self.processRequest = function processRequest(url, data, type, successCallback, beforeSendCallback) {
      if (beforeSendCallback == undefined) {
        beforeSendCallback = null;
      }
      var form = $(self.inviteForm);
      $.ajax({
        type: type,
        beforeSend: beforeSendCallback,
        url: url,
        data: data,
      })
      .success(function(data, textStatus, jqXHR) {
          var response_data = $.parseJSON(data);
          self.context['message'] = 'success';
          if (successCallback != undefined) {
            successCallback(response_data, textStatus, jqXHR);
          }
      })
      .error(function(jqXHR, textStatus, errorThrown) { 
        self.context['message'] = 'Error: ' + errorThrown;
      })
      .complete(function(jqXHR, textStatus) {
        self.render();
      });
    };

    self.setupInterface = function setupInterface() {
      $(self.target_element).addClass('invitee-vehicle');

      $('#submit-invitation').live('click', function(event){
          event.preventDefault();
          self.sendInvitation();
      });
      $('.signatory_add').live('click', function(event){
          event.preventDefault();
          self.showDetailView();
      });
      $('.signatory_detail').live('click', function(event){
          event.preventDefault();
          self.showDetailView($(this).attr('data-index_lookup'));
      });
      $('.signatory_remove').live('click', function(event){
          event.preventDefault();
          self.remove($(this).attr('data-index_lookup'));
      });
      $('div#modal-signatory-detail"').modal('hide');
      $('button#detail-done').live('click', function(event){
          event.preventDefault();
          var control_group = $(this).closest('form');
          // set values
          id = control_group.find('[name=detail-id]').val();
          name = control_group.find('[name=detail-name]').val();
          email = control_group.find('[name=detail-email]').val();
          // validate email
          if (name != '' && email != '' && self.isValidEmail(email)) {
            self.update(id, name, email);
            $('div#modal-signatory-detail"').modal('hide');
          } else {
            // allow for use cases
            if (name == '' && email == '') {
              $('div#modal-signatory-detail"').modal('hide');
            }
          }

      });

    };

    self.argosPanOptiaCallback = function argosPanOptiaCallback(contact_ob) {
      self.add(contact_ob.id, contact_ob.email, contact_ob.name, contact_ob.profile_picture, false);
    };

    self.argosPanOptiaData = function argosPanOptiaData(invitee_list) {
      invitee_list = $.parseJSON(invitee_list);
      if (invitee_list) {
        $.each(invitee_list, function(index, contact_ob) {
          if (contact_ob.id && contact_ob.name) {
            self.add(contact_ob.id, contact_ob.email, contact_ob.name, contact_ob.profile_picture, contact_ob.is_signed);
          };
        });
      };
    };

    self.init = function init(params) {
      self.target_element = params['target_element'];
      self.setupInterface();

      // register our callback with the App observer
      App.registerCallback('invitee.data', self.argosPanOptiaData);
      App.registerCallback('invitee.add', self.argosPanOptiaCallback);

      // send the data to the invite widget
      App.dispatch('invitee.data', $('script#js-invitee-list').html());

      self.render();
    };

    self.init(params);
  };
{% if target_element %}
  // if we have a target_element specified then instantiate the invite widget
  var inviteToSign = new inviteToSignWidget({'target_element': $('{{ target_element }}'), 'can_add_invite': $('{{ target_element }}').attr('data-can_add_invite') });
{% endif %}

});
</script>

<style>
  .invitee-vehicle {
    margin:5px 0px;
    padding:0px 5px 5px 5px;
  }
  ul#invitees {
    list-style:none;
    margin:10px 0px;
    padding:0px;
  }
  ul#invitees li {
    border:solid #ccc 2px;
  }
  ul#invitees li.no_email {
    border:solid #c00 2px;
  }
  ul#invitees li.has_not_signed {
    background-color:#fca;
  }
  ul#invitees li.has_signed {
    border:solid #0c0 2px;
    background-color:#0c0;
  }
</style>