{% load glynt_helpers %}
<div style="color: #6c797c !important; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; line-height: 1.5em; margin: 0 0 10px 0; padding: 0;">
    {% if profile_photo %}
    <span style="margin: 0 2px 0 0;">
        <img src="{{ profile_photo }}" height="24" width="24" style="display: inline; vertical-align: top;">
    </span>{% endif %}
    <p style="display: inline; margin: 0;">
        {{ actor }} has commented on <a href="{% current_site_domain %}{{ url }}">{{ project }}</a>
    </p>
    {% if content %}<p>{{ content }}<p>{% endif %}
</div>
