{% extends 'base.html' %}{% load crispy_forms_tags invite_tags account_tags jsonify %}

{% block page_title %}Sign up to LawPal{% endblock %}
{% block bodyclass %}startup-form{% endblock %}


{% block prebody %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/theme/social-buttons.css">

<div id="hero">
    <div class="container">
        <div class="row animated fadeInDown">
            <div class="span12">
                <h1>Sign up to LawPal</h1>
            </div>
        </div>
    </div>
</div>
<div class="container profile">
    <div class="row">
        <div class="span12">
            <form id="startupSignUp" data-validate="parsley" action="" method="POST" class="form-horizontal">{% csrf_token %}
                <div class="row">
                    <div class="span12">
                        <legend>Your details</legend>
                    </div>
                </div>
                <div class="row">
                    <div class="span5">
                        <div class="control-group">
                            {{ form.first_name|as_crispy_field }}
                        </div>
                    </div>
                    <div class="span5">
                        <div class="control-group">
                            {{ form.last_name|as_crispy_field }}
                        </div>
                    </div>
                </div>
                <div class="row">
                   <div class="span12">
                        <legend>Tell us about your company</legend>
                    </div>
                </div>
                <div class="row">
                    <div class="span8">
                        <div class="control-group">
                            {{ form.startup_name|as_crispy_field }}
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <p>Tick all that apply</p>
                                <label class="checkbox">{{ form.already_raised_capital }} We have <strong>already raised capital</strong></label>
                                <label class="checkbox">{{ form.process_raising_capital }} We are in the process <strong>raising capital</strong></label>
                                <label class="checkbox">{{ form.incubator_or_accelerator }} We are <strong>part of an incubator</strong> or accelerator</label>
                            </div>
                        </div>
                        <div id="incubators" class="control-group hidden">
                            {{ form.incubator_or_accelerator_name|as_crispy_field }}
                        </div>
                    </div>
                </div>
                <div id="form-submit" class="row">
                    <div class="span12 divide">
                        <div class="form-actions">
                            <label class="checkbox">
                                <div id="div_id_agree_tandc" class="control-group">
                                    <div class="controls">
                                        <label class="checkbox">
                                            {{ form.agree_tandc }} I agree to the LawPal <a href="/legal/terms/">Terms and Conditions</a>
                                        </label>
                                    </div>
                                </div>
                            </label>
                            <button id="update-profile" type="submit" class="btn btn-primary btn-large">Create your account</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

{% endblock %}

{% block css %}
<style>
    .hidden { display: none; }
</style>
{% endblock %}

{% block js %}
<script>
    $(document).ready(function() {
        $('.incubator').change(function(){
            if( $(this).is(':checked')) {
                $("#incubators").removeClass('hidden');
            } else {
                $("#incubators").addClass('hidden');
            }
        });
    });
</script>

{% endblock %}
