{% extends 'base.html' %}{% load crispy_forms_tags invite_tags account_tags jsonify %}

{% block page_title %}Start using LawPal{% endblock %}
{% block bodyclass %}startup-form{% endblock %}
{% block prebody %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/theme/social-buttons.css">
<div class="container profile">
    <div class="row">
        <div class="span4">
            <img src="{{ STATIC_URL }}img/welcome-circle.jpg" class="logo-head">
        </div>
        <div class="span8 pull-right">
            <h1>Start using LawPal</h1>            
            <form id="startupSignUp" data-validate="parsley" action="" method="POST" class="form-horizontal compact">{% csrf_token %}
                <div class="row">
                    <div class="span8">
                        <legend>Your details</legend>
                    </div>
                    <div class="span8">
                        <div class="control-group">
                            {{ form.first_name|as_crispy_field }}
                        </div>
                        <div class="control-group">
                            {{ form.last_name|as_crispy_field }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span8">
                        <div class="control-group">
                            <label class="control-label" for="inputPassword">{{ form.photo.label }}</label>
                            <div class="controls">
                                {{ form.photo.errors }}
                                <div class="input">
                                    {{ form.photo }}
                                    {{ form.hidden_photo }}
                                </div>
                              <span class="help-block">A good photo makes all the difference.</span>
                            </div>
                        </div>
                    </div>
                    <div class="span4">
                        <img id="photo-preview" width="130" height="130" src="{{ founder.profile_photo }}">
                    </div>
                </div>
                <div class="row">
                    <div class="span8">
                        <legend>Tell us about your startup</legend>
                        <div class="control-group">
                            {{ form.startup_name|as_crispy_field }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span8">
                        <div class="control-group">
                            {{ form.website|as_crispy_field }}
                        </div>
                        <div class="control-group">
                            {{ form.summary|as_crispy_field }}
                        </div>
                        <div class="control-group">
                            <label class="control-label">Tick all that apply</label>
                            <div class="controls">
                                <label class="checkbox">{{ form.already_incorporated }} We have <strong>already incorporated a company</strong></label>
                                <label class="checkbox">{{ form.already_raised_capital }} We have <strong>already raised capital</strong></label>
                                <label class="checkbox">{{ form.process_raising_capital }} We are in the process <strong>raising capital</strong></label>
                                <br />
                                <p>We are part of an <strong>incubator or accelerator : </strong></p>
                            </div>
                        </div>
                        <div id="incubators" class="control-group">
                            {{ form.incubator_or_accelerator_name|as_crispy_field }}
                        </div>
                    </div>
                </div>
                <div id="form-submit" class="row">
                    <div class="span8 divide">
                        <div class="form-actions">
                            <label class="checkbox">
                                <div id="div_id_agree_tandc" class="control-group">
                                    <div class="controls">
                                        <label class="checkbox">
                                            {{ form.agree_tandc }} I agree to the LawPal <a href="/legal/terms/">Terms and Conditions</a>
                                        </label>
                                    </div>
                                </div>
                            </label>
                            <button id="update-profile" type="submit" class="btn btn-primary btn-large">Save</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

{% endblock %}

{% block css %}
<style>
    img#photo-preview{
        border:solid #ccc 2px;
        min-height: 50px;
        min-width: 50px;
        max-height: 130px;
        max-width: 130px;
    }
    .hidden { display: none; }
    #id_incubator_or_accelerator_name {
        margin-top:-15px;
    }
    .logo-head{
        margin-top:40px;
        float:left;
    }
    h1 {
        margin-top:80px;
        font-size:50px;
        color:#ccc;
    }
</style>
{% endblock %}

{% block js %}
<!-- # include cicu etc -->
{{ form.media }}

<script>
function preparePhotoPreview(element) {
    var element = $('.cropped-imag-preview');
    var cookie_data = $.parseJSON($.cookie('startup_profile_photo-{{ founder.pk }}'));

    $.each(element.find('img#photo-preview'), function(i,img){
        img = $(img)
        src = img.attr('src');

        photo_id = null;

        /**
        * Stores the photo ID in a field
        */
        if (cookie_data && cookie_data.id !== undefined) {
            photo_id = cookie_data.id;
            $('#id_hidden_photo').val(photo_id);
            //src = cookie_data.path;
        }

        if (src) {
            $('#photo-preview').attr('src', src)
        }

        img.hide();
    })
}

function photoCrop(element, data) {
    $('#id_hidden_photo').val(data.id);// id to be sent
    $.cookie('lawyer_profile_photo-{{ user.pk }}', JSON.stringify({'id': data.id, 'path': data.path}));
    preparePhotoPreview(element);
}

$(document).ready(function() {
    $('#supplied').live('change', function(){
         if ( $(this).attr("checked")) {
             $('.date').show();
         } else {
             $('.date').hide();
         }
    });
});
</script>

{% endblock %}
