{% extends 'base.html' %}{% load crispy_forms_tags invite_tags account_tags jsonify %}

{% block page_title %}Sign up to LawPal{% endblock %}
{% block bodyclass %}startup-form{% endblock %}


{% block prebody %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/theme/social-buttons.css">

<div id="hero">
    <div class="container">
        <div class="row animated fadeInDown">
            <div class="span12">
                <h1>Sign up to LawPal</h1>
            </div>
        </div>
    </div>
</div>
<div class="container profile">
    <div class="row">
        <div class="span12">
            <form id="startupSignUp" data-validate="parsley" action="" method="POST" class="form-horizontal">
                <div class="row">
                    <div class="span12">
                        <legend>Confirm your details</legend>
                    </div>
                </div>
                <div class="row">
                    <div class="span5">
                        <div class="control-group">
                            <label class="control-label" for="inputFirstName">First Name</label>
                            <div class="controls">
                                <input type="text" id="inputFirstName" placeholder="First Name" tabindex="1">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputEmail">Email</label>
                            <div class="controls">
                                <input type="text" id="inputEmail" placeholder="Email address" tabindex="3">
                            </div>
                        </div>
                    </div>
                    <div class="span5">
                        <div class="control-group">
                            <label class="control-label" for="inputLastName">Last Name</label>
                            <div class="controls">
                                <input type="text" id="inputLastName" placeholder="Last Name" tabindex="2">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputLastName">Password</label>
                            <div class="controls">
                                <input type="text" id="inputPassword" placeholder="Enter your password" tabindex="4">
                            </div>
                        </div>
                       <div class="control-group">
                            <div class="controls">
                                <input type="text" id="inputPasswordConfirm" placeholder="Enter your password again" tabindex="5">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                   <div class="span12">
                        <legend>Tell us about your company</legend>
                    </div>
                </div>
                <div class="row">
                    <div class="span8">
                        <div class="control-group">
                            <label class="control-label" for="inputCompanyName">Company name</label>
                            <div class="controls">
                                <input type="text" id="inputCompanyName" placeholder="Acme Inc" tabindex="6">
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <p>Tick all that apply</p>
                                <label class="checkbox"><input type="checkbox" tabindex="7"> We have <strong>already raised capital</strong></label>
                                <label class="checkbox"><input type="checkbox" tabindex="8"> We are in the process <strong>raising capital</strong></label>
                                <label class="checkbox"><input type="checkbox" tabindex="9"> We are <strong>part of an incubator</strong> or accelerator</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="form-submit" class="row">
                    <div class="span12 divide">
                        <div class="form-actions">
                            <label class="checkbox">
                                <div id="div_id_agree_tandc" class="control-group">
                                    <div class="controls">
                                        <label class="checkbox">
                                            <input type="checkbox" tabindex="10"> I agree to the LawPal <a href="/legal/terms/">Terms and Conditions</a>
                                        </label>
                                    </div>
                                </div>
                            </label>
                            <button id="update-profile" type="submit" class="btn btn-primary btn-large">Create your account</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

{% endblock %}

{% block css %}
<style>
</style>
{% endblock %}

{% block js %}

</script>

{% endblock %}
