{% extends 'base.html' %}{% load url from future %}

{% block page_title %}Welcome to LawPal{% endblock %}
{% block bodyclass %}startup-welcome{% endblock %}

{% block prebody %}
<div id="hero">
    <div class="container">
        <!-- starts carousel -->
        <div class="row animated fadeInDown">
            <div class="span12">
                <h1>Hey {{ user.first_name|default:user }}, a warm welcome to LawPal</h1>
                <br />
                <br />
            </div>
        </div>
    </div>
</div>
<div class="container screenshots">
    <div class="row">
        <div class="span6">
            <img src="{{ STATIC_URL }}img/preview.jpg">
        </div>
        <div class="span6">
            <img src="{{ STATIC_URL }}img/preview2.jpg">
        </div>
    </div>
</div>
<div class="container profile">
    <div class="row">
        <div class="span12">
            <h1>Claim your profile and join the LawPal community</h1>
            <br />
            <a href="{% url 'startup:setup_profile' %}" class="btn btn-large btn-primary">Complete your profile</a> or <a href="{% url 'transact:selection' %}" class="btn btn-success btn-large">Start a new Transaction</a>
            <br />
            <br />
            <p>
                We are building a platform which will allow you to connect with new startups seeking outside council. Soon you will be able to save your time and save your clients money by using LawPal to manage your new and existing relationships.
            </p>
            <p> 
                 Your profile is already up and running, but why not add more information so founders can easily direct themselves to your page and find out all about you.
            </p>
        
        </div>
    </div>
</div>

{% endblock %}