{% load i18n %}
<ul data-stream_list class="list-unstyled activity">
    {% for a in stream %}
        <li {% if a.data.content %}class="comment"{% endif %}>
            {{ a.verb }} <b>{{ a.data.attachment_name }}</b>
            {% if a.data.page %}<br/><span class="text-muted pull-right">Page: {{ a.data.page }}</span>{% endif %}
            <span class="text-muted pull-right">{{ a.timestamp|timesince }} <!-- {% trans "ago" %} --></span>
            {% if a.data.content %}
                <blockquote>{{ a.data.content }}</blockquote>
            {% endif %}
        </li>
    {% empty %}
        <!-- <li class="text-muted">{% trans 'No updates yet' %}</li> -->
    {% endfor %}
</ul>