{% extends 'userena/base_userena.html' %}
{% load url from future %}
{% load i18n %}
{% load facebook %}


{% block title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<div class="" style="height:40px;overflow:hidden;padding-top:6px">
    <fb:login-button id="fb_login-button" size="medium" scope="{{ FACEBOOK_REQUEST_PERMISSIONS }}" on-login="SocialFBLogin();">Connect with Facebook</fb:login-button>
    <img id="fb-profile-image" src="" style="display:none;" width="25" height="25" />
    <span id="fb-profile-name"></span>
</div>

<form id="user-signup" action="{% url 'client:signup' %}" method="post">
  {% csrf_token %}
  <fieldset>
    <legend>{% trans "Signup" %}</legend>
    {{ form.non_field_errors }}
    {% for field in form %}
    {{ field.errors }}
    {% comment %} Displaying checkboxes differently {% endcomment %}
    {% if field.name == 'tos' %}
    <p class="checkbox">
    <label for="id_{{ field.name }}">{{ field }} {{ field.label }}</label>
    </p>
    {% else %}
    <p>
    {{ field.label_tag }} 
    {{ field }}
    </p>
    {% endif %}
    {% endfor %}
  </fieldset>
  <button class="submit" id="user-signup-submit">{% trans "Signup"%}</button>
</form>
{% endblock %}

{% block js %}
{% if not request.user.is_authenticated %}
    {% facebook_button %}
{% endif %}
{% endblock %}