{% extends 'userena/base_userena.html' %}
{% load url from future %}
{% load i18n %}


{% block title %}{% trans "Signup" %}{% endblock %}

{% block content %}

{% include 'client/partials/signin_providers.html' %}

<form id="user-signup" class="form-horizontal" action="{% url 'client:signup' %}" method="post">{% csrf_token %}
  {{ form }}
  <br/>
  <div class="form-actions">
      <button id="user-signup-submit" type="submit" class="submit btn btn-primary">{% trans "Signup" %}</button>
  </div>
</form>
{% endblock %}
