{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load glynt_helpers %}
{% load url from future %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block content %}

{% include 'client/partials/signin_providers.html' %}
<p class="forgotten">Already have an account but forgot your password? <a href="{% url 'userena_password_reset' %}"> {% trans "Reset it" %}</a></p>
<form id="user-signup" class="form-horizontal" action="{% url 'client:signup' %}" method="post">{% csrf_token %}
  {{ form }}
  <br/>
  <div class="form-actions">
      <button id="user-signup-submit" type="submit" class="submit btn btn-primary">{% trans "Signup" %}</button>
  </div>
</form>

{% show_loading %}

{% endblock %}
